<?xml version="1.0"?><!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  <httpHandlers><add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></httpHandlers></system.web>
  <appSettings>
    <add key="Host" value="Spe001001-078.mapfreperu.com"/>
    <add key="CredUsuario" value="weboim"/>
    <add key="CredPass" value="w3bo1m.2011"/>
    <add key="EmailDestinatLog" value="aalvarado@netipp-aprz.com"/>
    <add key="EmailRemiteLog" value="nfire@mapfreperu.com"/>
    <add key="EnvioLog" value="S"/>
    <add key="DirTemp" value="C:\temp\"/>
    <add key="rutaxml" value="D:\FTELLO\SOAT LOURDES\SPOOLL_UNIX\"/>

    <!--INICIO:DIRECTORIOS-->
    <add key="DirExcel" value="C:\SPOOL_UNIX\SERVICIO_CENTRAL\"/>
    <add key="PlantillaExcel" value="C:\SPOOL_UNIX\SERVICIO_CENTRAL\Plantilla\Plantilla.xls"/>
    <add key="DirRecibos" value="C:\SPOOL_UNIX\SERVICIO_CENTRAL\Recibos\"/>
    <add key="DirConstancias" value="C:\SPOOL_UNIX\SERVICIO_CENTRAL\Constancias\"/>
    <add key="DirReportes_RTP" value="C:\SPOOL_UNIX\SERVICIO_CENTRAL\Reportes_RPT\"/>
    <!--FIN:DIRECTORIOS-->
    
    <!--INICIO IMPERSONATE-->
    <add key="UserNameImp" value="usrproce"/>
    <add key="UserPassImp" value="*up12345"/>
    <add key="DominioImp" value="mapfreperu.com"/>
    <!--FIN IMPERSONATE-->
  </appSettings>
  <connectionStrings>
    <!--DESARROLLO-->
    <!--<add name="OracleWebCon" connectionString="Data Source=WEBDES.mapfreperu.com; Persist Security Info=True;User ID=oim;Password=oim;Unicode=True" providerName="System.Data.OracleClient"/>-->
    <!--<add name="OracleTronCon" connectionString="Data Source=TRONDES.MAPFREPERU.COM; Persist Security Info=True;User ID=tron2000;Password=tron2000;Unicode=True" providerName="System.Data.OracleClient"/>-->
    <!--PRUEBAS-->
    <add name="OracleWebCon" connectionString="Data Source=WEBPRU.mapfreperu.com; Persist Security Info=True;User ID=nfire;Password=nfire;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="OracleTronCon" connectionString="Data Source=TRONPRU.MAPFREPERU.COM; Persist Security Info=True;User ID=nfire;Password=mapfre2013.;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>
<system.webServer><handlers><add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/></handlers><validation validateIntegratedModeConfiguration="false"/></system.webServer></configuration>