<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.acme.domain.mybatis.mapper.MembInfoExtMapper" >
  <resultMap id="BaseResultMap" type="pe.com.acme.domain.mybatis.model.MembInfoExt" >
    <id column="memb_guid" property="memb_guid" jdbcType="INTEGER" />
    <result column="nombres" property="nombres" jdbcType="VARCHAR" />
    <result column="ape_pater" property="ape_pater" jdbcType="VARCHAR" />
    <result column="ape_mater" property="ape_mater" jdbcType="VARCHAR" />
    <result column="fecha_nacimiento" property="fecha_nacimiento" jdbcType="DATE" />
    <result column="fecha_registro" property="fecha_registro" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    memb_guid, nombres, ape_pater, ape_mater, fecha_nacimiento, fecha_registro
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.acme.domain.mybatis.model.MembInfoExtExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.MEMB_INFO_EXT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="pe.com.acme.domain.mybatis.model.MembInfoExtKey" >
    select 
    <include refid="Base_Column_List" />
    from dbo.MEMB_INFO_EXT
    where memb_guid = #{memb_guid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="pe.com.acme.domain.mybatis.model.MembInfoExtKey" >
    delete from dbo.MEMB_INFO_EXT
    where memb_guid = #{memb_guid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pe.com.acme.domain.mybatis.model.MembInfoExtExample" >
    delete from dbo.MEMB_INFO_EXT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.acme.domain.mybatis.model.MembInfoExt" >
    insert into dbo.MEMB_INFO_EXT (memb_guid, nombres, ape_pater, 
      ape_mater, fecha_nacimiento, fecha_registro
      )
    values (#{memb_guid,jdbcType=INTEGER}, #{nombres,jdbcType=VARCHAR}, #{ape_pater,jdbcType=VARCHAR}, 
      #{ape_mater,jdbcType=VARCHAR}, #{fecha_nacimiento,jdbcType=DATE}, #{fecha_registro,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="pe.com.acme.domain.mybatis.model.MembInfoExt" >
    insert into dbo.MEMB_INFO_EXT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memb_guid != null" >
        memb_guid,
      </if>
      <if test="nombres != null" >
        nombres,
      </if>
      <if test="ape_pater != null" >
        ape_pater,
      </if>
      <if test="ape_mater != null" >
        ape_mater,
      </if>
      <if test="fecha_nacimiento != null" >
        fecha_nacimiento,
      </if>
      <if test="fecha_registro != null" >
        fecha_registro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memb_guid != null" >
        #{memb_guid,jdbcType=INTEGER},
      </if>
      <if test="nombres != null" >
        #{nombres,jdbcType=VARCHAR},
      </if>
      <if test="ape_pater != null" >
        #{ape_pater,jdbcType=VARCHAR},
      </if>
      <if test="ape_mater != null" >
        #{ape_mater,jdbcType=VARCHAR},
      </if>
      <if test="fecha_nacimiento != null" >
        #{fecha_nacimiento,jdbcType=DATE},
      </if>
      <if test="fecha_registro != null" >
        #{fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.acme.domain.mybatis.model.MembInfoExtExample" resultType="java.lang.Integer" >
    select count(*) from dbo.MEMB_INFO_EXT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dbo.MEMB_INFO_EXT
    <set >
      <if test="record.memb_guid != null" >
        memb_guid = #{record.memb_guid,jdbcType=INTEGER},
      </if>
      <if test="record.nombres != null" >
        nombres = #{record.nombres,jdbcType=VARCHAR},
      </if>
      <if test="record.ape_pater != null" >
        ape_pater = #{record.ape_pater,jdbcType=VARCHAR},
      </if>
      <if test="record.ape_mater != null" >
        ape_mater = #{record.ape_mater,jdbcType=VARCHAR},
      </if>
      <if test="record.fecha_nacimiento != null" >
        fecha_nacimiento = #{record.fecha_nacimiento,jdbcType=DATE},
      </if>
      <if test="record.fecha_registro != null" >
        fecha_registro = #{record.fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dbo.MEMB_INFO_EXT
    set memb_guid = #{record.memb_guid,jdbcType=INTEGER},
      nombres = #{record.nombres,jdbcType=VARCHAR},
      ape_pater = #{record.ape_pater,jdbcType=VARCHAR},
      ape_mater = #{record.ape_mater,jdbcType=VARCHAR},
      fecha_nacimiento = #{record.fecha_nacimiento,jdbcType=DATE},
      fecha_registro = #{record.fecha_registro,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.com.acme.domain.mybatis.model.MembInfoExt" >
    update dbo.MEMB_INFO_EXT
    <set >
      <if test="nombres != null" >
        nombres = #{nombres,jdbcType=VARCHAR},
      </if>
      <if test="ape_pater != null" >
        ape_pater = #{ape_pater,jdbcType=VARCHAR},
      </if>
      <if test="ape_mater != null" >
        ape_mater = #{ape_mater,jdbcType=VARCHAR},
      </if>
      <if test="fecha_nacimiento != null" >
        fecha_nacimiento = #{fecha_nacimiento,jdbcType=DATE},
      </if>
      <if test="fecha_registro != null" >
        fecha_registro = #{fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    where memb_guid = #{memb_guid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.com.acme.domain.mybatis.model.MembInfoExt" >
    update dbo.MEMB_INFO_EXT
    set nombres = #{nombres,jdbcType=VARCHAR},
      ape_pater = #{ape_pater,jdbcType=VARCHAR},
      ape_mater = #{ape_mater,jdbcType=VARCHAR},
      fecha_nacimiento = #{fecha_nacimiento,jdbcType=DATE},
      fecha_registro = #{fecha_registro,jdbcType=TIMESTAMP}
    where memb_guid = #{memb_guid,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="pe.com.acme.domain.mybatis.model.MembInfoExtExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.MEMB_INFO_EXT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>