<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.acme.domain.mybatis.mapper.MembInfoReferidoMapper" >
  <resultMap id="BaseResultMap" type="pe.com.acme.domain.mybatis.model.MembInfoReferido" >
    <id column="id_referido" property="id_referido" jdbcType="INTEGER" />
    <result column="memb___id_referido" property="memb___id_referido" jdbcType="VARCHAR" />
    <result column="memb___id" property="memb___id" jdbcType="VARCHAR" />
    <result column="fecha_registro" property="fecha_registro" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id_referido, memb___id_referido, memb___id, fecha_registro
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.acme.domain.mybatis.model.MembInfoReferidoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.MEMB_INFO_REFERIDO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="pe.com.acme.domain.mybatis.model.MembInfoReferidoKey" >
    select 
    <include refid="Base_Column_List" />
    from dbo.MEMB_INFO_REFERIDO
    where id_referido = #{id_referido,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="pe.com.acme.domain.mybatis.model.MembInfoReferidoKey" >
    delete from dbo.MEMB_INFO_REFERIDO
    where id_referido = #{id_referido,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pe.com.acme.domain.mybatis.model.MembInfoReferidoExample" >
    delete from dbo.MEMB_INFO_REFERIDO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.acme.domain.mybatis.model.MembInfoReferido" useGeneratedKeys="true" keyProperty="id_referido" >
    insert into dbo.MEMB_INFO_REFERIDO (memb___id_referido, memb___id, fecha_registro
      )
    values (#{memb___id_referido,jdbcType=VARCHAR}, #{memb___id,jdbcType=VARCHAR}, #{fecha_registro,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="pe.com.acme.domain.mybatis.model.MembInfoReferido" useGeneratedKeys="true" keyProperty="id_referido" >
    insert into dbo.MEMB_INFO_REFERIDO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memb___id_referido != null" >
        memb___id_referido,
      </if>
      <if test="memb___id != null" >
        memb___id,
      </if>
      <if test="fecha_registro != null" >
        fecha_registro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memb___id_referido != null" >
        #{memb___id_referido,jdbcType=VARCHAR},
      </if>
      <if test="memb___id != null" >
        #{memb___id,jdbcType=VARCHAR},
      </if>
      <if test="fecha_registro != null" >
        #{fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.acme.domain.mybatis.model.MembInfoReferidoExample" resultType="java.lang.Integer" >
    select count(*) from dbo.MEMB_INFO_REFERIDO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dbo.MEMB_INFO_REFERIDO
    <set >
      <if test="record.id_referido != null" >
        id_referido = #{record.id_referido,jdbcType=INTEGER},
      </if>
      <if test="record.memb___id_referido != null" >
        memb___id_referido = #{record.memb___id_referido,jdbcType=VARCHAR},
      </if>
      <if test="record.memb___id != null" >
        memb___id = #{record.memb___id,jdbcType=VARCHAR},
      </if>
      <if test="record.fecha_registro != null" >
        fecha_registro = #{record.fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dbo.MEMB_INFO_REFERIDO
    set id_referido = #{record.id_referido,jdbcType=INTEGER},
      memb___id_referido = #{record.memb___id_referido,jdbcType=VARCHAR},
      memb___id = #{record.memb___id,jdbcType=VARCHAR},
      fecha_registro = #{record.fecha_registro,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.com.acme.domain.mybatis.model.MembInfoReferido" >
    update dbo.MEMB_INFO_REFERIDO
    <set >
      <if test="memb___id_referido != null" >
        memb___id_referido = #{memb___id_referido,jdbcType=VARCHAR},
      </if>
      <if test="memb___id != null" >
        memb___id = #{memb___id,jdbcType=VARCHAR},
      </if>
      <if test="fecha_registro != null" >
        fecha_registro = #{fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id_referido = #{id_referido,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.com.acme.domain.mybatis.model.MembInfoReferido" >
    update dbo.MEMB_INFO_REFERIDO
    set memb___id_referido = #{memb___id_referido,jdbcType=VARCHAR},
      memb___id = #{memb___id,jdbcType=VARCHAR},
      fecha_registro = #{fecha_registro,jdbcType=TIMESTAMP}
    where id_referido = #{id_referido,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="pe.com.acme.domain.mybatis.model.MembInfoReferidoExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.MEMB_INFO_REFERIDO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>