<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="pe.com.acme.query.mybatis.mapper.ProveedorQueryMapper">

<sql id="outs"> 
<![CDATA[

p.id_persona,
p.razon_social,
p.num_tipo_doc,
pt.id_estado,
v.descrip_item as descrip_estado,
to_char(p.fecha_registro,'dd/mm/yyyy') fecha_registro,
to_char(p.fecha_modificacion,'dd/mm/yyyy') fecha_modificacion,
p.id_usuario_reg,
p.id_usuario_mod

]]>
</sql> 

<sql id="from"> 
<![CDATA[

general.persona p

inner join general.persona_tipo pt on p.id_persona = pt.id_persona
INNER join general.vw_catalogo v on pt.id_estado = v.valor_item and v.nombre_catalogo = 'estado_generico'
INNER join general.vw_catalogo v1 on p.id_tipo_doc = v1.valor_item and v1.nombre_catalogo = 'tipo_documento_identidad'

]]>
</sql> 

<sql id="inputs"> 
<![CDATA[

p.id_persona = coalesce(#{id_persona},p.id_persona)
and upper(p.razon_social) like coalesce('%'|| upper(#{razon_social}) || '%', upper(p.razon_social))
and p.num_tipo_doc = coalesce(#{num_tipo_doc},p.num_tipo_doc)
and pt.id_estado = coalesce(#{id_estado},pt.id_estado)
and pt.id_sub_tipo_persona = 3
and pt.id_tipo_persona = 2

]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${order_column} ${order_direction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="pe.com.acme.query.mybatis.model.ProveedorQuery" parameterType="pe.com.acme.query.mybatis.model.ProveedorQueryCriteria">
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="pe.com.acme.query.mybatis.model.ProveedorQuery" parameterType="java.util.Map">
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="pe.com.acme.query.mybatis.model.ProveedorQuery" parameterType="pe.com.acme.query.mybatis.model.ProveedorQueryCriteria">
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="pe.com.acme.query.mybatis.model.ProveedorQuery" parameterType="java.util.Map">
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="pe.com.acme.query.mybatis.model.ProveedorQueryCriteria">
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
