/**
* Copyright «©» ${anho}, FOCUS CONSULTORES ASOCIADOS SAC. All rights reserved.
*
* This file is part of ${nameApp}.
*
* ${nameApp} is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* ${nameApp} is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with ${nameApp}.  If not, see <http://www.gnu.org/licenses/>.
*/	 

/**
* GENERATOR CRUD EXT JS 5            
* BY FOCUS CONSULTORES ASOCIADOS SAC  
* DATE CREATE : ${datetimeCreate}
* VERSION : 1.0 
*/

package ${packageController};

import java.util.ArrayList;
import java.util.List;
import java.util.Map;

import org.apache.struts2.convention.annotation.Action;
import org.apache.struts2.convention.annotation.Namespace;
import org.apache.struts2.convention.annotation.Result;
import org.apache.struts2.convention.annotation.ResultPath;
import org.springframework.beans.factory.annotation.Autowired;

import pe.com.focus.util.ActionHelper;
import pe.com.focus.util.BusinessException;
import pe.com.focus.util.ExtJsStrutsUtil;

import ${packageService}.${nameService}Service;
import ${classModel};
import ${classMapperModel};

#foreach( $e in $subModels )
import ${e.classModel};
import ${e.classMapperModel};
#end

@Namespace("${module}")
@ResultPath(value="/")
public class ${nameController}Action extends ActionHelper {


	private static final long serialVersionUID = 1L;

	@Autowired
	private ${nameService}Service ${varNameService}Service;
	private ${nameModel} ${nameVarModel};
#foreach( $e in $subModels )
	private ${e.nameModel} ${e.nameVarModel};
#end
	
	@Action(value="${nameController}View", results={@Result(name="success",type="json")})
	public String view(){
		
		try{
			
			int start = this.getIntegerParameter("start");
			int limit = this.getIntegerParameter("limit");
			Map<String, Object> paramMap = this.loadParamMap();
			
			List<${nameModel}> list${nameModel} = ${varNameService}Service.getListByQuery(${nameMapperModel}.class, paramMap,start,limit);
			int size = ${varNameService}Service.getCountRowsByQuery(${nameMapperModel}.class, paramMap);
			this.success(list${nameModel},size);
			
		}catch(BusinessException e){
			this.exception(e.getMessage());
		}
		
		return SUCCESS;
	}
	
	@SuppressWarnings("unchecked")
	@Action(value = "${nameController}Create",results = {@Result(name="success",type = "json")})
	public String create(){
		
		try{
#foreach( $e in $subModels )
			List<${e.nameModel}> list${e.nameModel} = (List<${e.nameModel}>) this.getSessionContext().getAttribute("${e.nameModel}List");
#end
			${varNameService}Service.create(${nameVarModel},${lists});
#foreach( $e in $subModels )
			this.getSessionContext().setAttribute("${e.nameModel}List",null);
#end
			this.success(${nameVarModel}, "Operation Success.");
			
		}catch(BusinessException e){
			this.exception(e.getMessage());
		}
		
		return SUCCESS;
	}
	
	@SuppressWarnings("unchecked")
	@Action(value = "${nameController}Save",results = {@Result(name="success",type = "json")})
	public String save(){
		
		try{
#foreach( $e in $subModels )
			List<${e.nameModel}> list${e.nameModel} = (List<${e.nameModel}>) this.getSessionContext().getAttribute("${e.nameModel}List");
#end
			${varNameService}Service.save(${nameVarModel},${lists});
#foreach( $e in $subModels )
			this.getSessionContext().setAttribute("${e.nameModel}List",null);
#end
			this.success(${nameVarModel}, "Operation Success.");
		}catch(BusinessException e){
			this.exception(e.getMessage());
		}
		
		return SUCCESS;
	}
	
	@Action(value = "${nameController}Remove",results = {@Result(name="success",type = "json")})
	public String remove(){
		
		try{
#foreach( $e in $subModels )
			Map<String, Object> paramMap = this.getParamMap();
			paramMap.put("${e.joinProperty}", ${nameVarModel}.${e.joinPropertyGetMethod}());
			List<${e.nameModel}> list${e.nameModel} = this.${varNameService}Service.getListByQuery(${e.nameMapperModel}.class, paramMap);
#end
			${varNameService}Service.remove(${nameVarModel},${lists});
#foreach( $e in $subModels )
			this.getSessionContext().removeAttribute("${e.nameModel}List");
#end
			this.extjsReturn.setSuccess(true);
		}catch(BusinessException e){
			this.exception(e.getMessage());
		}
		
		return SUCCESS;
	}
	
#foreach( $e in $subModels )	
	@SuppressWarnings("unchecked")
	@Action(value="${e.nameModel}List", results={@Result(name="success",type="json")})
	public String list(){
		
		List<${e.nameModel}> list${e.nameModel};
		String ${e.joinProperty} = this.getHttpRequest().getParameter("${e.joinProperty}");
		
		if(${e.joinProperty} == null){
			list${e.nameModel} = (List<${e.nameModel}>) this.getSessionContext().getAttribute("${e.nameModel}List");
		}else if(${e.joinProperty}.equals("-1")){
			list${e.nameModel} = new ArrayList<${e.nameModel}>();
		}else{
			Map<String, Object> paramMap = this.getParamMap();
			paramMap.put("${e.joinProperty}", ${e.joinProperty});
			list${e.nameModel} = this.${varNameService}Service.getListByQuery(${e.nameMapperModel}.class, paramMap);
		}

		if(list${e.nameModel} == null){
			list${e.nameModel} = new ArrayList<${e.nameModel}>();
		}
		this.getSessionContext(true).setAttribute("${e.nameModel}List",list${e.nameModel});
		int size = list${e.nameModel}.size();
		this.success(list${e.nameModel},size);

		return SUCCESS;
	}
	
	@SuppressWarnings("unchecked")
	@Action(value = "${e.nameModel}Add",results = {@Result(name="success",type = "json")})
	public String add(){
		
		List<${e.nameModel}> list${e.nameModel} = (List<${e.nameModel}>) this.getSessionContext().getAttribute("${e.nameModel}List");
		int randomInt = this.getNegativeIdRandom();
		${e.nameVarModel}.${e.propertySetMethod}(randomInt);
		list${e.nameModel}.add(${e.nameVarModel});	
		this.getSessionContext().setAttribute("${e.nameModel}List",list${e.nameModel});
		this.success(${e.nameVarModel}, "Operation Success.");
			
		return SUCCESS;
	}
	
	@SuppressWarnings("unchecked")
	@Action(value = "${e.nameModel}Update",results = {@Result(name="success",type = "json")})
	public String update(){
		
		List<${e.nameModel}> list${e.nameModel} = (List<${e.nameModel}>) this.getSessionContext().getAttribute("${e.nameModel}List");
		int index = -1;
		
		for (int i = 0; i < list${e.nameModel}.size(); i++) {
			if(list${e.nameModel}.get(i).${e.propertyGetMethod}().equals(${e.nameVarModel}.${e.propertyGetMethod}())){
				index = i;
				break;
			}
		}
		
		if(index > -1){
			list${e.nameModel}.set(index, ${e.nameVarModel});
		}
		
		this.getSessionContext().setAttribute("${e.nameModel}List",list${e.nameModel});
		this.success(${e.nameVarModel}, "Operation Success.");
			
		return SUCCESS;
	}
	
	@SuppressWarnings("unchecked")
	@Action(value = "${e.nameModel}Delete",results = {@Result(name="success",type = "json")})
	public String delete(){
		
		List<${e.nameModel}> list${e.nameModel} = (List<${e.nameModel}>) this.getSessionContext().getAttribute("${e.nameModel}List");
		int index = -1;
		for (int i = 0; i < list${e.nameModel}.size(); i++) {
			if(list${e.nameModel}.get(i).${e.propertyGetMethod}().equals(${e.nameVarModel}.${e.propertyGetMethod}())){
				index = i;
				break;
			}
		}
		
		if(index > -1){
			list${e.nameModel}.remove(index);
		}
		
		this.getSessionContext().setAttribute("${e.nameModel}List",list${e.nameModel});
		this.extjsReturn.setSuccess(true);
			
		return SUCCESS;
	}
#end
	
	@Override
	public ExtJsStrutsUtil getExtjsReturn() {
		return extjsReturn;
	}
	
	public ${nameService}Service ${nameGetMethodService}Service() {
		return ${varNameService}Service;
	}

	public void ${nameSetMethodService}Service(${nameService}Service ${varNameService}Service) {
		this.${varNameService}Service = ${varNameService}Service;
	}
	
	public ${nameModel} ${nameGetMethodModel}() {
		return ${nameVarModel};
	}

	public void ${nameSetMethodModel}(${nameModel} ${nameVarModel}) {
		this.${nameVarModel} = ${nameVarModel};
	}
#foreach( $e in $subModels )
	public ${e.nameModel} ${e.nameGetMethodModel}() {
		return ${e.nameVarModel};
	}

	public void ${e.nameSetMethodModel}(${e.nameModel} ${e.nameVarModel}) {
		this.${e.nameVarModel} = ${e.nameVarModel};
	}
#end
}
