<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="pe.com.acme.query.mybatis.mapper.MembInfoQueryMapper">

<sql id="outs"> 
<![CDATA[

m.memb_guid,
m.memb___id,
m.memb__pwd,
m.memb_name,
(isnull(mx.nombres,'') + ' '+ isnull(mx.ape_pater,'') + ' '+ isnull(mx.ape_mater,'')) nombres_completos,
mx.nombres,
mx.ape_pater,
mx.ape_mater,
LEFT(CONVERT(VARCHAR, mx.fecha_nacimiento, 103), 10) fecha_nacimiento,
m.gender,
CASE m.gender 
  WHEN 1 THEN 'Masculino'
  ELSE 'Femenino' 
END as descrip_gender, 
m.mail_addr,
m.country,
p.nombre descrip_country,
m.sno__numb,
LEFT(CONVERT(VARCHAR, mx.fecha_registro, 103), 10)fecha_registro

]]>
</sql> 

<sql id="from"> 
<![CDATA[

dbo.MEMB_INFO m
left join dbo.MEMB_INFO_EXT mx on m.memb_guid = mx.memb_guid
left join dbo.paises p on m.country = p.id_pais

]]>
</sql> 

<sql id="inputs"> 
<![CDATA[

m.memb_guid = isnull(#{memb_guid},m.memb_guid)
and m.memb___id = coalesce(#{memb___id},m.memb___id)
and coalesce(m.gender,0) = coalesce(#{gender},coalesce(m.gender,0))
and coalesce(m.country,0) = coalesce(#{country},coalesce(m.country,0))

]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${order_column} ${order_direction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="pe.com.acme.query.mybatis.model.MembInfoQuery" parameterType="pe.com.acme.query.mybatis.model.MembInfoQueryCriteria">
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="pe.com.acme.query.mybatis.model.MembInfoQuery" parameterType="java.util.Map">
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="pe.com.acme.query.mybatis.model.MembInfoQuery" parameterType="pe.com.acme.query.mybatis.model.MembInfoQueryCriteria">
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="pe.com.acme.query.mybatis.model.MembInfoQuery" parameterType="java.util.Map">
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="pe.com.acme.query.mybatis.model.MembInfoQueryCriteria">
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
