<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.jrtotem.app.generator.mybatis.mapper.BuildSettingMapper" >
  <resultMap id="BaseResultMap" type="pe.com.jrtotem.app.generator.mybatis.domain.BuildSetting" >
    <id column="id_build_setting" property="id_build_setting" jdbcType="INTEGER" />
    <result column="name_setting" property="name_setting" jdbcType="VARCHAR" />
    <result column="main_path" property="main_path" jdbcType="VARCHAR" />
    <result column="model_path" property="model_path" jdbcType="VARCHAR" />
    <result column="criteria_path" property="criteria_path" jdbcType="VARCHAR" />
    <result column="mapper_path" property="mapper_path" jdbcType="VARCHAR" />
    <result column="xml_path" property="xml_path" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="date_record" property="date_record" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id_build_setting, name_setting, main_path, model_path, criteria_path, mapper_path, 
    xml_path, state, date_record
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.BuildSettingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from build_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.BuildSettingKey" >
    select 
    <include refid="Base_Column_List" />
    from build_setting
    where id_build_setting = #{id_build_setting,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.BuildSettingKey" >
    delete from build_setting
    where id_build_setting = #{id_build_setting,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.BuildSettingExample" >
    delete from build_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.BuildSetting" useGeneratedKeys="true" keyProperty="id_build_setting" >
    insert into build_setting (name_setting, main_path, model_path, 
      criteria_path, mapper_path, xml_path, 
      state, date_record)
    values (#{name_setting,jdbcType=VARCHAR}, #{main_path,jdbcType=VARCHAR}, #{model_path,jdbcType=VARCHAR}, 
      #{criteria_path,jdbcType=VARCHAR}, #{mapper_path,jdbcType=VARCHAR}, #{xml_path,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{date_record,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.BuildSetting" useGeneratedKeys="true" keyProperty="id_build_setting" >
    insert into build_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name_setting != null" >
        name_setting,
      </if>
      <if test="main_path != null" >
        main_path,
      </if>
      <if test="model_path != null" >
        model_path,
      </if>
      <if test="criteria_path != null" >
        criteria_path,
      </if>
      <if test="mapper_path != null" >
        mapper_path,
      </if>
      <if test="xml_path != null" >
        xml_path,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="date_record != null" >
        date_record,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name_setting != null" >
        #{name_setting,jdbcType=VARCHAR},
      </if>
      <if test="main_path != null" >
        #{main_path,jdbcType=VARCHAR},
      </if>
      <if test="model_path != null" >
        #{model_path,jdbcType=VARCHAR},
      </if>
      <if test="criteria_path != null" >
        #{criteria_path,jdbcType=VARCHAR},
      </if>
      <if test="mapper_path != null" >
        #{mapper_path,jdbcType=VARCHAR},
      </if>
      <if test="xml_path != null" >
        #{xml_path,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="date_record != null" >
        #{date_record,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.BuildSettingExample" resultType="java.lang.Integer" >
    select count(*) from build_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update build_setting
    <set >
      <if test="record.id_build_setting != null" >
        id_build_setting = #{record.id_build_setting,jdbcType=INTEGER},
      </if>
      <if test="record.name_setting != null" >
        name_setting = #{record.name_setting,jdbcType=VARCHAR},
      </if>
      <if test="record.main_path != null" >
        main_path = #{record.main_path,jdbcType=VARCHAR},
      </if>
      <if test="record.model_path != null" >
        model_path = #{record.model_path,jdbcType=VARCHAR},
      </if>
      <if test="record.criteria_path != null" >
        criteria_path = #{record.criteria_path,jdbcType=VARCHAR},
      </if>
      <if test="record.mapper_path != null" >
        mapper_path = #{record.mapper_path,jdbcType=VARCHAR},
      </if>
      <if test="record.xml_path != null" >
        xml_path = #{record.xml_path,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.date_record != null" >
        date_record = #{record.date_record,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update build_setting
    set id_build_setting = #{record.id_build_setting,jdbcType=INTEGER},
      name_setting = #{record.name_setting,jdbcType=VARCHAR},
      main_path = #{record.main_path,jdbcType=VARCHAR},
      model_path = #{record.model_path,jdbcType=VARCHAR},
      criteria_path = #{record.criteria_path,jdbcType=VARCHAR},
      mapper_path = #{record.mapper_path,jdbcType=VARCHAR},
      xml_path = #{record.xml_path,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      date_record = #{record.date_record,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.BuildSetting" >
    update build_setting
    <set >
      <if test="name_setting != null" >
        name_setting = #{name_setting,jdbcType=VARCHAR},
      </if>
      <if test="main_path != null" >
        main_path = #{main_path,jdbcType=VARCHAR},
      </if>
      <if test="model_path != null" >
        model_path = #{model_path,jdbcType=VARCHAR},
      </if>
      <if test="criteria_path != null" >
        criteria_path = #{criteria_path,jdbcType=VARCHAR},
      </if>
      <if test="mapper_path != null" >
        mapper_path = #{mapper_path,jdbcType=VARCHAR},
      </if>
      <if test="xml_path != null" >
        xml_path = #{xml_path,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="date_record != null" >
        date_record = #{date_record,jdbcType=VARCHAR},
      </if>
    </set>
    where id_build_setting = #{id_build_setting,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.BuildSetting" >
    update build_setting
    set name_setting = #{name_setting,jdbcType=VARCHAR},
      main_path = #{main_path,jdbcType=VARCHAR},
      model_path = #{model_path,jdbcType=VARCHAR},
      criteria_path = #{criteria_path,jdbcType=VARCHAR},
      mapper_path = #{mapper_path,jdbcType=VARCHAR},
      xml_path = #{xml_path,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      date_record = #{date_record,jdbcType=VARCHAR}
    where id_build_setting = #{id_build_setting,jdbcType=INTEGER}
  </update>
</mapper>