<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.jrtotem.app.generator.mybatis.mapper.ModelInputMapper" >
  <resultMap id="BaseResultMap" type="pe.com.jrtotem.app.generator.mybatis.domain.ModelInput" >
    <id column="id_model_input" property="id_model_input" jdbcType="INTEGER" />
    <result column="id_info_db_connection" property="id_info_db_connection" jdbcType="INTEGER" />
    <result column="name_model" property="name_model" jdbcType="VARCHAR" />
    <result column="sql_text" property="sql_text" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="date_record" property="date_record" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id_model_input, id_info_db_connection, name_model, sql_text, state, date_record
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.ModelInputExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from model_input
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.ModelInputKey" >
    select 
    <include refid="Base_Column_List" />
    from model_input
    where id_model_input = #{id_model_input,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.ModelInputKey" >
    delete from model_input
    where id_model_input = #{id_model_input,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.ModelInputExample" >
    delete from model_input
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.ModelInput" useGeneratedKeys="true" keyProperty="id_model_input" >
    insert into model_input (id_info_db_connection, name_model, 
      sql_text, state, date_record
      )
    values (#{id_info_db_connection,jdbcType=INTEGER}, #{name_model,jdbcType=VARCHAR}, 
      #{sql_text,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{date_record,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.ModelInput" useGeneratedKeys="true" keyProperty="id_model_input" >
    insert into model_input
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id_info_db_connection != null" >
        id_info_db_connection,
      </if>
      <if test="name_model != null" >
        name_model,
      </if>
      <if test="sql_text != null" >
        sql_text,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="date_record != null" >
        date_record,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id_info_db_connection != null" >
        #{id_info_db_connection,jdbcType=INTEGER},
      </if>
      <if test="name_model != null" >
        #{name_model,jdbcType=VARCHAR},
      </if>
      <if test="sql_text != null" >
        #{sql_text,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="date_record != null" >
        #{date_record,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.ModelInputExample" resultType="java.lang.Integer" >
    select count(*) from model_input
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update model_input
    <set >
      <if test="record.id_model_input != null" >
        id_model_input = #{record.id_model_input,jdbcType=INTEGER},
      </if>
      <if test="record.id_info_db_connection != null" >
        id_info_db_connection = #{record.id_info_db_connection,jdbcType=INTEGER},
      </if>
      <if test="record.name_model != null" >
        name_model = #{record.name_model,jdbcType=VARCHAR},
      </if>
      <if test="record.sql_text != null" >
        sql_text = #{record.sql_text,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.date_record != null" >
        date_record = #{record.date_record,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update model_input
    set id_model_input = #{record.id_model_input,jdbcType=INTEGER},
      id_info_db_connection = #{record.id_info_db_connection,jdbcType=INTEGER},
      name_model = #{record.name_model,jdbcType=VARCHAR},
      sql_text = #{record.sql_text,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      date_record = #{record.date_record,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.ModelInput" >
    update model_input
    <set >
      <if test="id_info_db_connection != null" >
        id_info_db_connection = #{id_info_db_connection,jdbcType=INTEGER},
      </if>
      <if test="name_model != null" >
        name_model = #{name_model,jdbcType=VARCHAR},
      </if>
      <if test="sql_text != null" >
        sql_text = #{sql_text,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="date_record != null" >
        date_record = #{date_record,jdbcType=VARCHAR},
      </if>
    </set>
    where id_model_input = #{id_model_input,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.com.jrtotem.app.generator.mybatis.domain.ModelInput" >
    update model_input
    set id_info_db_connection = #{id_info_db_connection,jdbcType=INTEGER},
      name_model = #{name_model,jdbcType=VARCHAR},
      sql_text = #{sql_text,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      date_record = #{date_record,jdbcType=VARCHAR}
    where id_model_input = #{id_model_input,jdbcType=INTEGER}
  </update>
</mapper>