.icon-add {
	background-image:
		url(../images/icons/silk/add.png)
		!important;
}

.icon-delete {
	background-image:
		url(../images/icons/silk/delete.png)
		!important;
}

.icon-erase {
	background-image:
		url(../images/icons/silk/erase.png)
		!important;
}

.icon-find {
	background-image:
		url(../images/icons/silk/find.png)
		!important;
}

.icon-application_osx {
	background-image:
		url(../images/icons/silk/application_osx.png)
		!important;
}

.icon-disk_black {
	background-image:
		url(../images/icons/silk/disk_black.png)
		!important;
}

.icon-cross {
	background-image:
		url(../images/icons/silk/cross.png)
		!important;
}

.icon-application_form {
	background-image:
		url(../images/icons/silk/application_form.png)
		!important;
}

.icon-application_osx_cascade {
	background-image:
		url(../images/icons/silk/application_osx_cascade.png)
		!important;
}

.icon-pencil {
	background-image:
		url(../images/icons/silk/pencil.png)
		!important;
}

.icon-user_gray {
	background-image:
		url(../images/icons/silk/user_gray.png)
		!important;
}

.icon-layout {
	background-image:
		url(../images/icons/silk/layout.png)
		!important;
}

.icon-application_cascade {
	background-image:
		url(../images/icons/silk/application_cascade.png)
		!important;
}

.icon-door_out {
	background-image:
		url(../images/icons/silk/door_out.png)
		!important;
}

.icon-text_list_bullets {
	background-image:
		url(../images/icons/silk/text_list_bullets.png)
		!important;
}

.icon-bullet_toggle_plus {
	background-image:
		url(../images/icons/silk/bullet_toggle_plus.png)
		!important;
}

.icon-bullet_toggle_minus {
	background-image:
		url(../images/icons/silk/bullet_toggle_minus.png)
		!important;
}

.icon-shield {
	background-image:
		url(../images/icons/silk/shield.png)
		!important;
}

.icon-user_add {
	background-image:
		url(../images/icons/silk/user_add.png)
		!important;
}

.icon-door_in {
	background-image:
		url(../images/icons/silk/door_in.png)
		!important;
}

.icon-door_out {
	background-image:
		url(../images/icons/silk/door_out.png)
		!important;
}

.icon-cog {
	background-image:
		url(../images/icons/silk/cog.png)
		!important;
}

.icon-information {
	background-image:
		url(../images/icons/silk/information.png)
		!important;
}

.icon-user_star {
	background-image:
		url(../images/icons/silk/user_star.png)
		!important;
}

.icon-joystick {
	background-image:
		url(../images/icons/silk/joystick.png)
		!important;
}

.icon-package_down {
	background-image:
		url(../images/icons/silk/package_down.png)
		!important;
}

.icon-arrow_rotate_clockwise {
	background-image:
		url(../images/icons/silk/arrow_rotate_clockwise.png)
		!important;
}

.icon-user_key {
	background-image:
		url(../images/icons/silk/user_key.png)
		!important;
}

.icon-controller {
	background-image:
		url(../images/icons/silk/controller.png)
		!important;
}

.icon-bullet_stop {
	background-image:
		url(../images/icons/silk/bullet_stop.png)
		!important;
}

.icon-connect {
	background-image:
		url(../images/icons/silk/connect.png)
		!important;
}

.icon-award_star_gold_3 {
	background-image:
		url(../images/icons/silk/award_star_gold_3.png)
		!important;
}

.icon-chart_bar {
	background-image:
		url(../images/icons/silk/chart_bar.png)
		!important;
}

.icon-shield_silver {
	background-image:
		url(../images/icons/silk/shield_silver.png)
		!important;
}

.icon-world_connect {
	background-image:
		url(../images/icons/silk/world_connect.png)
		!important;
}

.icon-group {
	background-image:
		url(../images/icons/silk/group.png)
		!important;
}