<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sernanp.app.dao.mapper.TAfpComisionMapper" >
  <resultMap id="BaseResultMap" type="sernanp.app.dao.domain.TAfpComision" >
    <id column="srl_id_afp_comision" property="srl_id_afp_comision" jdbcType="INTEGER" />
    <result column="srl_id_afp" property="srl_id_afp" jdbcType="INTEGER" />
    <result column="int_id_tipo_comision" property="int_id_tipo_comision" jdbcType="INTEGER" />
    <result column="dec_aporte" property="dec_aporte" jdbcType="NUMERIC" />
    <result column="dec_seguro" property="dec_seguro" jdbcType="NUMERIC" />
    <result column="dec_comision" property="dec_comision" jdbcType="NUMERIC" />
    <result column="int_id_estado" property="int_id_estado" jdbcType="INTEGER" />
    <result column="tsp_fecha_registro" property="tsp_fecha_registro" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    srl_id_afp_comision, srl_id_afp, int_id_tipo_comision, dec_aporte, dec_seguro, dec_comision, 
    int_id_estado, tsp_fecha_registro
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TAfpComisionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personal.t_afp_comision
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TAfpComisionKey" >
    select 
    <include refid="Base_Column_List" />
    from personal.t_afp_comision
    where srl_id_afp_comision = #{srl_id_afp_comision,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="sernanp.app.dao.domain.TAfpComisionKey" >
    delete from personal.t_afp_comision
    where srl_id_afp_comision = #{srl_id_afp_comision,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="sernanp.app.dao.domain.TAfpComisionExample" >
    delete from personal.t_afp_comision
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sernanp.app.dao.domain.TAfpComision" useGeneratedKeys="true" keyProperty="srl_id_afp_comision" >
    insert into personal.t_afp_comision (srl_id_afp, int_id_tipo_comision, 
      dec_aporte, dec_seguro, dec_comision, 
      int_id_estado, tsp_fecha_registro)
    values (#{srl_id_afp,jdbcType=INTEGER}, #{int_id_tipo_comision,jdbcType=INTEGER}, 
      #{dec_aporte,jdbcType=NUMERIC}, #{dec_seguro,jdbcType=NUMERIC}, #{dec_comision,jdbcType=NUMERIC}, 
      #{int_id_estado,jdbcType=INTEGER}, #{tsp_fecha_registro,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="sernanp.app.dao.domain.TAfpComision" useGeneratedKeys="true" keyProperty="srl_id_afp_comision" >
    insert into personal.t_afp_comision
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="srl_id_afp != null" >
        srl_id_afp,
      </if>
      <if test="int_id_tipo_comision != null" >
        int_id_tipo_comision,
      </if>
      <if test="dec_aporte != null" >
        dec_aporte,
      </if>
      <if test="dec_seguro != null" >
        dec_seguro,
      </if>
      <if test="dec_comision != null" >
        dec_comision,
      </if>
      <if test="int_id_estado != null" >
        int_id_estado,
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="srl_id_afp != null" >
        #{srl_id_afp,jdbcType=INTEGER},
      </if>
      <if test="int_id_tipo_comision != null" >
        #{int_id_tipo_comision,jdbcType=INTEGER},
      </if>
      <if test="dec_aporte != null" >
        #{dec_aporte,jdbcType=NUMERIC},
      </if>
      <if test="dec_seguro != null" >
        #{dec_seguro,jdbcType=NUMERIC},
      </if>
      <if test="dec_comision != null" >
        #{dec_comision,jdbcType=NUMERIC},
      </if>
      <if test="int_id_estado != null" >
        #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sernanp.app.dao.domain.TAfpComisionExample" resultType="java.lang.Integer" >
    select count(*) from personal.t_afp_comision
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update personal.t_afp_comision
    <set >
      <if test="record.srl_id_afp_comision != null" >
        srl_id_afp_comision = #{record.srl_id_afp_comision,jdbcType=INTEGER},
      </if>
      <if test="record.srl_id_afp != null" >
        srl_id_afp = #{record.srl_id_afp,jdbcType=INTEGER},
      </if>
      <if test="record.int_id_tipo_comision != null" >
        int_id_tipo_comision = #{record.int_id_tipo_comision,jdbcType=INTEGER},
      </if>
      <if test="record.dec_aporte != null" >
        dec_aporte = #{record.dec_aporte,jdbcType=NUMERIC},
      </if>
      <if test="record.dec_seguro != null" >
        dec_seguro = #{record.dec_seguro,jdbcType=NUMERIC},
      </if>
      <if test="record.dec_comision != null" >
        dec_comision = #{record.dec_comision,jdbcType=NUMERIC},
      </if>
      <if test="record.int_id_estado != null" >
        int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="record.tsp_fecha_registro != null" >
        tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update personal.t_afp_comision
    set srl_id_afp_comision = #{record.srl_id_afp_comision,jdbcType=INTEGER},
      srl_id_afp = #{record.srl_id_afp,jdbcType=INTEGER},
      int_id_tipo_comision = #{record.int_id_tipo_comision,jdbcType=INTEGER},
      dec_aporte = #{record.dec_aporte,jdbcType=NUMERIC},
      dec_seguro = #{record.dec_seguro,jdbcType=NUMERIC},
      dec_comision = #{record.dec_comision,jdbcType=NUMERIC},
      int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sernanp.app.dao.domain.TAfpComision" >
    update personal.t_afp_comision
    <set >
      <if test="srl_id_afp != null" >
        srl_id_afp = #{srl_id_afp,jdbcType=INTEGER},
      </if>
      <if test="int_id_tipo_comision != null" >
        int_id_tipo_comision = #{int_id_tipo_comision,jdbcType=INTEGER},
      </if>
      <if test="dec_aporte != null" >
        dec_aporte = #{dec_aporte,jdbcType=NUMERIC},
      </if>
      <if test="dec_seguro != null" >
        dec_seguro = #{dec_seguro,jdbcType=NUMERIC},
      </if>
      <if test="dec_comision != null" >
        dec_comision = #{dec_comision,jdbcType=NUMERIC},
      </if>
      <if test="int_id_estado != null" >
        int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    where srl_id_afp_comision = #{srl_id_afp_comision,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sernanp.app.dao.domain.TAfpComision" >
    update personal.t_afp_comision
    set srl_id_afp = #{srl_id_afp,jdbcType=INTEGER},
      int_id_tipo_comision = #{int_id_tipo_comision,jdbcType=INTEGER},
      dec_aporte = #{dec_aporte,jdbcType=NUMERIC},
      dec_seguro = #{dec_seguro,jdbcType=NUMERIC},
      dec_comision = #{dec_comision,jdbcType=NUMERIC},
      int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP}
    where srl_id_afp_comision = #{srl_id_afp_comision,jdbcType=INTEGER}
  </update>
</mapper>