<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sernanp.app.dao.mapper.TAnioPlanillaMapper" >
  <resultMap id="BaseResultMap" type="sernanp.app.dao.domain.TAnioPlanilla" >
    <id column="srl_id_anio_planilla" property="srl_id_anio_planilla" jdbcType="INTEGER" />
    <result column="int_anio" property="int_anio" jdbcType="INTEGER" />
    <result column="var_cod_ejecutor" property="var_cod_ejecutor" jdbcType="VARCHAR" />
    <result column="var_nombre_anio" property="var_nombre_anio" jdbcType="VARCHAR" />
    <result column="dte_fecha_inicio" property="dte_fecha_inicio" jdbcType="DATE" />
    <result column="dte_fecha_fin" property="dte_fecha_fin" jdbcType="DATE" />
    <result column="int_id_estado_vigencia" property="int_id_estado_vigencia" jdbcType="INTEGER" />
    <result column="int_id_estado" property="int_id_estado" jdbcType="INTEGER" />
    <result column="tsp_fecha_registro" property="tsp_fecha_registro" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    srl_id_anio_planilla, int_anio, var_cod_ejecutor, var_nombre_anio, dte_fecha_inicio, 
    dte_fecha_fin, int_id_estado_vigencia, int_id_estado, tsp_fecha_registro
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TAnioPlanillaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personal.t_anio_planilla
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TAnioPlanillaKey" >
    select 
    <include refid="Base_Column_List" />
    from personal.t_anio_planilla
    where srl_id_anio_planilla = #{srl_id_anio_planilla,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="sernanp.app.dao.domain.TAnioPlanillaKey" >
    delete from personal.t_anio_planilla
    where srl_id_anio_planilla = #{srl_id_anio_planilla,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="sernanp.app.dao.domain.TAnioPlanillaExample" >
    delete from personal.t_anio_planilla
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sernanp.app.dao.domain.TAnioPlanilla" useGeneratedKeys="true" keyProperty="srl_id_anio_planilla" >
    insert into personal.t_anio_planilla (int_anio, var_cod_ejecutor, var_nombre_anio, 
      dte_fecha_inicio, dte_fecha_fin, int_id_estado_vigencia, 
      int_id_estado, tsp_fecha_registro)
    values (#{int_anio,jdbcType=INTEGER}, #{var_cod_ejecutor,jdbcType=VARCHAR}, #{var_nombre_anio,jdbcType=VARCHAR}, 
      #{dte_fecha_inicio,jdbcType=DATE}, #{dte_fecha_fin,jdbcType=DATE}, #{int_id_estado_vigencia,jdbcType=INTEGER}, 
      #{int_id_estado,jdbcType=INTEGER}, #{tsp_fecha_registro,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="sernanp.app.dao.domain.TAnioPlanilla" useGeneratedKeys="true" keyProperty="srl_id_anio_planilla" >
    insert into personal.t_anio_planilla
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="int_anio != null" >
        int_anio,
      </if>
      <if test="var_cod_ejecutor != null" >
        var_cod_ejecutor,
      </if>
      <if test="var_nombre_anio != null" >
        var_nombre_anio,
      </if>
      <if test="dte_fecha_inicio != null" >
        dte_fecha_inicio,
      </if>
      <if test="dte_fecha_fin != null" >
        dte_fecha_fin,
      </if>
      <if test="int_id_estado_vigencia != null" >
        int_id_estado_vigencia,
      </if>
      <if test="int_id_estado != null" >
        int_id_estado,
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="int_anio != null" >
        #{int_anio,jdbcType=INTEGER},
      </if>
      <if test="var_cod_ejecutor != null" >
        #{var_cod_ejecutor,jdbcType=VARCHAR},
      </if>
      <if test="var_nombre_anio != null" >
        #{var_nombre_anio,jdbcType=VARCHAR},
      </if>
      <if test="dte_fecha_inicio != null" >
        #{dte_fecha_inicio,jdbcType=DATE},
      </if>
      <if test="dte_fecha_fin != null" >
        #{dte_fecha_fin,jdbcType=DATE},
      </if>
      <if test="int_id_estado_vigencia != null" >
        #{int_id_estado_vigencia,jdbcType=INTEGER},
      </if>
      <if test="int_id_estado != null" >
        #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sernanp.app.dao.domain.TAnioPlanillaExample" resultType="java.lang.Integer" >
    select count(*) from personal.t_anio_planilla
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update personal.t_anio_planilla
    <set >
      <if test="record.srl_id_anio_planilla != null" >
        srl_id_anio_planilla = #{record.srl_id_anio_planilla,jdbcType=INTEGER},
      </if>
      <if test="record.int_anio != null" >
        int_anio = #{record.int_anio,jdbcType=INTEGER},
      </if>
      <if test="record.var_cod_ejecutor != null" >
        var_cod_ejecutor = #{record.var_cod_ejecutor,jdbcType=VARCHAR},
      </if>
      <if test="record.var_nombre_anio != null" >
        var_nombre_anio = #{record.var_nombre_anio,jdbcType=VARCHAR},
      </if>
      <if test="record.dte_fecha_inicio != null" >
        dte_fecha_inicio = #{record.dte_fecha_inicio,jdbcType=DATE},
      </if>
      <if test="record.dte_fecha_fin != null" >
        dte_fecha_fin = #{record.dte_fecha_fin,jdbcType=DATE},
      </if>
      <if test="record.int_id_estado_vigencia != null" >
        int_id_estado_vigencia = #{record.int_id_estado_vigencia,jdbcType=INTEGER},
      </if>
      <if test="record.int_id_estado != null" >
        int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="record.tsp_fecha_registro != null" >
        tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update personal.t_anio_planilla
    set srl_id_anio_planilla = #{record.srl_id_anio_planilla,jdbcType=INTEGER},
      int_anio = #{record.int_anio,jdbcType=INTEGER},
      var_cod_ejecutor = #{record.var_cod_ejecutor,jdbcType=VARCHAR},
      var_nombre_anio = #{record.var_nombre_anio,jdbcType=VARCHAR},
      dte_fecha_inicio = #{record.dte_fecha_inicio,jdbcType=DATE},
      dte_fecha_fin = #{record.dte_fecha_fin,jdbcType=DATE},
      int_id_estado_vigencia = #{record.int_id_estado_vigencia,jdbcType=INTEGER},
      int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sernanp.app.dao.domain.TAnioPlanilla" >
    update personal.t_anio_planilla
    <set >
      <if test="int_anio != null" >
        int_anio = #{int_anio,jdbcType=INTEGER},
      </if>
      <if test="var_cod_ejecutor != null" >
        var_cod_ejecutor = #{var_cod_ejecutor,jdbcType=VARCHAR},
      </if>
      <if test="var_nombre_anio != null" >
        var_nombre_anio = #{var_nombre_anio,jdbcType=VARCHAR},
      </if>
      <if test="dte_fecha_inicio != null" >
        dte_fecha_inicio = #{dte_fecha_inicio,jdbcType=DATE},
      </if>
      <if test="dte_fecha_fin != null" >
        dte_fecha_fin = #{dte_fecha_fin,jdbcType=DATE},
      </if>
      <if test="int_id_estado_vigencia != null" >
        int_id_estado_vigencia = #{int_id_estado_vigencia,jdbcType=INTEGER},
      </if>
      <if test="int_id_estado != null" >
        int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    where srl_id_anio_planilla = #{srl_id_anio_planilla,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sernanp.app.dao.domain.TAnioPlanilla" >
    update personal.t_anio_planilla
    set int_anio = #{int_anio,jdbcType=INTEGER},
      var_cod_ejecutor = #{var_cod_ejecutor,jdbcType=VARCHAR},
      var_nombre_anio = #{var_nombre_anio,jdbcType=VARCHAR},
      dte_fecha_inicio = #{dte_fecha_inicio,jdbcType=DATE},
      dte_fecha_fin = #{dte_fecha_fin,jdbcType=DATE},
      int_id_estado_vigencia = #{int_id_estado_vigencia,jdbcType=INTEGER},
      int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP}
    where srl_id_anio_planilla = #{srl_id_anio_planilla,jdbcType=INTEGER}
  </update>
</mapper>