<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sernanp.app.dao.mapper.TArchivoMapper" >
  <resultMap id="BaseResultMap" type="sernanp.app.dao.domain.TArchivo" >
    <id column="srl_id_archivo" property="srl_id_archivo" jdbcType="INTEGER" />
    <result column="var_nombre_archivo" property="var_nombre_archivo" jdbcType="VARCHAR" />
    <result column="var_tipo_archivo" property="var_tipo_archivo" jdbcType="VARCHAR" />
    <result column="var_archivo_ruta_almacen" property="var_archivo_ruta_almacen" jdbcType="VARCHAR" />
    <result column="num_size_archivo" property="num_size_archivo" jdbcType="NUMERIC" />
    <result column="tsp_fecha_registro" property="tsp_fecha_registro" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    srl_id_archivo, var_nombre_archivo, var_tipo_archivo, var_archivo_ruta_almacen, num_size_archivo, 
    tsp_fecha_registro
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TArchivoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sernanp.t_archivo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TArchivoKey" >
    select 
    <include refid="Base_Column_List" />
    from sernanp.t_archivo
    where srl_id_archivo = #{srl_id_archivo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="sernanp.app.dao.domain.TArchivoKey" >
    delete from sernanp.t_archivo
    where srl_id_archivo = #{srl_id_archivo,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="sernanp.app.dao.domain.TArchivoExample" >
    delete from sernanp.t_archivo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sernanp.app.dao.domain.TArchivo" useGeneratedKeys="true" keyProperty="srl_id_archivo" >
    insert into sernanp.t_archivo (var_nombre_archivo, var_tipo_archivo, 
      var_archivo_ruta_almacen, num_size_archivo, 
      tsp_fecha_registro)
    values (#{var_nombre_archivo,jdbcType=VARCHAR}, #{var_tipo_archivo,jdbcType=VARCHAR}, 
      #{var_archivo_ruta_almacen,jdbcType=VARCHAR}, #{num_size_archivo,jdbcType=NUMERIC}, 
      #{tsp_fecha_registro,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="sernanp.app.dao.domain.TArchivo" useGeneratedKeys="true" keyProperty="srl_id_archivo" >
    insert into sernanp.t_archivo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="var_nombre_archivo != null" >
        var_nombre_archivo,
      </if>
      <if test="var_tipo_archivo != null" >
        var_tipo_archivo,
      </if>
      <if test="var_archivo_ruta_almacen != null" >
        var_archivo_ruta_almacen,
      </if>
      <if test="num_size_archivo != null" >
        num_size_archivo,
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="var_nombre_archivo != null" >
        #{var_nombre_archivo,jdbcType=VARCHAR},
      </if>
      <if test="var_tipo_archivo != null" >
        #{var_tipo_archivo,jdbcType=VARCHAR},
      </if>
      <if test="var_archivo_ruta_almacen != null" >
        #{var_archivo_ruta_almacen,jdbcType=VARCHAR},
      </if>
      <if test="num_size_archivo != null" >
        #{num_size_archivo,jdbcType=NUMERIC},
      </if>
      <if test="tsp_fecha_registro != null" >
        #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sernanp.app.dao.domain.TArchivoExample" resultType="java.lang.Integer" >
    select count(*) from sernanp.t_archivo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sernanp.t_archivo
    <set >
      <if test="record.srl_id_archivo != null" >
        srl_id_archivo = #{record.srl_id_archivo,jdbcType=INTEGER},
      </if>
      <if test="record.var_nombre_archivo != null" >
        var_nombre_archivo = #{record.var_nombre_archivo,jdbcType=VARCHAR},
      </if>
      <if test="record.var_tipo_archivo != null" >
        var_tipo_archivo = #{record.var_tipo_archivo,jdbcType=VARCHAR},
      </if>
      <if test="record.var_archivo_ruta_almacen != null" >
        var_archivo_ruta_almacen = #{record.var_archivo_ruta_almacen,jdbcType=VARCHAR},
      </if>
      <if test="record.num_size_archivo != null" >
        num_size_archivo = #{record.num_size_archivo,jdbcType=NUMERIC},
      </if>
      <if test="record.tsp_fecha_registro != null" >
        tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sernanp.t_archivo
    set srl_id_archivo = #{record.srl_id_archivo,jdbcType=INTEGER},
      var_nombre_archivo = #{record.var_nombre_archivo,jdbcType=VARCHAR},
      var_tipo_archivo = #{record.var_tipo_archivo,jdbcType=VARCHAR},
      var_archivo_ruta_almacen = #{record.var_archivo_ruta_almacen,jdbcType=VARCHAR},
      num_size_archivo = #{record.num_size_archivo,jdbcType=NUMERIC},
      tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sernanp.app.dao.domain.TArchivo" >
    update sernanp.t_archivo
    <set >
      <if test="var_nombre_archivo != null" >
        var_nombre_archivo = #{var_nombre_archivo,jdbcType=VARCHAR},
      </if>
      <if test="var_tipo_archivo != null" >
        var_tipo_archivo = #{var_tipo_archivo,jdbcType=VARCHAR},
      </if>
      <if test="var_archivo_ruta_almacen != null" >
        var_archivo_ruta_almacen = #{var_archivo_ruta_almacen,jdbcType=VARCHAR},
      </if>
      <if test="num_size_archivo != null" >
        num_size_archivo = #{num_size_archivo,jdbcType=NUMERIC},
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    where srl_id_archivo = #{srl_id_archivo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sernanp.app.dao.domain.TArchivo" >
    update sernanp.t_archivo
    set var_nombre_archivo = #{var_nombre_archivo,jdbcType=VARCHAR},
      var_tipo_archivo = #{var_tipo_archivo,jdbcType=VARCHAR},
      var_archivo_ruta_almacen = #{var_archivo_ruta_almacen,jdbcType=VARCHAR},
      num_size_archivo = #{num_size_archivo,jdbcType=NUMERIC},
      tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP}
    where srl_id_archivo = #{srl_id_archivo,jdbcType=INTEGER}
  </update>
</mapper>