<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sernanp.app.dao.mapper.TConfiguracionFactorEvaluacionMapper" >
  <resultMap id="BaseResultMap" type="sernanp.app.dao.domain.TConfiguracionFactorEvaluacion" >
    <id column="srl_id_configuracion_factor_evaluacion" property="srl_id_configuracion_factor_evaluacion" jdbcType="INTEGER" />
    <result column="var_descrip_configuracion" property="var_descrip_configuracion" jdbcType="VARCHAR" />
    <result column="int_id_estado" property="int_id_estado" jdbcType="INTEGER" />
    <result column="tsp_fecha_registro" property="tsp_fecha_registro" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    srl_id_configuracion_factor_evaluacion, var_descrip_configuracion, int_id_estado, 
    tsp_fecha_registro
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TConfiguracionFactorEvaluacionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personal.t_configuracion_factor_evaluacion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TConfiguracionFactorEvaluacionKey" >
    select 
    <include refid="Base_Column_List" />
    from personal.t_configuracion_factor_evaluacion
    where srl_id_configuracion_factor_evaluacion = #{srl_id_configuracion_factor_evaluacion,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="sernanp.app.dao.domain.TConfiguracionFactorEvaluacionKey" >
    delete from personal.t_configuracion_factor_evaluacion
    where srl_id_configuracion_factor_evaluacion = #{srl_id_configuracion_factor_evaluacion,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="sernanp.app.dao.domain.TConfiguracionFactorEvaluacionExample" >
    delete from personal.t_configuracion_factor_evaluacion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sernanp.app.dao.domain.TConfiguracionFactorEvaluacion" useGeneratedKeys="true" keyProperty="srl_id_configuracion_factor_evaluacion" >
    insert into personal.t_configuracion_factor_evaluacion (var_descrip_configuracion, int_id_estado, 
      tsp_fecha_registro)
    values (#{var_descrip_configuracion,jdbcType=VARCHAR}, #{int_id_estado,jdbcType=INTEGER}, 
      #{tsp_fecha_registro,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="sernanp.app.dao.domain.TConfiguracionFactorEvaluacion" useGeneratedKeys="true" keyProperty="srl_id_configuracion_factor_evaluacion" >
    insert into personal.t_configuracion_factor_evaluacion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="var_descrip_configuracion != null" >
        var_descrip_configuracion,
      </if>
      <if test="int_id_estado != null" >
        int_id_estado,
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="var_descrip_configuracion != null" >
        #{var_descrip_configuracion,jdbcType=VARCHAR},
      </if>
      <if test="int_id_estado != null" >
        #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sernanp.app.dao.domain.TConfiguracionFactorEvaluacionExample" resultType="java.lang.Integer" >
    select count(*) from personal.t_configuracion_factor_evaluacion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update personal.t_configuracion_factor_evaluacion
    <set >
      <if test="record.srl_id_configuracion_factor_evaluacion != null" >
        srl_id_configuracion_factor_evaluacion = #{record.srl_id_configuracion_factor_evaluacion,jdbcType=INTEGER},
      </if>
      <if test="record.var_descrip_configuracion != null" >
        var_descrip_configuracion = #{record.var_descrip_configuracion,jdbcType=VARCHAR},
      </if>
      <if test="record.int_id_estado != null" >
        int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="record.tsp_fecha_registro != null" >
        tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update personal.t_configuracion_factor_evaluacion
    set srl_id_configuracion_factor_evaluacion = #{record.srl_id_configuracion_factor_evaluacion,jdbcType=INTEGER},
      var_descrip_configuracion = #{record.var_descrip_configuracion,jdbcType=VARCHAR},
      int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sernanp.app.dao.domain.TConfiguracionFactorEvaluacion" >
    update personal.t_configuracion_factor_evaluacion
    <set >
      <if test="var_descrip_configuracion != null" >
        var_descrip_configuracion = #{var_descrip_configuracion,jdbcType=VARCHAR},
      </if>
      <if test="int_id_estado != null" >
        int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    where srl_id_configuracion_factor_evaluacion = #{srl_id_configuracion_factor_evaluacion,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sernanp.app.dao.domain.TConfiguracionFactorEvaluacion" >
    update personal.t_configuracion_factor_evaluacion
    set var_descrip_configuracion = #{var_descrip_configuracion,jdbcType=VARCHAR},
      int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP}
    where srl_id_configuracion_factor_evaluacion = #{srl_id_configuracion_factor_evaluacion,jdbcType=INTEGER}
  </update>
</mapper>