<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sernanp.app.dao.mapper.TDireccionDomicilioHistorialMapper" >
  <resultMap id="BaseResultMap" type="sernanp.app.dao.domain.TDireccionDomicilioHistorial" >
    <id column="srl_id_direccion_domicilio_historial" property="srl_id_direccion_domicilio_historial" jdbcType="INTEGER" />
    <result column="idpersonanatural" property="idpersonanatural" jdbcType="INTEGER" />
    <result column="var_direccion_domiciliaria" property="var_direccion_domiciliaria" jdbcType="VARCHAR" />
    <result column="int_id_ubigeo" property="int_id_ubigeo" jdbcType="INTEGER" />
    <result column="int_id_estado" property="int_id_estado" jdbcType="INTEGER" />
    <result column="tsp_fecha_registro" property="tsp_fecha_registro" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    srl_id_direccion_domicilio_historial, idpersonanatural, var_direccion_domiciliaria, 
    int_id_ubigeo, int_id_estado, tsp_fecha_registro
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TDireccionDomicilioHistorialExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sernanp.t_direccion_domicilio_historial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TDireccionDomicilioHistorialKey" >
    select 
    <include refid="Base_Column_List" />
    from sernanp.t_direccion_domicilio_historial
    where srl_id_direccion_domicilio_historial = #{srl_id_direccion_domicilio_historial,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="sernanp.app.dao.domain.TDireccionDomicilioHistorialKey" >
    delete from sernanp.t_direccion_domicilio_historial
    where srl_id_direccion_domicilio_historial = #{srl_id_direccion_domicilio_historial,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="sernanp.app.dao.domain.TDireccionDomicilioHistorialExample" >
    delete from sernanp.t_direccion_domicilio_historial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sernanp.app.dao.domain.TDireccionDomicilioHistorial" useGeneratedKeys="true" keyProperty="srl_id_direccion_domicilio_historial" >
    insert into sernanp.t_direccion_domicilio_historial (idpersonanatural, var_direccion_domiciliaria, 
      int_id_ubigeo, int_id_estado, tsp_fecha_registro
      )
    values (#{idpersonanatural,jdbcType=INTEGER}, #{var_direccion_domiciliaria,jdbcType=VARCHAR}, 
      #{int_id_ubigeo,jdbcType=INTEGER}, #{int_id_estado,jdbcType=INTEGER}, #{tsp_fecha_registro,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="sernanp.app.dao.domain.TDireccionDomicilioHistorial" useGeneratedKeys="true" keyProperty="srl_id_direccion_domicilio_historial" >
    insert into sernanp.t_direccion_domicilio_historial
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idpersonanatural != null" >
        idpersonanatural,
      </if>
      <if test="var_direccion_domiciliaria != null" >
        var_direccion_domiciliaria,
      </if>
      <if test="int_id_ubigeo != null" >
        int_id_ubigeo,
      </if>
      <if test="int_id_estado != null" >
        int_id_estado,
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idpersonanatural != null" >
        #{idpersonanatural,jdbcType=INTEGER},
      </if>
      <if test="var_direccion_domiciliaria != null" >
        #{var_direccion_domiciliaria,jdbcType=VARCHAR},
      </if>
      <if test="int_id_ubigeo != null" >
        #{int_id_ubigeo,jdbcType=INTEGER},
      </if>
      <if test="int_id_estado != null" >
        #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sernanp.app.dao.domain.TDireccionDomicilioHistorialExample" resultType="java.lang.Integer" >
    select count(*) from sernanp.t_direccion_domicilio_historial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sernanp.t_direccion_domicilio_historial
    <set >
      <if test="record.srl_id_direccion_domicilio_historial != null" >
        srl_id_direccion_domicilio_historial = #{record.srl_id_direccion_domicilio_historial,jdbcType=INTEGER},
      </if>
      <if test="record.idpersonanatural != null" >
        idpersonanatural = #{record.idpersonanatural,jdbcType=INTEGER},
      </if>
      <if test="record.var_direccion_domiciliaria != null" >
        var_direccion_domiciliaria = #{record.var_direccion_domiciliaria,jdbcType=VARCHAR},
      </if>
      <if test="record.int_id_ubigeo != null" >
        int_id_ubigeo = #{record.int_id_ubigeo,jdbcType=INTEGER},
      </if>
      <if test="record.int_id_estado != null" >
        int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="record.tsp_fecha_registro != null" >
        tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sernanp.t_direccion_domicilio_historial
    set srl_id_direccion_domicilio_historial = #{record.srl_id_direccion_domicilio_historial,jdbcType=INTEGER},
      idpersonanatural = #{record.idpersonanatural,jdbcType=INTEGER},
      var_direccion_domiciliaria = #{record.var_direccion_domiciliaria,jdbcType=VARCHAR},
      int_id_ubigeo = #{record.int_id_ubigeo,jdbcType=INTEGER},
      int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sernanp.app.dao.domain.TDireccionDomicilioHistorial" >
    update sernanp.t_direccion_domicilio_historial
    <set >
      <if test="idpersonanatural != null" >
        idpersonanatural = #{idpersonanatural,jdbcType=INTEGER},
      </if>
      <if test="var_direccion_domiciliaria != null" >
        var_direccion_domiciliaria = #{var_direccion_domiciliaria,jdbcType=VARCHAR},
      </if>
      <if test="int_id_ubigeo != null" >
        int_id_ubigeo = #{int_id_ubigeo,jdbcType=INTEGER},
      </if>
      <if test="int_id_estado != null" >
        int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    where srl_id_direccion_domicilio_historial = #{srl_id_direccion_domicilio_historial,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sernanp.app.dao.domain.TDireccionDomicilioHistorial" >
    update sernanp.t_direccion_domicilio_historial
    set idpersonanatural = #{idpersonanatural,jdbcType=INTEGER},
      var_direccion_domiciliaria = #{var_direccion_domiciliaria,jdbcType=VARCHAR},
      int_id_ubigeo = #{int_id_ubigeo,jdbcType=INTEGER},
      int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP}
    where srl_id_direccion_domicilio_historial = #{srl_id_direccion_domicilio_historial,jdbcType=INTEGER}
  </update>
</mapper>