<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sernanp.app.dao.mapper.TFuenteFinanciamientoMapper" >
  <resultMap id="BaseResultMap" type="sernanp.app.dao.domain.TFuenteFinanciamiento" >
    <id column="srl_id_fuente_financiamiento" property="srl_id_fuente_financiamiento" jdbcType="INTEGER" />
    <result column="int_cod_fuente_financiamiento" property="int_cod_fuente_financiamiento" jdbcType="INTEGER" />
    <result column="var_descripcion_fuente_financiamiento" property="var_descripcion_fuente_financiamiento" jdbcType="VARCHAR" />
    <result column="var_sigla" property="var_sigla" jdbcType="VARCHAR" />
    <result column="int_id_tipo_fuente_financiamiento" property="int_id_tipo_fuente_financiamiento" jdbcType="INTEGER" />
    <result column="var_coordinador" property="var_coordinador" jdbcType="VARCHAR" />
    <result column="var_email" property="var_email" jdbcType="VARCHAR" />
    <result column="int_id_estado" property="int_id_estado" jdbcType="INTEGER" />
    <result column="int_id_auditoria" property="int_id_auditoria" jdbcType="INTEGER" />
    <result column="var_rubro_fte_fto" property="var_rubro_fte_fto" jdbcType="VARCHAR" />
    <result column="tsp_fecha_registro" property="tsp_fecha_registro" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    srl_id_fuente_financiamiento, int_cod_fuente_financiamiento, var_descripcion_fuente_financiamiento, 
    var_sigla, int_id_tipo_fuente_financiamiento, var_coordinador, var_email, int_id_estado, 
    int_id_auditoria, var_rubro_fte_fto, tsp_fecha_registro
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TFuenteFinanciamientoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mpp.t_fuente_financiamiento
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TFuenteFinanciamientoKey" >
    select 
    <include refid="Base_Column_List" />
    from mpp.t_fuente_financiamiento
    where srl_id_fuente_financiamiento = #{srl_id_fuente_financiamiento,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="sernanp.app.dao.domain.TFuenteFinanciamientoKey" >
    delete from mpp.t_fuente_financiamiento
    where srl_id_fuente_financiamiento = #{srl_id_fuente_financiamiento,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="sernanp.app.dao.domain.TFuenteFinanciamientoExample" >
    delete from mpp.t_fuente_financiamiento
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sernanp.app.dao.domain.TFuenteFinanciamiento" useGeneratedKeys="true" keyProperty="srl_id_fuente_financiamiento" >
    insert into mpp.t_fuente_financiamiento (int_cod_fuente_financiamiento, var_descripcion_fuente_financiamiento, 
      var_sigla, int_id_tipo_fuente_financiamiento, 
      var_coordinador, var_email, int_id_estado, 
      int_id_auditoria, var_rubro_fte_fto, tsp_fecha_registro
      )
    values (#{int_cod_fuente_financiamiento,jdbcType=INTEGER}, #{var_descripcion_fuente_financiamiento,jdbcType=VARCHAR}, 
      #{var_sigla,jdbcType=VARCHAR}, #{int_id_tipo_fuente_financiamiento,jdbcType=INTEGER}, 
      #{var_coordinador,jdbcType=VARCHAR}, #{var_email,jdbcType=VARCHAR}, #{int_id_estado,jdbcType=INTEGER}, 
      #{int_id_auditoria,jdbcType=INTEGER}, #{var_rubro_fte_fto,jdbcType=VARCHAR}, #{tsp_fecha_registro,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="sernanp.app.dao.domain.TFuenteFinanciamiento" useGeneratedKeys="true" keyProperty="srl_id_fuente_financiamiento" >
    insert into mpp.t_fuente_financiamiento
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="int_cod_fuente_financiamiento != null" >
        int_cod_fuente_financiamiento,
      </if>
      <if test="var_descripcion_fuente_financiamiento != null" >
        var_descripcion_fuente_financiamiento,
      </if>
      <if test="var_sigla != null" >
        var_sigla,
      </if>
      <if test="int_id_tipo_fuente_financiamiento != null" >
        int_id_tipo_fuente_financiamiento,
      </if>
      <if test="var_coordinador != null" >
        var_coordinador,
      </if>
      <if test="var_email != null" >
        var_email,
      </if>
      <if test="int_id_estado != null" >
        int_id_estado,
      </if>
      <if test="int_id_auditoria != null" >
        int_id_auditoria,
      </if>
      <if test="var_rubro_fte_fto != null" >
        var_rubro_fte_fto,
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="int_cod_fuente_financiamiento != null" >
        #{int_cod_fuente_financiamiento,jdbcType=INTEGER},
      </if>
      <if test="var_descripcion_fuente_financiamiento != null" >
        #{var_descripcion_fuente_financiamiento,jdbcType=VARCHAR},
      </if>
      <if test="var_sigla != null" >
        #{var_sigla,jdbcType=VARCHAR},
      </if>
      <if test="int_id_tipo_fuente_financiamiento != null" >
        #{int_id_tipo_fuente_financiamiento,jdbcType=INTEGER},
      </if>
      <if test="var_coordinador != null" >
        #{var_coordinador,jdbcType=VARCHAR},
      </if>
      <if test="var_email != null" >
        #{var_email,jdbcType=VARCHAR},
      </if>
      <if test="int_id_estado != null" >
        #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="int_id_auditoria != null" >
        #{int_id_auditoria,jdbcType=INTEGER},
      </if>
      <if test="var_rubro_fte_fto != null" >
        #{var_rubro_fte_fto,jdbcType=VARCHAR},
      </if>
      <if test="tsp_fecha_registro != null" >
        #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sernanp.app.dao.domain.TFuenteFinanciamientoExample" resultType="java.lang.Integer" >
    select count(*) from mpp.t_fuente_financiamiento
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mpp.t_fuente_financiamiento
    <set >
      <if test="record.srl_id_fuente_financiamiento != null" >
        srl_id_fuente_financiamiento = #{record.srl_id_fuente_financiamiento,jdbcType=INTEGER},
      </if>
      <if test="record.int_cod_fuente_financiamiento != null" >
        int_cod_fuente_financiamiento = #{record.int_cod_fuente_financiamiento,jdbcType=INTEGER},
      </if>
      <if test="record.var_descripcion_fuente_financiamiento != null" >
        var_descripcion_fuente_financiamiento = #{record.var_descripcion_fuente_financiamiento,jdbcType=VARCHAR},
      </if>
      <if test="record.var_sigla != null" >
        var_sigla = #{record.var_sigla,jdbcType=VARCHAR},
      </if>
      <if test="record.int_id_tipo_fuente_financiamiento != null" >
        int_id_tipo_fuente_financiamiento = #{record.int_id_tipo_fuente_financiamiento,jdbcType=INTEGER},
      </if>
      <if test="record.var_coordinador != null" >
        var_coordinador = #{record.var_coordinador,jdbcType=VARCHAR},
      </if>
      <if test="record.var_email != null" >
        var_email = #{record.var_email,jdbcType=VARCHAR},
      </if>
      <if test="record.int_id_estado != null" >
        int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="record.int_id_auditoria != null" >
        int_id_auditoria = #{record.int_id_auditoria,jdbcType=INTEGER},
      </if>
      <if test="record.var_rubro_fte_fto != null" >
        var_rubro_fte_fto = #{record.var_rubro_fte_fto,jdbcType=VARCHAR},
      </if>
      <if test="record.tsp_fecha_registro != null" >
        tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mpp.t_fuente_financiamiento
    set srl_id_fuente_financiamiento = #{record.srl_id_fuente_financiamiento,jdbcType=INTEGER},
      int_cod_fuente_financiamiento = #{record.int_cod_fuente_financiamiento,jdbcType=INTEGER},
      var_descripcion_fuente_financiamiento = #{record.var_descripcion_fuente_financiamiento,jdbcType=VARCHAR},
      var_sigla = #{record.var_sigla,jdbcType=VARCHAR},
      int_id_tipo_fuente_financiamiento = #{record.int_id_tipo_fuente_financiamiento,jdbcType=INTEGER},
      var_coordinador = #{record.var_coordinador,jdbcType=VARCHAR},
      var_email = #{record.var_email,jdbcType=VARCHAR},
      int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      int_id_auditoria = #{record.int_id_auditoria,jdbcType=INTEGER},
      var_rubro_fte_fto = #{record.var_rubro_fte_fto,jdbcType=VARCHAR},
      tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sernanp.app.dao.domain.TFuenteFinanciamiento" >
    update mpp.t_fuente_financiamiento
    <set >
      <if test="int_cod_fuente_financiamiento != null" >
        int_cod_fuente_financiamiento = #{int_cod_fuente_financiamiento,jdbcType=INTEGER},
      </if>
      <if test="var_descripcion_fuente_financiamiento != null" >
        var_descripcion_fuente_financiamiento = #{var_descripcion_fuente_financiamiento,jdbcType=VARCHAR},
      </if>
      <if test="var_sigla != null" >
        var_sigla = #{var_sigla,jdbcType=VARCHAR},
      </if>
      <if test="int_id_tipo_fuente_financiamiento != null" >
        int_id_tipo_fuente_financiamiento = #{int_id_tipo_fuente_financiamiento,jdbcType=INTEGER},
      </if>
      <if test="var_coordinador != null" >
        var_coordinador = #{var_coordinador,jdbcType=VARCHAR},
      </if>
      <if test="var_email != null" >
        var_email = #{var_email,jdbcType=VARCHAR},
      </if>
      <if test="int_id_estado != null" >
        int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="int_id_auditoria != null" >
        int_id_auditoria = #{int_id_auditoria,jdbcType=INTEGER},
      </if>
      <if test="var_rubro_fte_fto != null" >
        var_rubro_fte_fto = #{var_rubro_fte_fto,jdbcType=VARCHAR},
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    where srl_id_fuente_financiamiento = #{srl_id_fuente_financiamiento,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sernanp.app.dao.domain.TFuenteFinanciamiento" >
    update mpp.t_fuente_financiamiento
    set int_cod_fuente_financiamiento = #{int_cod_fuente_financiamiento,jdbcType=INTEGER},
      var_descripcion_fuente_financiamiento = #{var_descripcion_fuente_financiamiento,jdbcType=VARCHAR},
      var_sigla = #{var_sigla,jdbcType=VARCHAR},
      int_id_tipo_fuente_financiamiento = #{int_id_tipo_fuente_financiamiento,jdbcType=INTEGER},
      var_coordinador = #{var_coordinador,jdbcType=VARCHAR},
      var_email = #{var_email,jdbcType=VARCHAR},
      int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      int_id_auditoria = #{int_id_auditoria,jdbcType=INTEGER},
      var_rubro_fte_fto = #{var_rubro_fte_fto,jdbcType=VARCHAR},
      tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP}
    where srl_id_fuente_financiamiento = #{srl_id_fuente_financiamiento,jdbcType=INTEGER}
  </update>
</mapper>