<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sernanp.app.dao.mapper.THistorialMapper" >
  <resultMap id="BaseResultMap" type="sernanp.app.dao.domain.THistorial" >
    <id column="var_codigo_registro" property="var_codigo_registro" jdbcType="VARCHAR" />
    <result column="var_nombre_tabla" property="var_nombre_tabla" jdbcType="VARCHAR" />
    <result column="var_valor_json_actual" property="var_valor_json_actual" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    var_codigo_registro, var_nombre_tabla, var_valor_json_actual
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.THistorialExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sernanp.t_historial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.THistorialKey" >
    select 
    <include refid="Base_Column_List" />
    from sernanp.t_historial
    where var_codigo_registro = #{var_codigo_registro,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="sernanp.app.dao.domain.THistorialKey" >
    delete from sernanp.t_historial
    where var_codigo_registro = #{var_codigo_registro,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="sernanp.app.dao.domain.THistorialExample" >
    delete from sernanp.t_historial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sernanp.app.dao.domain.THistorial" >
    insert into sernanp.t_historial (var_codigo_registro, var_nombre_tabla, 
      var_valor_json_actual)
    values (#{var_codigo_registro,jdbcType=VARCHAR}, #{var_nombre_tabla,jdbcType=VARCHAR}, 
      #{var_valor_json_actual,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="sernanp.app.dao.domain.THistorial" >
    insert into sernanp.t_historial
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="var_codigo_registro != null" >
        var_codigo_registro,
      </if>
      <if test="var_nombre_tabla != null" >
        var_nombre_tabla,
      </if>
      <if test="var_valor_json_actual != null" >
        var_valor_json_actual,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="var_codigo_registro != null" >
        #{var_codigo_registro,jdbcType=VARCHAR},
      </if>
      <if test="var_nombre_tabla != null" >
        #{var_nombre_tabla,jdbcType=VARCHAR},
      </if>
      <if test="var_valor_json_actual != null" >
        #{var_valor_json_actual,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sernanp.app.dao.domain.THistorialExample" resultType="java.lang.Integer" >
    select count(*) from sernanp.t_historial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sernanp.t_historial
    <set >
      <if test="record.var_codigo_registro != null" >
        var_codigo_registro = #{record.var_codigo_registro,jdbcType=VARCHAR},
      </if>
      <if test="record.var_nombre_tabla != null" >
        var_nombre_tabla = #{record.var_nombre_tabla,jdbcType=VARCHAR},
      </if>
      <if test="record.var_valor_json_actual != null" >
        var_valor_json_actual = #{record.var_valor_json_actual,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sernanp.t_historial
    set var_codigo_registro = #{record.var_codigo_registro,jdbcType=VARCHAR},
      var_nombre_tabla = #{record.var_nombre_tabla,jdbcType=VARCHAR},
      var_valor_json_actual = #{record.var_valor_json_actual,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sernanp.app.dao.domain.THistorial" >
    update sernanp.t_historial
    <set >
      <if test="var_nombre_tabla != null" >
        var_nombre_tabla = #{var_nombre_tabla,jdbcType=VARCHAR},
      </if>
      <if test="var_valor_json_actual != null" >
        var_valor_json_actual = #{var_valor_json_actual,jdbcType=VARCHAR},
      </if>
    </set>
    where var_codigo_registro = #{var_codigo_registro,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="sernanp.app.dao.domain.THistorial" >
    update sernanp.t_historial
    set var_nombre_tabla = #{var_nombre_tabla,jdbcType=VARCHAR},
      var_valor_json_actual = #{var_valor_json_actual,jdbcType=VARCHAR}
    where var_codigo_registro = #{var_codigo_registro,jdbcType=VARCHAR}
  </update>
</mapper>