<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sernanp.app.dao.mapper.TMetaFuenteGenericaMapper" >
  <resultMap id="BaseResultMap" type="sernanp.app.dao.domain.TMetaFuenteGenerica" >
    <id column="srl_id_meta_fuente_generica" property="srl_id_meta_fuente_generica" jdbcType="INTEGER" />
    <result column="srl_id_fuente_financiamiento" property="srl_id_fuente_financiamiento" jdbcType="INTEGER" />
    <result column="srl_id_meta_presupuestaria" property="srl_id_meta_presupuestaria" jdbcType="INTEGER" />
    <result column="idarea" property="idarea" jdbcType="INTEGER" />
    <result column="idunidad" property="idunidad" jdbcType="INTEGER" />
    <result column="srl_id_clasificador" property="srl_id_clasificador" jdbcType="INTEGER" />
    <result column="srl_id_anio_planilla" property="srl_id_anio_planilla" jdbcType="INTEGER" />
    <result column="var_cod_meta_anio" property="var_cod_meta_anio" jdbcType="VARCHAR" />
    <result column="int_id_estado" property="int_id_estado" jdbcType="INTEGER" />
    <result column="tsp_fecha_registro" property="tsp_fecha_registro" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    srl_id_meta_fuente_generica, srl_id_fuente_financiamiento, srl_id_meta_presupuestaria, 
    idarea, idunidad, srl_id_clasificador, srl_id_anio_planilla, var_cod_meta_anio, int_id_estado, 
    tsp_fecha_registro
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TMetaFuenteGenericaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mpp.t_meta_fuente_generica
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TMetaFuenteGenericaKey" >
    select 
    <include refid="Base_Column_List" />
    from mpp.t_meta_fuente_generica
    where srl_id_meta_fuente_generica = #{srl_id_meta_fuente_generica,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="sernanp.app.dao.domain.TMetaFuenteGenericaKey" >
    delete from mpp.t_meta_fuente_generica
    where srl_id_meta_fuente_generica = #{srl_id_meta_fuente_generica,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="sernanp.app.dao.domain.TMetaFuenteGenericaExample" >
    delete from mpp.t_meta_fuente_generica
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sernanp.app.dao.domain.TMetaFuenteGenerica" useGeneratedKeys="true" keyProperty="srl_id_meta_fuente_generica" >
    insert into mpp.t_meta_fuente_generica (srl_id_fuente_financiamiento, srl_id_meta_presupuestaria, 
      idarea, idunidad, srl_id_clasificador, 
      srl_id_anio_planilla, var_cod_meta_anio, 
      int_id_estado, tsp_fecha_registro)
    values (#{srl_id_fuente_financiamiento,jdbcType=INTEGER}, #{srl_id_meta_presupuestaria,jdbcType=INTEGER}, 
      #{idarea,jdbcType=INTEGER}, #{idunidad,jdbcType=INTEGER}, #{srl_id_clasificador,jdbcType=INTEGER}, 
      #{srl_id_anio_planilla,jdbcType=INTEGER}, #{var_cod_meta_anio,jdbcType=VARCHAR}, 
      #{int_id_estado,jdbcType=INTEGER}, #{tsp_fecha_registro,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="sernanp.app.dao.domain.TMetaFuenteGenerica" useGeneratedKeys="true" keyProperty="srl_id_meta_fuente_generica" >
    insert into mpp.t_meta_fuente_generica
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="srl_id_fuente_financiamiento != null" >
        srl_id_fuente_financiamiento,
      </if>
      <if test="srl_id_meta_presupuestaria != null" >
        srl_id_meta_presupuestaria,
      </if>
      <if test="idarea != null" >
        idarea,
      </if>
      <if test="idunidad != null" >
        idunidad,
      </if>
      <if test="srl_id_clasificador != null" >
        srl_id_clasificador,
      </if>
      <if test="srl_id_anio_planilla != null" >
        srl_id_anio_planilla,
      </if>
      <if test="var_cod_meta_anio != null" >
        var_cod_meta_anio,
      </if>
      <if test="int_id_estado != null" >
        int_id_estado,
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="srl_id_fuente_financiamiento != null" >
        #{srl_id_fuente_financiamiento,jdbcType=INTEGER},
      </if>
      <if test="srl_id_meta_presupuestaria != null" >
        #{srl_id_meta_presupuestaria,jdbcType=INTEGER},
      </if>
      <if test="idarea != null" >
        #{idarea,jdbcType=INTEGER},
      </if>
      <if test="idunidad != null" >
        #{idunidad,jdbcType=INTEGER},
      </if>
      <if test="srl_id_clasificador != null" >
        #{srl_id_clasificador,jdbcType=INTEGER},
      </if>
      <if test="srl_id_anio_planilla != null" >
        #{srl_id_anio_planilla,jdbcType=INTEGER},
      </if>
      <if test="var_cod_meta_anio != null" >
        #{var_cod_meta_anio,jdbcType=VARCHAR},
      </if>
      <if test="int_id_estado != null" >
        #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sernanp.app.dao.domain.TMetaFuenteGenericaExample" resultType="java.lang.Integer" >
    select count(*) from mpp.t_meta_fuente_generica
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mpp.t_meta_fuente_generica
    <set >
      <if test="record.srl_id_meta_fuente_generica != null" >
        srl_id_meta_fuente_generica = #{record.srl_id_meta_fuente_generica,jdbcType=INTEGER},
      </if>
      <if test="record.srl_id_fuente_financiamiento != null" >
        srl_id_fuente_financiamiento = #{record.srl_id_fuente_financiamiento,jdbcType=INTEGER},
      </if>
      <if test="record.srl_id_meta_presupuestaria != null" >
        srl_id_meta_presupuestaria = #{record.srl_id_meta_presupuestaria,jdbcType=INTEGER},
      </if>
      <if test="record.idarea != null" >
        idarea = #{record.idarea,jdbcType=INTEGER},
      </if>
      <if test="record.idunidad != null" >
        idunidad = #{record.idunidad,jdbcType=INTEGER},
      </if>
      <if test="record.srl_id_clasificador != null" >
        srl_id_clasificador = #{record.srl_id_clasificador,jdbcType=INTEGER},
      </if>
      <if test="record.srl_id_anio_planilla != null" >
        srl_id_anio_planilla = #{record.srl_id_anio_planilla,jdbcType=INTEGER},
      </if>
      <if test="record.var_cod_meta_anio != null" >
        var_cod_meta_anio = #{record.var_cod_meta_anio,jdbcType=VARCHAR},
      </if>
      <if test="record.int_id_estado != null" >
        int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="record.tsp_fecha_registro != null" >
        tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mpp.t_meta_fuente_generica
    set srl_id_meta_fuente_generica = #{record.srl_id_meta_fuente_generica,jdbcType=INTEGER},
      srl_id_fuente_financiamiento = #{record.srl_id_fuente_financiamiento,jdbcType=INTEGER},
      srl_id_meta_presupuestaria = #{record.srl_id_meta_presupuestaria,jdbcType=INTEGER},
      idarea = #{record.idarea,jdbcType=INTEGER},
      idunidad = #{record.idunidad,jdbcType=INTEGER},
      srl_id_clasificador = #{record.srl_id_clasificador,jdbcType=INTEGER},
      srl_id_anio_planilla = #{record.srl_id_anio_planilla,jdbcType=INTEGER},
      var_cod_meta_anio = #{record.var_cod_meta_anio,jdbcType=VARCHAR},
      int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sernanp.app.dao.domain.TMetaFuenteGenerica" >
    update mpp.t_meta_fuente_generica
    <set >
      <if test="srl_id_fuente_financiamiento != null" >
        srl_id_fuente_financiamiento = #{srl_id_fuente_financiamiento,jdbcType=INTEGER},
      </if>
      <if test="srl_id_meta_presupuestaria != null" >
        srl_id_meta_presupuestaria = #{srl_id_meta_presupuestaria,jdbcType=INTEGER},
      </if>
      <if test="idarea != null" >
        idarea = #{idarea,jdbcType=INTEGER},
      </if>
      <if test="idunidad != null" >
        idunidad = #{idunidad,jdbcType=INTEGER},
      </if>
      <if test="srl_id_clasificador != null" >
        srl_id_clasificador = #{srl_id_clasificador,jdbcType=INTEGER},
      </if>
      <if test="srl_id_anio_planilla != null" >
        srl_id_anio_planilla = #{srl_id_anio_planilla,jdbcType=INTEGER},
      </if>
      <if test="var_cod_meta_anio != null" >
        var_cod_meta_anio = #{var_cod_meta_anio,jdbcType=VARCHAR},
      </if>
      <if test="int_id_estado != null" >
        int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    where srl_id_meta_fuente_generica = #{srl_id_meta_fuente_generica,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sernanp.app.dao.domain.TMetaFuenteGenerica" >
    update mpp.t_meta_fuente_generica
    set srl_id_fuente_financiamiento = #{srl_id_fuente_financiamiento,jdbcType=INTEGER},
      srl_id_meta_presupuestaria = #{srl_id_meta_presupuestaria,jdbcType=INTEGER},
      idarea = #{idarea,jdbcType=INTEGER},
      idunidad = #{idunidad,jdbcType=INTEGER},
      srl_id_clasificador = #{srl_id_clasificador,jdbcType=INTEGER},
      srl_id_anio_planilla = #{srl_id_anio_planilla,jdbcType=INTEGER},
      var_cod_meta_anio = #{var_cod_meta_anio,jdbcType=VARCHAR},
      int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP}
    where srl_id_meta_fuente_generica = #{srl_id_meta_fuente_generica,jdbcType=INTEGER}
  </update>
</mapper>