<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sernanp.app.dao.mapper.TMetaPresupuestariaMapper" >
  <resultMap id="BaseResultMap" type="sernanp.app.dao.domain.TMetaPresupuestaria" >
    <id column="srl_id_meta_presupuestaria" property="srl_id_meta_presupuestaria" jdbcType="INTEGER" />
    <result column="var_cod_meta_presupuestaria" property="var_cod_meta_presupuestaria" jdbcType="VARCHAR" />
    <result column="var_descripcion" property="var_descripcion" jdbcType="VARCHAR" />
    <result column="int_id_unidad_medida" property="int_id_unidad_medida" jdbcType="INTEGER" />
    <result column="var_per_meta_presupuestaria" property="var_per_meta_presupuestaria" jdbcType="VARCHAR" />
    <result column="int_cantidad_anual" property="int_cantidad_anual" jdbcType="INTEGER" />
    <result column="int_cantidad_semestral" property="int_cantidad_semestral" jdbcType="INTEGER" />
    <result column="idubigeo" property="idubigeo" jdbcType="INTEGER" />
    <result column="chr_tipo" property="chr_tipo" jdbcType="CHAR" />
    <result column="int_id_estado" property="int_id_estado" jdbcType="INTEGER" />
    <result column="tsp_fecha_registro" property="tsp_fecha_registro" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    srl_id_meta_presupuestaria, var_cod_meta_presupuestaria, var_descripcion, int_id_unidad_medida, 
    var_per_meta_presupuestaria, int_cantidad_anual, int_cantidad_semestral, idubigeo, 
    chr_tipo, int_id_estado, tsp_fecha_registro
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TMetaPresupuestariaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mpp.t_meta_presupuestaria
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TMetaPresupuestariaKey" >
    select 
    <include refid="Base_Column_List" />
    from mpp.t_meta_presupuestaria
    where srl_id_meta_presupuestaria = #{srl_id_meta_presupuestaria,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="sernanp.app.dao.domain.TMetaPresupuestariaKey" >
    delete from mpp.t_meta_presupuestaria
    where srl_id_meta_presupuestaria = #{srl_id_meta_presupuestaria,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="sernanp.app.dao.domain.TMetaPresupuestariaExample" >
    delete from mpp.t_meta_presupuestaria
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sernanp.app.dao.domain.TMetaPresupuestaria" useGeneratedKeys="true" keyProperty="srl_id_meta_presupuestaria" >
    insert into mpp.t_meta_presupuestaria (var_cod_meta_presupuestaria, var_descripcion, 
      int_id_unidad_medida, var_per_meta_presupuestaria, 
      int_cantidad_anual, int_cantidad_semestral, 
      idubigeo, chr_tipo, int_id_estado, 
      tsp_fecha_registro)
    values (#{var_cod_meta_presupuestaria,jdbcType=VARCHAR}, #{var_descripcion,jdbcType=VARCHAR}, 
      #{int_id_unidad_medida,jdbcType=INTEGER}, #{var_per_meta_presupuestaria,jdbcType=VARCHAR}, 
      #{int_cantidad_anual,jdbcType=INTEGER}, #{int_cantidad_semestral,jdbcType=INTEGER}, 
      #{idubigeo,jdbcType=INTEGER}, #{chr_tipo,jdbcType=CHAR}, #{int_id_estado,jdbcType=INTEGER}, 
      #{tsp_fecha_registro,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="sernanp.app.dao.domain.TMetaPresupuestaria" useGeneratedKeys="true" keyProperty="srl_id_meta_presupuestaria" >
    insert into mpp.t_meta_presupuestaria
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="var_cod_meta_presupuestaria != null" >
        var_cod_meta_presupuestaria,
      </if>
      <if test="var_descripcion != null" >
        var_descripcion,
      </if>
      <if test="int_id_unidad_medida != null" >
        int_id_unidad_medida,
      </if>
      <if test="var_per_meta_presupuestaria != null" >
        var_per_meta_presupuestaria,
      </if>
      <if test="int_cantidad_anual != null" >
        int_cantidad_anual,
      </if>
      <if test="int_cantidad_semestral != null" >
        int_cantidad_semestral,
      </if>
      <if test="idubigeo != null" >
        idubigeo,
      </if>
      <if test="chr_tipo != null" >
        chr_tipo,
      </if>
      <if test="int_id_estado != null" >
        int_id_estado,
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="var_cod_meta_presupuestaria != null" >
        #{var_cod_meta_presupuestaria,jdbcType=VARCHAR},
      </if>
      <if test="var_descripcion != null" >
        #{var_descripcion,jdbcType=VARCHAR},
      </if>
      <if test="int_id_unidad_medida != null" >
        #{int_id_unidad_medida,jdbcType=INTEGER},
      </if>
      <if test="var_per_meta_presupuestaria != null" >
        #{var_per_meta_presupuestaria,jdbcType=VARCHAR},
      </if>
      <if test="int_cantidad_anual != null" >
        #{int_cantidad_anual,jdbcType=INTEGER},
      </if>
      <if test="int_cantidad_semestral != null" >
        #{int_cantidad_semestral,jdbcType=INTEGER},
      </if>
      <if test="idubigeo != null" >
        #{idubigeo,jdbcType=INTEGER},
      </if>
      <if test="chr_tipo != null" >
        #{chr_tipo,jdbcType=CHAR},
      </if>
      <if test="int_id_estado != null" >
        #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sernanp.app.dao.domain.TMetaPresupuestariaExample" resultType="java.lang.Integer" >
    select count(*) from mpp.t_meta_presupuestaria
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mpp.t_meta_presupuestaria
    <set >
      <if test="record.srl_id_meta_presupuestaria != null" >
        srl_id_meta_presupuestaria = #{record.srl_id_meta_presupuestaria,jdbcType=INTEGER},
      </if>
      <if test="record.var_cod_meta_presupuestaria != null" >
        var_cod_meta_presupuestaria = #{record.var_cod_meta_presupuestaria,jdbcType=VARCHAR},
      </if>
      <if test="record.var_descripcion != null" >
        var_descripcion = #{record.var_descripcion,jdbcType=VARCHAR},
      </if>
      <if test="record.int_id_unidad_medida != null" >
        int_id_unidad_medida = #{record.int_id_unidad_medida,jdbcType=INTEGER},
      </if>
      <if test="record.var_per_meta_presupuestaria != null" >
        var_per_meta_presupuestaria = #{record.var_per_meta_presupuestaria,jdbcType=VARCHAR},
      </if>
      <if test="record.int_cantidad_anual != null" >
        int_cantidad_anual = #{record.int_cantidad_anual,jdbcType=INTEGER},
      </if>
      <if test="record.int_cantidad_semestral != null" >
        int_cantidad_semestral = #{record.int_cantidad_semestral,jdbcType=INTEGER},
      </if>
      <if test="record.idubigeo != null" >
        idubigeo = #{record.idubigeo,jdbcType=INTEGER},
      </if>
      <if test="record.chr_tipo != null" >
        chr_tipo = #{record.chr_tipo,jdbcType=CHAR},
      </if>
      <if test="record.int_id_estado != null" >
        int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="record.tsp_fecha_registro != null" >
        tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mpp.t_meta_presupuestaria
    set srl_id_meta_presupuestaria = #{record.srl_id_meta_presupuestaria,jdbcType=INTEGER},
      var_cod_meta_presupuestaria = #{record.var_cod_meta_presupuestaria,jdbcType=VARCHAR},
      var_descripcion = #{record.var_descripcion,jdbcType=VARCHAR},
      int_id_unidad_medida = #{record.int_id_unidad_medida,jdbcType=INTEGER},
      var_per_meta_presupuestaria = #{record.var_per_meta_presupuestaria,jdbcType=VARCHAR},
      int_cantidad_anual = #{record.int_cantidad_anual,jdbcType=INTEGER},
      int_cantidad_semestral = #{record.int_cantidad_semestral,jdbcType=INTEGER},
      idubigeo = #{record.idubigeo,jdbcType=INTEGER},
      chr_tipo = #{record.chr_tipo,jdbcType=CHAR},
      int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sernanp.app.dao.domain.TMetaPresupuestaria" >
    update mpp.t_meta_presupuestaria
    <set >
      <if test="var_cod_meta_presupuestaria != null" >
        var_cod_meta_presupuestaria = #{var_cod_meta_presupuestaria,jdbcType=VARCHAR},
      </if>
      <if test="var_descripcion != null" >
        var_descripcion = #{var_descripcion,jdbcType=VARCHAR},
      </if>
      <if test="int_id_unidad_medida != null" >
        int_id_unidad_medida = #{int_id_unidad_medida,jdbcType=INTEGER},
      </if>
      <if test="var_per_meta_presupuestaria != null" >
        var_per_meta_presupuestaria = #{var_per_meta_presupuestaria,jdbcType=VARCHAR},
      </if>
      <if test="int_cantidad_anual != null" >
        int_cantidad_anual = #{int_cantidad_anual,jdbcType=INTEGER},
      </if>
      <if test="int_cantidad_semestral != null" >
        int_cantidad_semestral = #{int_cantidad_semestral,jdbcType=INTEGER},
      </if>
      <if test="idubigeo != null" >
        idubigeo = #{idubigeo,jdbcType=INTEGER},
      </if>
      <if test="chr_tipo != null" >
        chr_tipo = #{chr_tipo,jdbcType=CHAR},
      </if>
      <if test="int_id_estado != null" >
        int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    where srl_id_meta_presupuestaria = #{srl_id_meta_presupuestaria,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sernanp.app.dao.domain.TMetaPresupuestaria" >
    update mpp.t_meta_presupuestaria
    set var_cod_meta_presupuestaria = #{var_cod_meta_presupuestaria,jdbcType=VARCHAR},
      var_descripcion = #{var_descripcion,jdbcType=VARCHAR},
      int_id_unidad_medida = #{int_id_unidad_medida,jdbcType=INTEGER},
      var_per_meta_presupuestaria = #{var_per_meta_presupuestaria,jdbcType=VARCHAR},
      int_cantidad_anual = #{int_cantidad_anual,jdbcType=INTEGER},
      int_cantidad_semestral = #{int_cantidad_semestral,jdbcType=INTEGER},
      idubigeo = #{idubigeo,jdbcType=INTEGER},
      chr_tipo = #{chr_tipo,jdbcType=CHAR},
      int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP}
    where srl_id_meta_presupuestaria = #{srl_id_meta_presupuestaria,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TMetaPresupuestariaExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mpp.t_meta_presupuestaria
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>