<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sernanp.app.dao.mapper.TNominaConceptoMapper" >
  <resultMap id="BaseResultMap" type="sernanp.app.dao.domain.TNominaConcepto" >
    <id column="srl_id_nomina_concepto" property="srl_id_nomina_concepto" jdbcType="INTEGER" />
    <result column="srl_id_nomina_anio_periodo_personal" property="srl_id_nomina_anio_periodo_personal" jdbcType="INTEGER" />
    <result column="srl_id_concepto_planilla" property="srl_id_concepto_planilla" jdbcType="INTEGER" />
    <result column="srl_id_meta_fuente_generica" property="srl_id_meta_fuente_generica" jdbcType="INTEGER" />
    <result column="dec_monto_calculado" property="dec_monto_calculado" jdbcType="NUMERIC" />
    <result column="int_id_estado" property="int_id_estado" jdbcType="INTEGER" />
    <result column="tsp_fecha_registro" property="tsp_fecha_registro" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    srl_id_nomina_concepto, srl_id_nomina_anio_periodo_personal, srl_id_concepto_planilla,
    srl_id_meta_fuente_generica, dec_monto_calculado, int_id_estado, tsp_fecha_registro
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TNominaConceptoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personal.t_nomina_concepto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TNominaConceptoKey" >
    select
    <include refid="Base_Column_List" />
    from personal.t_nomina_concepto
    where srl_id_nomina_concepto = #{srl_id_nomina_concepto,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="sernanp.app.dao.domain.TNominaConceptoKey" >
    delete from personal.t_nomina_concepto
    where srl_id_nomina_concepto = #{srl_id_nomina_concepto,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="sernanp.app.dao.domain.TNominaConceptoExample" >
    delete from personal.t_nomina_concepto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sernanp.app.dao.domain.TNominaConcepto" useGeneratedKeys="true" keyProperty="srl_id_nomina_concepto" >
    insert into personal.t_nomina_concepto (srl_id_nomina_anio_periodo_personal, srl_id_concepto_planilla,
      srl_id_meta_fuente_generica, dec_monto_calculado,
      int_id_estado, tsp_fecha_registro)
    values (#{srl_id_nomina_anio_periodo_personal,jdbcType=INTEGER}, #{srl_id_concepto_planilla,jdbcType=INTEGER},
      #{srl_id_meta_fuente_generica,jdbcType=INTEGER}, #{dec_monto_calculado,jdbcType=NUMERIC},
      #{int_id_estado,jdbcType=INTEGER}, #{tsp_fecha_registro,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="sernanp.app.dao.domain.TNominaConcepto" useGeneratedKeys="true" keyProperty="srl_id_nomina_concepto" >
    insert into personal.t_nomina_concepto
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="srl_id_nomina_anio_periodo_personal != null" >
        srl_id_nomina_anio_periodo_personal,
      </if>
      <if test="srl_id_concepto_planilla != null" >
        srl_id_concepto_planilla,
      </if>
      <if test="srl_id_meta_fuente_generica != null" >
        srl_id_meta_fuente_generica,
      </if>
      <if test="dec_monto_calculado != null" >
        dec_monto_calculado,
      </if>
      <if test="int_id_estado != null" >
        int_id_estado,
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="srl_id_nomina_anio_periodo_personal != null" >
        #{srl_id_nomina_anio_periodo_personal,jdbcType=INTEGER},
      </if>
      <if test="srl_id_concepto_planilla != null" >
        #{srl_id_concepto_planilla,jdbcType=INTEGER},
      </if>
      <if test="srl_id_meta_fuente_generica != null" >
        #{srl_id_meta_fuente_generica,jdbcType=INTEGER},
      </if>
      <if test="dec_monto_calculado != null" >
        #{dec_monto_calculado,jdbcType=NUMERIC},
      </if>
      <if test="int_id_estado != null" >
        #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sernanp.app.dao.domain.TNominaConceptoExample" resultType="java.lang.Integer" >
    select count(*) from personal.t_nomina_concepto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update personal.t_nomina_concepto
    <set >
      <if test="record.srl_id_nomina_concepto != null" >
        srl_id_nomina_concepto = #{record.srl_id_nomina_concepto,jdbcType=INTEGER},
      </if>
      <if test="record.srl_id_nomina_anio_periodo_personal != null" >
        srl_id_nomina_anio_periodo_personal = #{record.srl_id_nomina_anio_periodo_personal,jdbcType=INTEGER},
      </if>
      <if test="record.srl_id_concepto_planilla != null" >
        srl_id_concepto_planilla = #{record.srl_id_concepto_planilla,jdbcType=INTEGER},
      </if>
      <if test="record.srl_id_meta_fuente_generica != null" >
        srl_id_meta_fuente_generica = #{record.srl_id_meta_fuente_generica,jdbcType=INTEGER},
      </if>
      <if test="record.dec_monto_calculado != null" >
        dec_monto_calculado = #{record.dec_monto_calculado,jdbcType=NUMERIC},
      </if>
      <if test="record.int_id_estado != null" >
        int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="record.tsp_fecha_registro != null" >
        tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update personal.t_nomina_concepto
    set srl_id_nomina_concepto = #{record.srl_id_nomina_concepto,jdbcType=INTEGER},
      srl_id_nomina_anio_periodo_personal = #{record.srl_id_nomina_anio_periodo_personal,jdbcType=INTEGER},
      srl_id_concepto_planilla = #{record.srl_id_concepto_planilla,jdbcType=INTEGER},
      srl_id_meta_fuente_generica = #{record.srl_id_meta_fuente_generica,jdbcType=INTEGER},
      dec_monto_calculado = #{record.dec_monto_calculado,jdbcType=NUMERIC},
      int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sernanp.app.dao.domain.TNominaConcepto" >
    update personal.t_nomina_concepto
    <set >
      <if test="srl_id_nomina_anio_periodo_personal != null" >
        srl_id_nomina_anio_periodo_personal = #{srl_id_nomina_anio_periodo_personal,jdbcType=INTEGER},
      </if>
      <if test="srl_id_concepto_planilla != null" >
        srl_id_concepto_planilla = #{srl_id_concepto_planilla,jdbcType=INTEGER},
      </if>
      <if test="srl_id_meta_fuente_generica != null" >
        srl_id_meta_fuente_generica = #{srl_id_meta_fuente_generica,jdbcType=INTEGER},
      </if>
      <if test="dec_monto_calculado != null" >
        dec_monto_calculado = #{dec_monto_calculado,jdbcType=NUMERIC},
      </if>
      <if test="int_id_estado != null" >
        int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    where srl_id_nomina_concepto = #{srl_id_nomina_concepto,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sernanp.app.dao.domain.TNominaConcepto" >
    update personal.t_nomina_concepto
    set srl_id_nomina_anio_periodo_personal = #{srl_id_nomina_anio_periodo_personal,jdbcType=INTEGER},
      srl_id_concepto_planilla = #{srl_id_concepto_planilla,jdbcType=INTEGER},
      srl_id_meta_fuente_generica = #{srl_id_meta_fuente_generica,jdbcType=INTEGER},
      dec_monto_calculado = #{dec_monto_calculado,jdbcType=NUMERIC},
      int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP}
    where srl_id_nomina_concepto = #{srl_id_nomina_concepto,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TNominaConceptoExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personal.t_nomina_concepto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>