<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sernanp.app.dao.mapper.TNumeroTelefonoMapper" >
  <resultMap id="BaseResultMap" type="sernanp.app.dao.domain.TNumeroTelefono" >
    <id column="srl_id_numero_telefono" property="srl_id_numero_telefono" jdbcType="INTEGER" />
    <result column="var_cod_cuidad" property="var_cod_cuidad" jdbcType="VARCHAR" />
    <result column="var_numero_telefono" property="var_numero_telefono" jdbcType="VARCHAR" />
    <result column="int_id_tipo_telefono" property="int_id_tipo_telefono" jdbcType="INTEGER" />
    <result column="int_id_tipo_operador" property="int_id_tipo_operador" jdbcType="INTEGER" />
    <result column="int_id_estado" property="int_id_estado" jdbcType="INTEGER" />
    <result column="tsp_fecha_registro" property="tsp_fecha_registro" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    srl_id_numero_telefono, var_cod_cuidad, var_numero_telefono, int_id_tipo_telefono, 
    int_id_tipo_operador, int_id_estado, tsp_fecha_registro
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TNumeroTelefonoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personal.t_numero_telefono
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TNumeroTelefonoKey" >
    select 
    <include refid="Base_Column_List" />
    from personal.t_numero_telefono
    where srl_id_numero_telefono = #{srl_id_numero_telefono,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="sernanp.app.dao.domain.TNumeroTelefonoKey" >
    delete from personal.t_numero_telefono
    where srl_id_numero_telefono = #{srl_id_numero_telefono,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="sernanp.app.dao.domain.TNumeroTelefonoExample" >
    delete from personal.t_numero_telefono
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sernanp.app.dao.domain.TNumeroTelefono" useGeneratedKeys="true" keyProperty="srl_id_numero_telefono" >
    insert into personal.t_numero_telefono (var_cod_cuidad, var_numero_telefono, 
      int_id_tipo_telefono, int_id_tipo_operador, 
      int_id_estado, tsp_fecha_registro)
    values (#{var_cod_cuidad,jdbcType=VARCHAR}, #{var_numero_telefono,jdbcType=VARCHAR}, 
      #{int_id_tipo_telefono,jdbcType=INTEGER}, #{int_id_tipo_operador,jdbcType=INTEGER}, 
      #{int_id_estado,jdbcType=INTEGER}, #{tsp_fecha_registro,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="sernanp.app.dao.domain.TNumeroTelefono" useGeneratedKeys="true" keyProperty="srl_id_numero_telefono" >
    insert into personal.t_numero_telefono
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="var_cod_cuidad != null" >
        var_cod_cuidad,
      </if>
      <if test="var_numero_telefono != null" >
        var_numero_telefono,
      </if>
      <if test="int_id_tipo_telefono != null" >
        int_id_tipo_telefono,
      </if>
      <if test="int_id_tipo_operador != null" >
        int_id_tipo_operador,
      </if>
      <if test="int_id_estado != null" >
        int_id_estado,
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="var_cod_cuidad != null" >
        #{var_cod_cuidad,jdbcType=VARCHAR},
      </if>
      <if test="var_numero_telefono != null" >
        #{var_numero_telefono,jdbcType=VARCHAR},
      </if>
      <if test="int_id_tipo_telefono != null" >
        #{int_id_tipo_telefono,jdbcType=INTEGER},
      </if>
      <if test="int_id_tipo_operador != null" >
        #{int_id_tipo_operador,jdbcType=INTEGER},
      </if>
      <if test="int_id_estado != null" >
        #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sernanp.app.dao.domain.TNumeroTelefonoExample" resultType="java.lang.Integer" >
    select count(*) from personal.t_numero_telefono
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update personal.t_numero_telefono
    <set >
      <if test="record.srl_id_numero_telefono != null" >
        srl_id_numero_telefono = #{record.srl_id_numero_telefono,jdbcType=INTEGER},
      </if>
      <if test="record.var_cod_cuidad != null" >
        var_cod_cuidad = #{record.var_cod_cuidad,jdbcType=VARCHAR},
      </if>
      <if test="record.var_numero_telefono != null" >
        var_numero_telefono = #{record.var_numero_telefono,jdbcType=VARCHAR},
      </if>
      <if test="record.int_id_tipo_telefono != null" >
        int_id_tipo_telefono = #{record.int_id_tipo_telefono,jdbcType=INTEGER},
      </if>
      <if test="record.int_id_tipo_operador != null" >
        int_id_tipo_operador = #{record.int_id_tipo_operador,jdbcType=INTEGER},
      </if>
      <if test="record.int_id_estado != null" >
        int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="record.tsp_fecha_registro != null" >
        tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update personal.t_numero_telefono
    set srl_id_numero_telefono = #{record.srl_id_numero_telefono,jdbcType=INTEGER},
      var_cod_cuidad = #{record.var_cod_cuidad,jdbcType=VARCHAR},
      var_numero_telefono = #{record.var_numero_telefono,jdbcType=VARCHAR},
      int_id_tipo_telefono = #{record.int_id_tipo_telefono,jdbcType=INTEGER},
      int_id_tipo_operador = #{record.int_id_tipo_operador,jdbcType=INTEGER},
      int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sernanp.app.dao.domain.TNumeroTelefono" >
    update personal.t_numero_telefono
    <set >
      <if test="var_cod_cuidad != null" >
        var_cod_cuidad = #{var_cod_cuidad,jdbcType=VARCHAR},
      </if>
      <if test="var_numero_telefono != null" >
        var_numero_telefono = #{var_numero_telefono,jdbcType=VARCHAR},
      </if>
      <if test="int_id_tipo_telefono != null" >
        int_id_tipo_telefono = #{int_id_tipo_telefono,jdbcType=INTEGER},
      </if>
      <if test="int_id_tipo_operador != null" >
        int_id_tipo_operador = #{int_id_tipo_operador,jdbcType=INTEGER},
      </if>
      <if test="int_id_estado != null" >
        int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    where srl_id_numero_telefono = #{srl_id_numero_telefono,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sernanp.app.dao.domain.TNumeroTelefono" >
    update personal.t_numero_telefono
    set var_cod_cuidad = #{var_cod_cuidad,jdbcType=VARCHAR},
      var_numero_telefono = #{var_numero_telefono,jdbcType=VARCHAR},
      int_id_tipo_telefono = #{int_id_tipo_telefono,jdbcType=INTEGER},
      int_id_tipo_operador = #{int_id_tipo_operador,jdbcType=INTEGER},
      int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP}
    where srl_id_numero_telefono = #{srl_id_numero_telefono,jdbcType=INTEGER}
  </update>
</mapper>