<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sernanp.app.dao.mapper.TPersonalConceptoMapper" >
  <resultMap id="BaseResultMap" type="sernanp.app.dao.domain.TPersonalConcepto" >
    <id column="srl_id_personal_concepto" property="srl_id_personal_concepto" jdbcType="INTEGER" />
    <result column="srl_id_beneficiario_descuento_judicial" property="srl_id_beneficiario_descuento_judicial" jdbcType="INTEGER" />
    <result column="idpersonal" property="idpersonal" jdbcType="INTEGER" />
    <result column="srl_id_concepto_planilla" property="srl_id_concepto_planilla" jdbcType="INTEGER" />
    <result column="dec_monto_concepto" property="dec_monto_concepto" jdbcType="NUMERIC" />
    <result column="int_id_tipo_monto_concepto" property="int_id_tipo_monto_concepto" jdbcType="INTEGER" />
    <result column="int_id_estado" property="int_id_estado" jdbcType="INTEGER" />
    <result column="tsp_fecha_registro" property="tsp_fecha_registro" jdbcType="TIMESTAMP" />
    <result column="int_aplica_afectos" property="int_aplica_afectos" jdbcType="INTEGER" />
    <result column="int_aplica_frecuencias" property="int_aplica_frecuencias" jdbcType="INTEGER" />
    <result column="srl_id_anio_planilla" property="srl_id_anio_planilla" jdbcType="INTEGER" />
    <result column="idpersonanatural" property="idpersonanatural" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    srl_id_personal_concepto, srl_id_beneficiario_descuento_judicial, idpersonal, srl_id_concepto_planilla, 
    dec_monto_concepto, int_id_tipo_monto_concepto, int_id_estado, tsp_fecha_registro, 
    int_aplica_afectos, int_aplica_frecuencias, srl_id_anio_planilla, idpersonanatural
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TPersonalConceptoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personal.t_personal_concepto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TPersonalConceptoKey" >
    select 
    <include refid="Base_Column_List" />
    from personal.t_personal_concepto
    where srl_id_personal_concepto = #{srl_id_personal_concepto,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="sernanp.app.dao.domain.TPersonalConceptoKey" >
    delete from personal.t_personal_concepto
    where srl_id_personal_concepto = #{srl_id_personal_concepto,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="sernanp.app.dao.domain.TPersonalConceptoExample" >
    delete from personal.t_personal_concepto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sernanp.app.dao.domain.TPersonalConcepto" useGeneratedKeys="true" keyProperty="srl_id_personal_concepto" >
    insert into personal.t_personal_concepto (srl_id_beneficiario_descuento_judicial, idpersonal, 
      srl_id_concepto_planilla, dec_monto_concepto, 
      int_id_tipo_monto_concepto, int_id_estado, 
      tsp_fecha_registro, int_aplica_afectos, 
      int_aplica_frecuencias, srl_id_anio_planilla, 
      idpersonanatural)
    values (#{srl_id_beneficiario_descuento_judicial,jdbcType=INTEGER}, #{idpersonal,jdbcType=INTEGER}, 
      #{srl_id_concepto_planilla,jdbcType=INTEGER}, #{dec_monto_concepto,jdbcType=NUMERIC}, 
      #{int_id_tipo_monto_concepto,jdbcType=INTEGER}, #{int_id_estado,jdbcType=INTEGER}, 
      #{tsp_fecha_registro,jdbcType=TIMESTAMP}, #{int_aplica_afectos,jdbcType=INTEGER}, 
      #{int_aplica_frecuencias,jdbcType=INTEGER}, #{srl_id_anio_planilla,jdbcType=INTEGER}, 
      #{idpersonanatural,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="sernanp.app.dao.domain.TPersonalConcepto" useGeneratedKeys="true" keyProperty="srl_id_personal_concepto" >
    insert into personal.t_personal_concepto
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="srl_id_beneficiario_descuento_judicial != null" >
        srl_id_beneficiario_descuento_judicial,
      </if>
      <if test="idpersonal != null" >
        idpersonal,
      </if>
      <if test="srl_id_concepto_planilla != null" >
        srl_id_concepto_planilla,
      </if>
      <if test="dec_monto_concepto != null" >
        dec_monto_concepto,
      </if>
      <if test="int_id_tipo_monto_concepto != null" >
        int_id_tipo_monto_concepto,
      </if>
      <if test="int_id_estado != null" >
        int_id_estado,
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro,
      </if>
      <if test="int_aplica_afectos != null" >
        int_aplica_afectos,
      </if>
      <if test="int_aplica_frecuencias != null" >
        int_aplica_frecuencias,
      </if>
      <if test="srl_id_anio_planilla != null" >
        srl_id_anio_planilla,
      </if>
      <if test="idpersonanatural != null" >
        idpersonanatural,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="srl_id_beneficiario_descuento_judicial != null" >
        #{srl_id_beneficiario_descuento_judicial,jdbcType=INTEGER},
      </if>
      <if test="idpersonal != null" >
        #{idpersonal,jdbcType=INTEGER},
      </if>
      <if test="srl_id_concepto_planilla != null" >
        #{srl_id_concepto_planilla,jdbcType=INTEGER},
      </if>
      <if test="dec_monto_concepto != null" >
        #{dec_monto_concepto,jdbcType=NUMERIC},
      </if>
      <if test="int_id_tipo_monto_concepto != null" >
        #{int_id_tipo_monto_concepto,jdbcType=INTEGER},
      </if>
      <if test="int_id_estado != null" >
        #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
      <if test="int_aplica_afectos != null" >
        #{int_aplica_afectos,jdbcType=INTEGER},
      </if>
      <if test="int_aplica_frecuencias != null" >
        #{int_aplica_frecuencias,jdbcType=INTEGER},
      </if>
      <if test="srl_id_anio_planilla != null" >
        #{srl_id_anio_planilla,jdbcType=INTEGER},
      </if>
      <if test="idpersonanatural != null" >
        #{idpersonanatural,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sernanp.app.dao.domain.TPersonalConceptoExample" resultType="java.lang.Integer" >
    select count(*) from personal.t_personal_concepto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update personal.t_personal_concepto
    <set >
      <if test="record.srl_id_personal_concepto != null" >
        srl_id_personal_concepto = #{record.srl_id_personal_concepto,jdbcType=INTEGER},
      </if>
      <if test="record.srl_id_beneficiario_descuento_judicial != null" >
        srl_id_beneficiario_descuento_judicial = #{record.srl_id_beneficiario_descuento_judicial,jdbcType=INTEGER},
      </if>
      <if test="record.idpersonal != null" >
        idpersonal = #{record.idpersonal,jdbcType=INTEGER},
      </if>
      <if test="record.srl_id_concepto_planilla != null" >
        srl_id_concepto_planilla = #{record.srl_id_concepto_planilla,jdbcType=INTEGER},
      </if>
      <if test="record.dec_monto_concepto != null" >
        dec_monto_concepto = #{record.dec_monto_concepto,jdbcType=NUMERIC},
      </if>
      <if test="record.int_id_tipo_monto_concepto != null" >
        int_id_tipo_monto_concepto = #{record.int_id_tipo_monto_concepto,jdbcType=INTEGER},
      </if>
      <if test="record.int_id_estado != null" >
        int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="record.tsp_fecha_registro != null" >
        tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
      <if test="record.int_aplica_afectos != null" >
        int_aplica_afectos = #{record.int_aplica_afectos,jdbcType=INTEGER},
      </if>
      <if test="record.int_aplica_frecuencias != null" >
        int_aplica_frecuencias = #{record.int_aplica_frecuencias,jdbcType=INTEGER},
      </if>
      <if test="record.srl_id_anio_planilla != null" >
        srl_id_anio_planilla = #{record.srl_id_anio_planilla,jdbcType=INTEGER},
      </if>
      <if test="record.idpersonanatural != null" >
        idpersonanatural = #{record.idpersonanatural,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update personal.t_personal_concepto
    set srl_id_personal_concepto = #{record.srl_id_personal_concepto,jdbcType=INTEGER},
      srl_id_beneficiario_descuento_judicial = #{record.srl_id_beneficiario_descuento_judicial,jdbcType=INTEGER},
      idpersonal = #{record.idpersonal,jdbcType=INTEGER},
      srl_id_concepto_planilla = #{record.srl_id_concepto_planilla,jdbcType=INTEGER},
      dec_monto_concepto = #{record.dec_monto_concepto,jdbcType=NUMERIC},
      int_id_tipo_monto_concepto = #{record.int_id_tipo_monto_concepto,jdbcType=INTEGER},
      int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP},
      int_aplica_afectos = #{record.int_aplica_afectos,jdbcType=INTEGER},
      int_aplica_frecuencias = #{record.int_aplica_frecuencias,jdbcType=INTEGER},
      srl_id_anio_planilla = #{record.srl_id_anio_planilla,jdbcType=INTEGER},
      idpersonanatural = #{record.idpersonanatural,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sernanp.app.dao.domain.TPersonalConcepto" >
    update personal.t_personal_concepto
    <set >
      <if test="srl_id_beneficiario_descuento_judicial != null" >
        srl_id_beneficiario_descuento_judicial = #{srl_id_beneficiario_descuento_judicial,jdbcType=INTEGER},
      </if>
      <if test="idpersonal != null" >
        idpersonal = #{idpersonal,jdbcType=INTEGER},
      </if>
      <if test="srl_id_concepto_planilla != null" >
        srl_id_concepto_planilla = #{srl_id_concepto_planilla,jdbcType=INTEGER},
      </if>
      <if test="dec_monto_concepto != null" >
        dec_monto_concepto = #{dec_monto_concepto,jdbcType=NUMERIC},
      </if>
      <if test="int_id_tipo_monto_concepto != null" >
        int_id_tipo_monto_concepto = #{int_id_tipo_monto_concepto,jdbcType=INTEGER},
      </if>
      <if test="int_id_estado != null" >
        int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
      <if test="int_aplica_afectos != null" >
        int_aplica_afectos = #{int_aplica_afectos,jdbcType=INTEGER},
      </if>
      <if test="int_aplica_frecuencias != null" >
        int_aplica_frecuencias = #{int_aplica_frecuencias,jdbcType=INTEGER},
      </if>
      <if test="srl_id_anio_planilla != null" >
        srl_id_anio_planilla = #{srl_id_anio_planilla,jdbcType=INTEGER},
      </if>
      <if test="idpersonanatural != null" >
        idpersonanatural = #{idpersonanatural,jdbcType=INTEGER},
      </if>
    </set>
    where srl_id_personal_concepto = #{srl_id_personal_concepto,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sernanp.app.dao.domain.TPersonalConcepto" >
    update personal.t_personal_concepto
    set srl_id_beneficiario_descuento_judicial = #{srl_id_beneficiario_descuento_judicial,jdbcType=INTEGER},
      idpersonal = #{idpersonal,jdbcType=INTEGER},
      srl_id_concepto_planilla = #{srl_id_concepto_planilla,jdbcType=INTEGER},
      dec_monto_concepto = #{dec_monto_concepto,jdbcType=NUMERIC},
      int_id_tipo_monto_concepto = #{int_id_tipo_monto_concepto,jdbcType=INTEGER},
      int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      int_aplica_afectos = #{int_aplica_afectos,jdbcType=INTEGER},
      int_aplica_frecuencias = #{int_aplica_frecuencias,jdbcType=INTEGER},
      srl_id_anio_planilla = #{srl_id_anio_planilla,jdbcType=INTEGER},
      idpersonanatural = #{idpersonanatural,jdbcType=INTEGER}
    where srl_id_personal_concepto = #{srl_id_personal_concepto,jdbcType=INTEGER}
  </update>
</mapper>