<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sernanp.app.dao.mapper.TPersonalMetaFteFtoMapper" >
  <resultMap id="BaseResultMap" type="sernanp.app.dao.domain.TPersonalMetaFteFto" >
    <result column="srl_id_anio_planilla" property="srl_id_anio_planilla" jdbcType="INTEGER" />
    <result column="idpersonal" property="idpersonal" jdbcType="INTEGER" />
    <result column="c_meta" property="c_meta" jdbcType="VARCHAR" />
    <result column="c_fte_fto" property="c_fte_fto" jdbcType="VARCHAR" />
    <result column="int_id_estado" property="int_id_estado" jdbcType="INTEGER" />
    <result column="tsp_fecha_registro" property="tsp_fecha_registro" jdbcType="TIMESTAMP" />
    <result column="idpersonanatural" property="idpersonanatural" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    srl_id_anio_planilla, idpersonal, c_meta, c_fte_fto, int_id_estado, tsp_fecha_registro, 
    idpersonanatural
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TPersonalMetaFteFtoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personal.t_personal_meta_fte_fto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="sernanp.app.dao.domain.TPersonalMetaFteFtoExample" >
    delete from personal.t_personal_meta_fte_fto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sernanp.app.dao.domain.TPersonalMetaFteFto" >
    insert into personal.t_personal_meta_fte_fto (srl_id_anio_planilla, idpersonal, 
      c_meta, c_fte_fto, int_id_estado, 
      tsp_fecha_registro, idpersonanatural)
    values (#{srl_id_anio_planilla,jdbcType=INTEGER}, #{idpersonal,jdbcType=INTEGER}, 
      #{c_meta,jdbcType=VARCHAR}, #{c_fte_fto,jdbcType=VARCHAR}, #{int_id_estado,jdbcType=INTEGER}, 
      #{tsp_fecha_registro,jdbcType=TIMESTAMP}, #{idpersonanatural,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="sernanp.app.dao.domain.TPersonalMetaFteFto" >
    insert into personal.t_personal_meta_fte_fto
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="srl_id_anio_planilla != null" >
        srl_id_anio_planilla,
      </if>
      <if test="idpersonal != null" >
        idpersonal,
      </if>
      <if test="c_meta != null" >
        c_meta,
      </if>
      <if test="c_fte_fto != null" >
        c_fte_fto,
      </if>
      <if test="int_id_estado != null" >
        int_id_estado,
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro,
      </if>
      <if test="idpersonanatural != null" >
        idpersonanatural,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="srl_id_anio_planilla != null" >
        #{srl_id_anio_planilla,jdbcType=INTEGER},
      </if>
      <if test="idpersonal != null" >
        #{idpersonal,jdbcType=INTEGER},
      </if>
      <if test="c_meta != null" >
        #{c_meta,jdbcType=VARCHAR},
      </if>
      <if test="c_fte_fto != null" >
        #{c_fte_fto,jdbcType=VARCHAR},
      </if>
      <if test="int_id_estado != null" >
        #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
      <if test="idpersonanatural != null" >
        #{idpersonanatural,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sernanp.app.dao.domain.TPersonalMetaFteFtoExample" resultType="java.lang.Integer" >
    select count(*) from personal.t_personal_meta_fte_fto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update personal.t_personal_meta_fte_fto
    <set >
      <if test="record.srl_id_anio_planilla != null" >
        srl_id_anio_planilla = #{record.srl_id_anio_planilla,jdbcType=INTEGER},
      </if>
      <if test="record.idpersonal != null" >
        idpersonal = #{record.idpersonal,jdbcType=INTEGER},
      </if>
      <if test="record.c_meta != null" >
        c_meta = #{record.c_meta,jdbcType=VARCHAR},
      </if>
      <if test="record.c_fte_fto != null" >
        c_fte_fto = #{record.c_fte_fto,jdbcType=VARCHAR},
      </if>
      <if test="record.int_id_estado != null" >
        int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="record.tsp_fecha_registro != null" >
        tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
      <if test="record.idpersonanatural != null" >
        idpersonanatural = #{record.idpersonanatural,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update personal.t_personal_meta_fte_fto
    set srl_id_anio_planilla = #{record.srl_id_anio_planilla,jdbcType=INTEGER},
      idpersonal = #{record.idpersonal,jdbcType=INTEGER},
      c_meta = #{record.c_meta,jdbcType=VARCHAR},
      c_fte_fto = #{record.c_fte_fto,jdbcType=VARCHAR},
      int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP},
      idpersonanatural = #{record.idpersonanatural,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TPersonalMetaFteFtoExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personal.t_personal_meta_fte_fto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>