<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sernanp.app.dao.mapper.TPostulanteExperienciaLaboralMapper" >
  <resultMap id="BaseResultMap" type="sernanp.app.dao.domain.TPostulanteExperienciaLaboral" >
    <id column="srl_id_postulante_experiencia_laboral" property="srl_id_postulante_experiencia_laboral" jdbcType="INTEGER" />
    <result column="int_id_postulante" property="int_id_postulante" jdbcType="INTEGER" />
    <result column="int_id_institucion" property="int_id_institucion" jdbcType="INTEGER" />
    <result column="int_id_cargo" property="int_id_cargo" jdbcType="INTEGER" />
    <result column="int_id_tipo_experiencia" property="int_id_tipo_experiencia" jdbcType="INTEGER" />
    <result column="dte_fecha_inicio" property="dte_fecha_inicio" jdbcType="DATE" />
    <result column="dte_fecha_termino" property="dte_fecha_termino" jdbcType="DATE" />
    <result column="int_cant_anio" property="int_cant_anio" jdbcType="INTEGER" />
    <result column="int_cant_meses" property="int_cant_meses" jdbcType="INTEGER" />
    <result column="int_cant_dias" property="int_cant_dias" jdbcType="INTEGER" />
    <result column="var_descrip_institucion" property="var_descrip_institucion" jdbcType="VARCHAR" />
    <result column="var_descrip_funciones" property="var_descrip_funciones" jdbcType="VARCHAR" />
    <result column="var_motivo_cese" property="var_motivo_cese" jdbcType="VARCHAR" />
    <result column="int_id_estado" property="int_id_estado" jdbcType="INTEGER" />
    <result column="tsp_fecha_registro" property="tsp_fecha_registro" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    srl_id_postulante_experiencia_laboral, int_id_postulante, int_id_institucion, int_id_cargo, 
    int_id_tipo_experiencia, dte_fecha_inicio, dte_fecha_termino, int_cant_anio, int_cant_meses, 
    int_cant_dias, var_descrip_institucion, var_descrip_funciones, var_motivo_cese, int_id_estado, 
    tsp_fecha_registro
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TPostulanteExperienciaLaboralExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personal.t_postulante_experiencia_laboral
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TPostulanteExperienciaLaboralKey" >
    select 
    <include refid="Base_Column_List" />
    from personal.t_postulante_experiencia_laboral
    where srl_id_postulante_experiencia_laboral = #{srl_id_postulante_experiencia_laboral,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="sernanp.app.dao.domain.TPostulanteExperienciaLaboralKey" >
    delete from personal.t_postulante_experiencia_laboral
    where srl_id_postulante_experiencia_laboral = #{srl_id_postulante_experiencia_laboral,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="sernanp.app.dao.domain.TPostulanteExperienciaLaboralExample" >
    delete from personal.t_postulante_experiencia_laboral
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sernanp.app.dao.domain.TPostulanteExperienciaLaboral" useGeneratedKeys="true" keyProperty="srl_id_postulante_experiencia_laboral" >
    insert into personal.t_postulante_experiencia_laboral (int_id_postulante, int_id_institucion, 
      int_id_cargo, int_id_tipo_experiencia, 
      dte_fecha_inicio, dte_fecha_termino, int_cant_anio, 
      int_cant_meses, int_cant_dias, var_descrip_institucion, 
      var_descrip_funciones, var_motivo_cese, 
      int_id_estado, tsp_fecha_registro)
    values (#{int_id_postulante,jdbcType=INTEGER}, #{int_id_institucion,jdbcType=INTEGER}, 
      #{int_id_cargo,jdbcType=INTEGER}, #{int_id_tipo_experiencia,jdbcType=INTEGER}, 
      #{dte_fecha_inicio,jdbcType=DATE}, #{dte_fecha_termino,jdbcType=DATE}, #{int_cant_anio,jdbcType=INTEGER}, 
      #{int_cant_meses,jdbcType=INTEGER}, #{int_cant_dias,jdbcType=INTEGER}, #{var_descrip_institucion,jdbcType=VARCHAR}, 
      #{var_descrip_funciones,jdbcType=VARCHAR}, #{var_motivo_cese,jdbcType=VARCHAR}, 
      #{int_id_estado,jdbcType=INTEGER}, #{tsp_fecha_registro,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="sernanp.app.dao.domain.TPostulanteExperienciaLaboral" useGeneratedKeys="true" keyProperty="srl_id_postulante_experiencia_laboral" >
    insert into personal.t_postulante_experiencia_laboral
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="int_id_postulante != null" >
        int_id_postulante,
      </if>
      <if test="int_id_institucion != null" >
        int_id_institucion,
      </if>
      <if test="int_id_cargo != null" >
        int_id_cargo,
      </if>
      <if test="int_id_tipo_experiencia != null" >
        int_id_tipo_experiencia,
      </if>
      <if test="dte_fecha_inicio != null" >
        dte_fecha_inicio,
      </if>
      <if test="dte_fecha_termino != null" >
        dte_fecha_termino,
      </if>
      <if test="int_cant_anio != null" >
        int_cant_anio,
      </if>
      <if test="int_cant_meses != null" >
        int_cant_meses,
      </if>
      <if test="int_cant_dias != null" >
        int_cant_dias,
      </if>
      <if test="var_descrip_institucion != null" >
        var_descrip_institucion,
      </if>
      <if test="var_descrip_funciones != null" >
        var_descrip_funciones,
      </if>
      <if test="var_motivo_cese != null" >
        var_motivo_cese,
      </if>
      <if test="int_id_estado != null" >
        int_id_estado,
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="int_id_postulante != null" >
        #{int_id_postulante,jdbcType=INTEGER},
      </if>
      <if test="int_id_institucion != null" >
        #{int_id_institucion,jdbcType=INTEGER},
      </if>
      <if test="int_id_cargo != null" >
        #{int_id_cargo,jdbcType=INTEGER},
      </if>
      <if test="int_id_tipo_experiencia != null" >
        #{int_id_tipo_experiencia,jdbcType=INTEGER},
      </if>
      <if test="dte_fecha_inicio != null" >
        #{dte_fecha_inicio,jdbcType=DATE},
      </if>
      <if test="dte_fecha_termino != null" >
        #{dte_fecha_termino,jdbcType=DATE},
      </if>
      <if test="int_cant_anio != null" >
        #{int_cant_anio,jdbcType=INTEGER},
      </if>
      <if test="int_cant_meses != null" >
        #{int_cant_meses,jdbcType=INTEGER},
      </if>
      <if test="int_cant_dias != null" >
        #{int_cant_dias,jdbcType=INTEGER},
      </if>
      <if test="var_descrip_institucion != null" >
        #{var_descrip_institucion,jdbcType=VARCHAR},
      </if>
      <if test="var_descrip_funciones != null" >
        #{var_descrip_funciones,jdbcType=VARCHAR},
      </if>
      <if test="var_motivo_cese != null" >
        #{var_motivo_cese,jdbcType=VARCHAR},
      </if>
      <if test="int_id_estado != null" >
        #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sernanp.app.dao.domain.TPostulanteExperienciaLaboralExample" resultType="java.lang.Integer" >
    select count(*) from personal.t_postulante_experiencia_laboral
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update personal.t_postulante_experiencia_laboral
    <set >
      <if test="record.srl_id_postulante_experiencia_laboral != null" >
        srl_id_postulante_experiencia_laboral = #{record.srl_id_postulante_experiencia_laboral,jdbcType=INTEGER},
      </if>
      <if test="record.int_id_postulante != null" >
        int_id_postulante = #{record.int_id_postulante,jdbcType=INTEGER},
      </if>
      <if test="record.int_id_institucion != null" >
        int_id_institucion = #{record.int_id_institucion,jdbcType=INTEGER},
      </if>
      <if test="record.int_id_cargo != null" >
        int_id_cargo = #{record.int_id_cargo,jdbcType=INTEGER},
      </if>
      <if test="record.int_id_tipo_experiencia != null" >
        int_id_tipo_experiencia = #{record.int_id_tipo_experiencia,jdbcType=INTEGER},
      </if>
      <if test="record.dte_fecha_inicio != null" >
        dte_fecha_inicio = #{record.dte_fecha_inicio,jdbcType=DATE},
      </if>
      <if test="record.dte_fecha_termino != null" >
        dte_fecha_termino = #{record.dte_fecha_termino,jdbcType=DATE},
      </if>
      <if test="record.int_cant_anio != null" >
        int_cant_anio = #{record.int_cant_anio,jdbcType=INTEGER},
      </if>
      <if test="record.int_cant_meses != null" >
        int_cant_meses = #{record.int_cant_meses,jdbcType=INTEGER},
      </if>
      <if test="record.int_cant_dias != null" >
        int_cant_dias = #{record.int_cant_dias,jdbcType=INTEGER},
      </if>
      <if test="record.var_descrip_institucion != null" >
        var_descrip_institucion = #{record.var_descrip_institucion,jdbcType=VARCHAR},
      </if>
      <if test="record.var_descrip_funciones != null" >
        var_descrip_funciones = #{record.var_descrip_funciones,jdbcType=VARCHAR},
      </if>
      <if test="record.var_motivo_cese != null" >
        var_motivo_cese = #{record.var_motivo_cese,jdbcType=VARCHAR},
      </if>
      <if test="record.int_id_estado != null" >
        int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="record.tsp_fecha_registro != null" >
        tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update personal.t_postulante_experiencia_laboral
    set srl_id_postulante_experiencia_laboral = #{record.srl_id_postulante_experiencia_laboral,jdbcType=INTEGER},
      int_id_postulante = #{record.int_id_postulante,jdbcType=INTEGER},
      int_id_institucion = #{record.int_id_institucion,jdbcType=INTEGER},
      int_id_cargo = #{record.int_id_cargo,jdbcType=INTEGER},
      int_id_tipo_experiencia = #{record.int_id_tipo_experiencia,jdbcType=INTEGER},
      dte_fecha_inicio = #{record.dte_fecha_inicio,jdbcType=DATE},
      dte_fecha_termino = #{record.dte_fecha_termino,jdbcType=DATE},
      int_cant_anio = #{record.int_cant_anio,jdbcType=INTEGER},
      int_cant_meses = #{record.int_cant_meses,jdbcType=INTEGER},
      int_cant_dias = #{record.int_cant_dias,jdbcType=INTEGER},
      var_descrip_institucion = #{record.var_descrip_institucion,jdbcType=VARCHAR},
      var_descrip_funciones = #{record.var_descrip_funciones,jdbcType=VARCHAR},
      var_motivo_cese = #{record.var_motivo_cese,jdbcType=VARCHAR},
      int_id_estado = #{record.int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{record.tsp_fecha_registro,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sernanp.app.dao.domain.TPostulanteExperienciaLaboral" >
    update personal.t_postulante_experiencia_laboral
    <set >
      <if test="int_id_postulante != null" >
        int_id_postulante = #{int_id_postulante,jdbcType=INTEGER},
      </if>
      <if test="int_id_institucion != null" >
        int_id_institucion = #{int_id_institucion,jdbcType=INTEGER},
      </if>
      <if test="int_id_cargo != null" >
        int_id_cargo = #{int_id_cargo,jdbcType=INTEGER},
      </if>
      <if test="int_id_tipo_experiencia != null" >
        int_id_tipo_experiencia = #{int_id_tipo_experiencia,jdbcType=INTEGER},
      </if>
      <if test="dte_fecha_inicio != null" >
        dte_fecha_inicio = #{dte_fecha_inicio,jdbcType=DATE},
      </if>
      <if test="dte_fecha_termino != null" >
        dte_fecha_termino = #{dte_fecha_termino,jdbcType=DATE},
      </if>
      <if test="int_cant_anio != null" >
        int_cant_anio = #{int_cant_anio,jdbcType=INTEGER},
      </if>
      <if test="int_cant_meses != null" >
        int_cant_meses = #{int_cant_meses,jdbcType=INTEGER},
      </if>
      <if test="int_cant_dias != null" >
        int_cant_dias = #{int_cant_dias,jdbcType=INTEGER},
      </if>
      <if test="var_descrip_institucion != null" >
        var_descrip_institucion = #{var_descrip_institucion,jdbcType=VARCHAR},
      </if>
      <if test="var_descrip_funciones != null" >
        var_descrip_funciones = #{var_descrip_funciones,jdbcType=VARCHAR},
      </if>
      <if test="var_motivo_cese != null" >
        var_motivo_cese = #{var_motivo_cese,jdbcType=VARCHAR},
      </if>
      <if test="int_id_estado != null" >
        int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      </if>
      <if test="tsp_fecha_registro != null" >
        tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP},
      </if>
    </set>
    where srl_id_postulante_experiencia_laboral = #{srl_id_postulante_experiencia_laboral,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sernanp.app.dao.domain.TPostulanteExperienciaLaboral" >
    update personal.t_postulante_experiencia_laboral
    set int_id_postulante = #{int_id_postulante,jdbcType=INTEGER},
      int_id_institucion = #{int_id_institucion,jdbcType=INTEGER},
      int_id_cargo = #{int_id_cargo,jdbcType=INTEGER},
      int_id_tipo_experiencia = #{int_id_tipo_experiencia,jdbcType=INTEGER},
      dte_fecha_inicio = #{dte_fecha_inicio,jdbcType=DATE},
      dte_fecha_termino = #{dte_fecha_termino,jdbcType=DATE},
      int_cant_anio = #{int_cant_anio,jdbcType=INTEGER},
      int_cant_meses = #{int_cant_meses,jdbcType=INTEGER},
      int_cant_dias = #{int_cant_dias,jdbcType=INTEGER},
      var_descrip_institucion = #{var_descrip_institucion,jdbcType=VARCHAR},
      var_descrip_funciones = #{var_descrip_funciones,jdbcType=VARCHAR},
      var_motivo_cese = #{var_motivo_cese,jdbcType=VARCHAR},
      int_id_estado = #{int_id_estado,jdbcType=INTEGER},
      tsp_fecha_registro = #{tsp_fecha_registro,jdbcType=TIMESTAMP}
    where srl_id_postulante_experiencia_laboral = #{srl_id_postulante_experiencia_laboral,jdbcType=INTEGER}
  </update>
</mapper>