<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sernanp.app.dao.mapper.TRegimenContractualMapper" >
  <resultMap id="BaseResultMap" type="sernanp.app.dao.domain.TRegimenContractual" >
    <id column="srl_id_regimen_contractual" property="srl_id_regimen_contractual" jdbcType="INTEGER" />
    <result column="var_descripcion_regimen_contractual" property="var_descripcion_regimen_contractual" jdbcType="VARCHAR" />
    <result column="int_cod_regimen_contractual" property="int_cod_regimen_contractual" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    srl_id_regimen_contractual, var_descripcion_regimen_contractual, int_cod_regimen_contractual
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TRegimenContractualExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sernanp.t_regimen_contractual
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="sernanp.app.dao.domain.TRegimenContractualKey" >
    select 
    <include refid="Base_Column_List" />
    from sernanp.t_regimen_contractual
    where srl_id_regimen_contractual = #{srl_id_regimen_contractual,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="sernanp.app.dao.domain.TRegimenContractualKey" >
    delete from sernanp.t_regimen_contractual
    where srl_id_regimen_contractual = #{srl_id_regimen_contractual,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="sernanp.app.dao.domain.TRegimenContractualExample" >
    delete from sernanp.t_regimen_contractual
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sernanp.app.dao.domain.TRegimenContractual" useGeneratedKeys="true" keyProperty="srl_id_regimen_contractual" >
    insert into sernanp.t_regimen_contractual (var_descripcion_regimen_contractual, int_cod_regimen_contractual
      )
    values (#{var_descripcion_regimen_contractual,jdbcType=VARCHAR}, #{int_cod_regimen_contractual,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="sernanp.app.dao.domain.TRegimenContractual" useGeneratedKeys="true" keyProperty="srl_id_regimen_contractual" >
    insert into sernanp.t_regimen_contractual
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="var_descripcion_regimen_contractual != null" >
        var_descripcion_regimen_contractual,
      </if>
      <if test="int_cod_regimen_contractual != null" >
        int_cod_regimen_contractual,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="var_descripcion_regimen_contractual != null" >
        #{var_descripcion_regimen_contractual,jdbcType=VARCHAR},
      </if>
      <if test="int_cod_regimen_contractual != null" >
        #{int_cod_regimen_contractual,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sernanp.app.dao.domain.TRegimenContractualExample" resultType="java.lang.Integer" >
    select count(*) from sernanp.t_regimen_contractual
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sernanp.t_regimen_contractual
    <set >
      <if test="record.srl_id_regimen_contractual != null" >
        srl_id_regimen_contractual = #{record.srl_id_regimen_contractual,jdbcType=INTEGER},
      </if>
      <if test="record.var_descripcion_regimen_contractual != null" >
        var_descripcion_regimen_contractual = #{record.var_descripcion_regimen_contractual,jdbcType=VARCHAR},
      </if>
      <if test="record.int_cod_regimen_contractual != null" >
        int_cod_regimen_contractual = #{record.int_cod_regimen_contractual,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sernanp.t_regimen_contractual
    set srl_id_regimen_contractual = #{record.srl_id_regimen_contractual,jdbcType=INTEGER},
      var_descripcion_regimen_contractual = #{record.var_descripcion_regimen_contractual,jdbcType=VARCHAR},
      int_cod_regimen_contractual = #{record.int_cod_regimen_contractual,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sernanp.app.dao.domain.TRegimenContractual" >
    update sernanp.t_regimen_contractual
    <set >
      <if test="var_descripcion_regimen_contractual != null" >
        var_descripcion_regimen_contractual = #{var_descripcion_regimen_contractual,jdbcType=VARCHAR},
      </if>
      <if test="int_cod_regimen_contractual != null" >
        int_cod_regimen_contractual = #{int_cod_regimen_contractual,jdbcType=INTEGER},
      </if>
    </set>
    where srl_id_regimen_contractual = #{srl_id_regimen_contractual,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sernanp.app.dao.domain.TRegimenContractual" >
    update sernanp.t_regimen_contractual
    set var_descripcion_regimen_contractual = #{var_descripcion_regimen_contractual,jdbcType=VARCHAR},
      int_cod_regimen_contractual = #{int_cod_regimen_contractual,jdbcType=INTEGER}
    where srl_id_regimen_contractual = #{srl_id_regimen_contractual,jdbcType=INTEGER}
  </update>
</mapper>