.icon-add {
	background-image:
		url(../images/icons/silk/add.png)
		!important;
}

.icon-delete {
	background-image:
		url(../images/icons/silk/delete.png)
		!important;
}

.icon-erase {
	background-image:
		url(../images/icons/silk/erase.png)
		!important;
}

.icon-find {
	background-image:
		url(../images/icons/silk/find.png)
		!important;
}

.icon-application_osx {
	background-image:
		url(../images/icons/silk/application_osx.png)
		!important;
}

.icon-disk_black {
	background-image:
		url(../images/icons/silk/disk_black.png)
		!important;
}

.icon-cross {
	background-image:
		url(../images/icons/silk/cross.png)
		!important;
}

.icon-application_form {
	background-image:
		url(../images/icons/silk/application_form.png)
		!important;
}

.icon-application_osx_cascade {
	background-image:
		url(../images/icons/silk/application_osx_cascade.png)
		!important;
}

.icon-pencil {
	background-image:
		url(../images/icons/silk/pencil.png)
		!important;
}

.icon-user_gray {
	background-image:
		url(../images/icons/silk/user_gray.png)
		!important;
}

.icon-layout {
	background-image:
		url(../images/icons/silk/layout.png)
		!important;
}

.icon-application_cascade {
	background-image:
		url(../images/icons/silk/application_cascade.png)
		!important;
}

.icon-door_out {
	background-image:
		url(../images/icons/silk/door_out.png)
		!important;
}

.icon-text_list_bullets {
	background-image:
		url(../images/icons/silk/text_list_bullets.png)
		!important;
}

.icon-bullet_toggle_plus {
	background-image:
		url(../images/icons/silk/bullet_toggle_plus.png)
		!important;
}

.icon-bullet_toggle_minus {
	background-image:
		url(../images/icons/silk/bullet_toggle_minus.png)
		!important;
}

.icon-report {
	background-image:
			url(../images/icons/silk/report.png)
	!important;
}

.icon-chart_curve {
	background-image:
			url(../images/icons/silk/chart_curve.png)
	!important;
}

.icon-cog_start {
	background-image:
			url(../images/icons/silk/cog_start.png)
	!important;
}

.icon-arrow_refresh_small {
	background-image:
			url(../images/icons/silk/arrow_refresh_small.png)
	!important;
}

.icon-calculator_edit {
	background-image:
			url(../images/icons/silk/calculator_edit.png)
	!important;
}

.icon-bullet_wrench {
	background-image:
			url(../images/icons/silk/bullet_wrench.png)
	!important;
}
