Sources/Java/CoraviVentasParent/CoraviVentasBusiness/.classpath
Sources/Java/CoraviVentasParent/CoraviVentasBusiness/.project
Sources/Java/CoraviVentasParent/CoraviVentasRepositoryModel/.classpath
Sources/Java/CoraviVentasParent/CoraviVentasRepositoryModel/.project
Sources/Java/CoraviVentasParent/CoraviVentasWebApp/.classpath
Sources/Java/CoraviVentasParent/CoraviVentasWebApp/.gitignore
Sources/Java/CoraviVentasParent/CoraviVentasWebApp/.project
Sources/Java/CoraviVentasParent/CoraviVentasWebApp/CoraviVentasWebApp.iml
Sources/Java/CoraviVentasParent/CoraviVentasWSRestApp/.classpath
Sources/Java/CoraviVentasParent/CoraviVentasWSRestApp/.project
Sources/Java/InaviParent/InaviBusiness/.classpath
Sources/Java/InaviParent/InaviBusiness/.project
Sources/Java/InaviParent/InaviExtJsDev/.classpath
Sources/Java/InaviParent/InaviExtJsDev/.project
Sources/Java/InaviParent/InaviExtJsWebApp/.classpath
Sources/Java/InaviParent/InaviExtJsWebApp/.project
Sources/Java/InaviParent/InaviModelsQuery/.classpath
Sources/Java/InaviParent/InaviModelsQuery/.project
Sources/Java/InaviParent/InaviWSRestApp/.classpath
Sources/Java/InaviParent/InaviWSRestApp/.project
Sources/Java/InaviParent/.project
