<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.AdendaFinalPorContratoQueryMapper"> 

<sql id="outs"> 
<![CDATA[


pc.srl_id_contrato,
pc.var_num_contrato,
pc.srl_id_regimen_contractual,
pc.srl_id_meta_fuente_generica


]]>
</sql> 

<sql id="from"> 
<![CDATA[


sernanp.t_personal_contrato pc 


]]>
</sql> 

<sql id="inputs"> 
<![CDATA[


pc.srl_id_contrato_padre is not null and

pc.srl_id_contrato_padre = #{srl_id_contrato_padre} and

pc.dte_fec_inicio = 
(
	select 
		max(pcx.dte_fec_inicio) 
	from 
		sernanp.t_personal_contrato pcx 
	where 
		pcx.srl_id_contrato_padre = pc.srl_id_contrato_padre AND
		pcx.dte_fec_inicio <= current_timestamp
)
]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${orderColumn} ${orderDirecction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="sernanp.app.dao.query.domain.AdendaFinalPorContratoQuery" parameterType="sernanp.app.dao.query.domain.AdendaFinalPorContratoQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="sernanp.app.dao.query.domain.AdendaFinalPorContratoQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="sernanp.app.dao.query.domain.AdendaFinalPorContratoQuery" parameterType="sernanp.app.dao.query.domain.AdendaFinalPorContratoQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="sernanp.app.dao.query.domain.AdendaFinalPorContratoQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="sernanp.app.dao.query.domain.AdendaFinalPorContratoQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
