<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.AdendaEntrePeriodoPorContratoQueryMapper"> 

<select id="getListQuery" resultType="sernanp.app.dao.query.domain.AdendaEntrePeriodoPorContratoQuery" parameterType="sernanp.app.dao.query.domain.AdendaEntrePeriodoPorContratoQueryCriteria"> 
<![CDATA[

	      
				
				select 
				
					pc.srl_id_contrato ,
					pc.srl_id_contrato_padre ,
					pc.dte_fec_suscrip ,
					pc.dte_fec_inicio ,
					pc.dte_fec_termino ,
					pc.dte_fec_cese,
					pc.int_id_estado  
				
				from 
					sernanp.t_personal_contrato pc 
				where 
				
					pc.srl_id_contrato_padre =  #{srl_id_contrato_padre}   and
					COALESCE(pc.srl_id_contrato,0) <>  COALESCE(#{srl_id_contrato},0) and
					pc.int_id_estado not in (4,3, 1) and
					(#{dte_fec_inicio}  between pc.dte_fec_inicio and COALESCE(pc.dte_fec_cese,pc.dte_fec_termino) or
					 #{dte_fec_termino}  between pc.dte_fec_inicio and COALESCE(pc.dte_fec_cese,pc.dte_fec_termino));
					
		  
	      
]]>
</select> 
</mapper> 
