<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.ArchivoPostulanteQueryMapper"> 

<sql id="outs"> 
<![CDATA[


ppa.srl_id_archivo,
ppa.int_id_postulante,
ta.var_nombre_archivo,
ppa.var_descripcion_archivo,
ppa.int_id_tipo_documento,
CASE WHEN ppa.int_id_tipo_documento = 1
 THEN 'DNI'
 ELSE 'RUC'
 END AS var_descrip_tipo_documento,
ta.var_tipo_archivo,
ta.var_archivo_ruta_almacen,
ta.num_size_archivo,
to_char(ta.tsp_fecha_registro,'dd/mm/yyyy') as tsp_fecha_registro


]]>
</sql> 

<sql id="from"> 
<![CDATA[


personal.t_postulante_personal_archivo ppa
inner join sernanp.t_archivo ta on ta.srl_id_archivo = ppa.srl_id_archivo


]]>
</sql> 

<sql id="inputs"> 
<![CDATA[


ppa.srl_id_archivo = COALESCE(#{srl_id_archivo},ppa.srl_id_archivo) and
ppa.int_id_postulante = COALESCE(#{int_id_postulante},ppa.int_id_postulante)
]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${orderColumn} ${orderDirecction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="sernanp.app.dao.query.domain.ArchivoPostulanteQuery" parameterType="sernanp.app.dao.query.domain.ArchivoPostulanteQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="sernanp.app.dao.query.domain.ArchivoPostulanteQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="sernanp.app.dao.query.domain.ArchivoPostulanteQuery" parameterType="sernanp.app.dao.query.domain.ArchivoPostulanteQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="sernanp.app.dao.query.domain.ArchivoPostulanteQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="sernanp.app.dao.query.domain.ArchivoPostulanteQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
