<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.ConceptoAfectoQueryMapper"> 

<sql id="outs"> 
<![CDATA[
 

aid.srl_id_afecto_concepto,
aid.srl_id_concepto_planilla,
idpa.int_id_tipo_concepto,
vtiidp.destablatipo as descrip_tipo_concepto,
idpa.int_id_sub_tipo_concepto,
vstiidp.destablatipo as descrip_sub_tipo_concepto,
aid.srl_id_concepto_planilla_afecto,
idpa.var_cod_concepto,
idpa.var_descrip_corto_concepto,
aid.int_id_estado,
veg.destablatipo as descrip_estado,
to_char(aid.tsp_fecha_registro, 'dd/mm/yyyy') AS tsp_fecha_registro


]]>
</sql> 

<sql id="from"> 
<![CDATA[


personal.t_afecto_concepto aid 
INNER JOIN personal.t_concepto_planilla idpa ON (idpa.srl_id_concepto_planilla = aid.srl_id_concepto_planilla_afecto)
INNER JOIN sernanp.vw_estado_generico veg ON (idpa.int_id_estado = veg.codinttablatipo)
INNER JOIN sernanp.vw_concepto_planilla vtiidp ON (idpa.int_id_tipo_concepto = vtiidp.codinttablatipo)
INNER JOIN sernanp.vw_sub_tipo_concepto_planilla vstiidp ON (idpa.int_id_sub_tipo_concepto = vstiidp.codinttablatipo)


]]>
</sql> 

<sql id="inputs"> 
<![CDATA[


aid.srl_id_afecto_concepto = COALESCE(#{srl_id_afecto_concepto},aid.srl_id_afecto_concepto) and
aid.srl_id_concepto_planilla = COALESCE(#{srl_id_concepto_planilla},aid.srl_id_concepto_planilla)
]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${orderColumn} ${orderDirecction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="sernanp.app.dao.query.domain.ConceptoAfectoQuery" parameterType="sernanp.app.dao.query.domain.ConceptoAfectoQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="sernanp.app.dao.query.domain.ConceptoAfectoQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="sernanp.app.dao.query.domain.ConceptoAfectoQuery" parameterType="sernanp.app.dao.query.domain.ConceptoAfectoQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="sernanp.app.dao.query.domain.ConceptoAfectoQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="sernanp.app.dao.query.domain.ConceptoAfectoQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
