<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.ConfParametroQueryMapper"> 

<sql id="outs"> 
<![CDATA[


app.srl_id_parametro_planilla,
pp.var_descrip_parametro,
app.dec_valor_parametro


]]>
</sql> 

<sql id="from"> 
<![CDATA[


personal.t_anio_parametro_planilla app
inner join personal.t_parametro_planilla pp on pp.srl_id_parametro_planilla = app.srl_id_parametro_planilla
inner join personal.t_anio_planilla ap on ap.srl_id_anio_planilla = app.srl_id_anio_planilla


]]>
</sql> 

<sql id="inputs"> 
<![CDATA[


ap.int_anio = (select max(ap.int_anio) from personal.t_anio_planilla ap where ap.tsp_fecha_registro <= #{tsp_fecha_registro})
]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${orderColumn} ${orderDirecction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="sernanp.app.dao.query.domain.ConfParametroQuery" parameterType="sernanp.app.dao.query.domain.ConfParametroQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="sernanp.app.dao.query.domain.ConfParametroQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="sernanp.app.dao.query.domain.ConfParametroQuery" parameterType="sernanp.app.dao.query.domain.ConfParametroQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="sernanp.app.dao.query.domain.ConfParametroQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="sernanp.app.dao.query.domain.ConfParametroQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
