<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.GestionarConfigFactorEvalQueryMapper"> 

<sql id="outs"> 
<![CDATA[


cfe.srl_id_configuracion_factor_evaluacion,
cfe.var_descrip_configuracion,
cfe.int_id_estado,
eg.destablatipo as descrip_estado,
to_char(cfe.tsp_fecha_registro,'dd/mm/yyyy') as tsp_fecha_registro


]]>
</sql> 

<sql id="from"> 
<![CDATA[


personal.t_configuracion_factor_evaluacion cfe
inner join sernanp.vw_estado_generico eg on cfe.int_id_estado = eg.codinttablatipo


]]>
</sql> 

<sql id="inputs"> 
<![CDATA[


cfe.srl_id_configuracion_factor_evaluacion = coalesce(#{srl_id_configuracion_factor_evaluacion},cfe.srl_id_configuracion_factor_evaluacion) and
cfe.var_descrip_configuracion like coalesce('%' || #{var_descrip_configuracion} || '%', cfe.var_descrip_configuracion) AND
cfe.int_id_estado = coalesce(#{int_id_estado},cfe.int_id_estado)


]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${orderColumn} ${orderDirecction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="sernanp.app.dao.query.domain.GestionarConfigFactorEvalQuery" parameterType="sernanp.app.dao.query.domain.GestionarConfigFactorEvalQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="sernanp.app.dao.query.domain.GestionarConfigFactorEvalQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="sernanp.app.dao.query.domain.GestionarConfigFactorEvalQuery" parameterType="sernanp.app.dao.query.domain.GestionarConfigFactorEvalQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="sernanp.app.dao.query.domain.GestionarConfigFactorEvalQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="sernanp.app.dao.query.domain.GestionarConfigFactorEvalQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
