<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.GestionarConfiguarionEtapaQueryMapper"> 

<sql id="outs"> 
<![CDATA[


cep.srl_id_configuracion_evaluacion_personal,
cep.var_nombre_configuracion,
cep.int_id_estado,
eg.destablatipo as descrip_estado,
to_char(cep.tsp_fecha_registro,'dd/mm/yyyy') as tsp_fecha_registro


]]>
</sql> 

<sql id="from"> 
<![CDATA[


personal.t_configuracion_evaluacion_personal cep
inner join sernanp.vw_estado_generico eg on cep.int_id_estado = eg.codinttablatipo


]]>
</sql> 

<sql id="inputs"> 
<![CDATA[


cep.srl_id_configuracion_evaluacion_personal = coalesce(#{srl_id_configuracion_evaluacion_personal},cep.srl_id_configuracion_evaluacion_personal) and
upper(cep.var_nombre_configuracion) like upper(coalesce('%' || #{var_nombre_configuracion} || '%', cep.var_nombre_configuracion)) and
cep.int_id_estado = coalesce(#{int_id_estado},cep.int_id_estado)
]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${orderColumn} ${orderDirecction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="sernanp.app.dao.query.domain.GestionarConfiguarionEtapaQuery" parameterType="sernanp.app.dao.query.domain.GestionarConfiguarionEtapaQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="sernanp.app.dao.query.domain.GestionarConfiguarionEtapaQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="sernanp.app.dao.query.domain.GestionarConfiguarionEtapaQuery" parameterType="sernanp.app.dao.query.domain.GestionarConfiguarionEtapaQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="sernanp.app.dao.query.domain.GestionarConfiguarionEtapaQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="sernanp.app.dao.query.domain.GestionarConfiguarionEtapaQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
