<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.GestionarPeriodoPorAnioQueryMapper"> 

<sql id="outs"> 
<![CDATA[


ap.srl_id_anio_planilla,
ap.int_anio,
app.srl_id_anio_periodo_planilla,
app.int_id_periodo_mes


]]>
</sql> 

<sql id="from"> 
<![CDATA[


personal.t_anio_planilla ap
inner join personal.t_anio_periodo_planilla app on app.srl_id_anio_planilla = ap.srl_id_anio_planilla


]]>
</sql> 

<sql id="inputs"> 
<![CDATA[


ap.srl_id_anio_planilla = coalesce(#{srl_id_anio_planilla},ap.srl_id_anio_planilla)
]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${orderColumn} ${orderDirecction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="sernanp.app.dao.query.domain.GestionarPeriodoPorAnioQuery" parameterType="sernanp.app.dao.query.domain.GestionarPeriodoPorAnioQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="sernanp.app.dao.query.domain.GestionarPeriodoPorAnioQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="sernanp.app.dao.query.domain.GestionarPeriodoPorAnioQuery" parameterType="sernanp.app.dao.query.domain.GestionarPeriodoPorAnioQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="sernanp.app.dao.query.domain.GestionarPeriodoPorAnioQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="sernanp.app.dao.query.domain.GestionarPeriodoPorAnioQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
