<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.MenuReportesQueryMapper"> 

<sql id="outs"> 
<![CDATA[
 
  m.idmodulo, 
  m.nombremodulo, 
  m.imgmodulo, 
  m.nombrecortomodulo, 
  m.nivelmodulo, 
  m.niveldependemodulo, 
  m.ordenmodulo, 
  m.flagmodulo, 
  m.hrefmodulo, 
  m.titlemodulo

]]>
</sql> 

<sql id="from"> 
<![CDATA[
 
  sernanp.modulo m

]]>
</sql> 

<sql id="inputs"> 
<![CDATA[

  m.niveldependemodulo = COALESCE(#{niveldependemodulo},m.niveldependemodulo)
]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${orderColumn} ${orderDirecction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="sernanp.app.dao.query.domain.MenuReportesQuery" parameterType="sernanp.app.dao.query.domain.MenuReportesQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="sernanp.app.dao.query.domain.MenuReportesQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="sernanp.app.dao.query.domain.MenuReportesQuery" parameterType="sernanp.app.dao.query.domain.MenuReportesQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="sernanp.app.dao.query.domain.MenuReportesQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="sernanp.app.dao.query.domain.MenuReportesQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
