<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.obtenerSubEtapasEvaluacionMapper"> 

<sql id="outs"> 
<![CDATA[
 
srl_id_subetapa_proceso_seleccion, 
srl_id_etapa_proceso_seleccion, 
idarea, 
idunidad, 
var_descrip_subetapa, 
int_id_estado


]]>
</sql> 

<sql id="from"> 
<![CDATA[
 personal.t_subetapa_proceso_seleccion


]]>
</sql> 

<sql id="inputs"> 
<![CDATA[
 srl_id_etapa_proceso_seleccion = 2

and srl_id_subetapa_proceso_seleccion = 3
or srl_id_subetapa_proceso_seleccion = 5
or srl_id_subetapa_proceso_seleccion = 7
or srl_id_subetapa_proceso_seleccion = 11
]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${orderColumn} ${orderDirecction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="sernanp.app.dao.query.domain.obtenerSubEtapasEvaluacion" parameterType="sernanp.app.dao.query.domain.obtenerSubEtapasEvaluacionCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="sernanp.app.dao.query.domain.obtenerSubEtapasEvaluacion" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="sernanp.app.dao.query.domain.obtenerSubEtapasEvaluacion" parameterType="sernanp.app.dao.query.domain.obtenerSubEtapasEvaluacionCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="sernanp.app.dao.query.domain.obtenerSubEtapasEvaluacion" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="sernanp.app.dao.query.domain.obtenerSubEtapasEvaluacionCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
