<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.ObtenerSedeAdministrativaUnidadOperativaQueryMapper"> 

<sql id="outs"> 
<![CDATA[
 uo.idunidad, sars.var_nomb_sede AS sede_administrativa_req_sel, s.int_sede_principal

]]>
</sql> 

<sql id="from"> 
<![CDATA[
 sernanp.unidadoperativa uo 
LEFT JOIN sernanp.sede s ON uo.idsede = s.idsede
LEFT JOIN sernanp.t_sede_administrativa_req_sel sars ON sars.srl_id_sede_req_sel = s.int_sede_principal

]]>
</sql> 

<sql id="inputs"> 
<![CDATA[
 uo.idunidad = COALESCE(#{idunidad},uo.idunidad)
]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${orderColumn} ${orderDirecction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="sernanp.app.dao.query.domain.ObtenerSedeAdministrativaUnidadOperativaQuery" parameterType="sernanp.app.dao.query.domain.ObtenerSedeAdministrativaUnidadOperativaQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="sernanp.app.dao.query.domain.ObtenerSedeAdministrativaUnidadOperativaQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="sernanp.app.dao.query.domain.ObtenerSedeAdministrativaUnidadOperativaQuery" parameterType="sernanp.app.dao.query.domain.ObtenerSedeAdministrativaUnidadOperativaQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="sernanp.app.dao.query.domain.ObtenerSedeAdministrativaUnidadOperativaQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="sernanp.app.dao.query.domain.ObtenerSedeAdministrativaUnidadOperativaQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
