<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.ObtenerRetencionPorAnhoPeriodoQueryMapper"> 

<sql id="outs"> 
<![CDATA[
 
sum(nc.dec_monto_calculado) as total_retencion

]]>
</sql> 

<sql id="from"> 
<![CDATA[

personal.t_nomina_anio_periodo_personal napp
inner join personal.t_anio_periodo_planilla app on napp.srl_id_anio_periodo_planilla = app.srl_id_anio_periodo_planilla
inner join personal.t_anio_planilla ap on app.srl_id_anio_planilla = ap.srl_id_anio_planilla
INNER JOIN personal.t_nomina_concepto nc ON nc.srl_id_nomina_anio_periodo_personal = napp.srl_id_nomina_anio_periodo_personal
INNER JOIN personal.t_concepto_planilla cp ON cp.srl_id_concepto_planilla = nc.srl_id_concepto_planilla

]]>
</sql> 

<sql id="inputs"> 
<![CDATA[

app.int_id_periodo_mes < #{int_id_periodo_mes} 
and ap.int_anio = #{int_anio}
AND napp.idpersonal IN (#{idpersonal})
AND cp.srl_id_concepto_planilla = #{srl_id_concepto_planilla}
]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${orderColumn} ${orderDirecction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="sernanp.app.dao.query.domain.ObtenerRetencionPorAnhoPeriodoQuery" parameterType="sernanp.app.dao.query.domain.ObtenerRetencionPorAnhoPeriodoQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="sernanp.app.dao.query.domain.ObtenerRetencionPorAnhoPeriodoQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="sernanp.app.dao.query.domain.ObtenerRetencionPorAnhoPeriodoQuery" parameterType="sernanp.app.dao.query.domain.ObtenerRetencionPorAnhoPeriodoQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="sernanp.app.dao.query.domain.ObtenerRetencionPorAnhoPeriodoQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="sernanp.app.dao.query.domain.ObtenerRetencionPorAnhoPeriodoQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
