<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.ObtenerTipoYClasePlanillaQueryMapper"> 

<sql id="outs"> 
<![CDATA[


tp.var_cod_tipo_planilla,
cp.var_cod_clase_planilla,
cs.int_correlativo


]]>
</sql> 

<sql id="from"> 
<![CDATA[


personal.t_config_siaf cs
inner join personal.t_clase_planilla cp on cp.srl_id_clase_planilla = cs.srl_id_clase_planilla
inner join personal.t_tipo_planilla tp on tp.srl_id_tipo_planilla = cp.srl_id_tipo_planilla


]]>
</sql> 

<sql id="inputs"> 
<![CDATA[


cs.srl_id_regimen_contractual = #{srl_id_regimen_contractual} and
cs.srl_id_fuente_financiamiento = #{srl_id_fuente_financiamiento}
]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${orderColumn} ${orderDirecction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="sernanp.app.dao.query.domain.ObtenerTipoYClasePlanillaQuery" parameterType="sernanp.app.dao.query.domain.ObtenerTipoYClasePlanillaQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="sernanp.app.dao.query.domain.ObtenerTipoYClasePlanillaQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="sernanp.app.dao.query.domain.ObtenerTipoYClasePlanillaQuery" parameterType="sernanp.app.dao.query.domain.ObtenerTipoYClasePlanillaQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="sernanp.app.dao.query.domain.ObtenerTipoYClasePlanillaQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="sernanp.app.dao.query.domain.ObtenerTipoYClasePlanillaQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
