<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.ObtenerAreaActualPersonalQueryMapper"> 

<sql id="outs"> 
<![CDATA[
 
				
pc.srl_id_contrato,
pc.idpersonal, 
pc.idarea,
pc.idunidad


]]>
</sql> 

<sql id="from"> 
<![CDATA[

 
sernanp.t_personal_contrato pc 


]]>
</sql> 

<sql id="inputs"> 
<![CDATA[
 
				
COALESCE(pc.idpersonal,0) = COALESCE(#{idpersonal},COALESCE(pc.idpersonal,0))   and
pc.srl_id_contrato_padre is null and
pc.dte_fec_inicio = 
(
	select 

	max(pcx.dte_fec_inicio)

	from 
	sernanp.t_personal_contrato pcx
	where 
	COALESCE(pcx.idpersonal,0) = COALESCE(#{idpersonal},COALESCE(pcx.idpersonal,0)) and
	pcx.dte_fec_inicio <= CURRENT_DATE
)
]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${orderColumn} ${orderDirecction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="sernanp.app.dao.query.domain.ObtenerAreaActualPersonalQuery" parameterType="sernanp.app.dao.query.domain.ObtenerAreaActualPersonalQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="sernanp.app.dao.query.domain.ObtenerAreaActualPersonalQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="sernanp.app.dao.query.domain.ObtenerAreaActualPersonalQuery" parameterType="sernanp.app.dao.query.domain.ObtenerAreaActualPersonalQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="sernanp.app.dao.query.domain.ObtenerAreaActualPersonalQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="sernanp.app.dao.query.domain.ObtenerAreaActualPersonalQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
