<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.ObtenerDatosReqAreaOrgQueryMapper"> 

<sql id="outs"> 
<![CDATA[
 
       mfg.idarea,
       mfg.srl_id_meta_presupuestaria,
       mp.var_cod_meta_presupuestaria,
       mp.var_descripcion,
       mfg.srl_id_fuente_financiamiento,
       ff.var_rubro_fte_fto,
       ff.var_descripcion_fuente_financiamiento,
       mfg.srl_id_clasificador,
       c.var_descrip_clasificador,
       mfg.int_id_estado,
       vwe.destablatipo as "descrip_estado"

]]>
</sql> 

<sql id="from"> 
<![CDATA[

       mpp.t_meta_fuente_generica mfg 
       LEFT JOIN mpp.t_meta_presupuestaria mp ON mfg.srl_id_meta_presupuestaria = mp.srl_id_meta_presupuestaria
       LEFT JOIN mpp.t_fuente_financiamiento ff ON mfg.srl_id_fuente_financiamiento = ff.srl_id_fuente_financiamiento
       LEFT JOIN mpp.t_clasificador c ON mfg.srl_id_clasificador = c.srl_id_clasificador
       LEFT JOIN sernanp.vw_estado_generico vwe ON mfg.int_id_estado = vwe.ordtablatipo

]]>
</sql> 

<sql id="inputs"> 
<![CDATA[

       mfg.idarea = COALESCE(#{idarea},mfg.idarea) AND
       mfg.int_id_estado = COALESCE(#{int_id_estado},mfg.int_id_estado)       
 
]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${orderColumn} ${orderDirecction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="sernanp.app.dao.query.domain.ObtenerDatosReqAreaOrgQuery" parameterType="sernanp.app.dao.query.domain.ObtenerDatosReqAreaOrgQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="sernanp.app.dao.query.domain.ObtenerDatosReqAreaOrgQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="sernanp.app.dao.query.domain.ObtenerDatosReqAreaOrgQuery" parameterType="sernanp.app.dao.query.domain.ObtenerDatosReqAreaOrgQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="sernanp.app.dao.query.domain.ObtenerDatosReqAreaOrgQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="sernanp.app.dao.query.domain.ObtenerDatosReqAreaOrgQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
