<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.PostulantePlazaQueryMapper"> 

<sql id="outs"> 
<![CDATA[

	
	pcao.srl_id_postulante_conv_area_org,
	pcao.srl_id_conv_area_org,
	pp.int_id_postulante,
	(coalesce(pn.nombre,'') || ' ' || coalesce(pn.apepat,'') || ' ' || coalesce(pn.apemat,'')) as "nombres_completos",
	pn.idtipodocumento,
	td.abrtablatipo as "descrip_tipo_documento",
	pn.numerodoc,
	pcao.int_orden_merito,
	pcao.dec_puntaje_total,
	pcao.int_id_estado,
	ep.var_nombre_estado,
	to_char(pcao.tsp_fecha_registro,'dd/mm/yyyy') as tsp_fecha_registro


]]>
</sql> 

<sql id="from"> 
<![CDATA[

	sernanp.t_postulante_cnv_area_org pcao
    left join sernanp.t_postulante_personal pp on pp.int_id_postulante = pcao.int_id_postulante
	left join sernanp.personanatural pn on pn.idpersonanatural = pp.int_id_postulante
	left join sernanp.persona p on p.idpersona = pn.idpersona
	left join sernanp.vw_tipo_documento td on td.idtablatipo = pn.idtipodocumento
	left join sernanp.vw_estado_postulacion ep on ep.var_cod_estado = pcao.int_id_estado


]]>
</sql> 

<sql id="inputs"> 
<![CDATA[


pcao.srl_id_postulante_conv_area_org = coalesce(#{srl_id_postulante_conv_area_org},pcao.srl_id_postulante_conv_area_org) and
pcao.srl_id_conv_area_org = coalesce(#{srl_id_conv_area_org},pcao.srl_id_conv_area_org)
]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY dec_puntaje_total desc
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="sernanp.app.dao.query.domain.PostulantePlazaQuery" parameterType="sernanp.app.dao.query.domain.PostulantePlazaQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="sernanp.app.dao.query.domain.PostulantePlazaQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="sernanp.app.dao.query.domain.PostulantePlazaQuery" parameterType="sernanp.app.dao.query.domain.PostulantePlazaQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="sernanp.app.dao.query.domain.PostulantePlazaQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="sernanp.app.dao.query.domain.PostulantePlazaQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
