<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.ReporteResumenNominaPagoFFMPMapper"> 

<sql id="outs"> 
<![CDATA[
 	
	*
	

]]>
</sql> 

<sql id="from"> 
<![CDATA[
 
(
SELECT 	
	af.var_nombre_afp,
	cp.var_descrip_concepto,
	SUM(nc.dec_monto_calculado) as dec_monto_calculado
	
  FROM 
          personal.t_nomina_concepto nc 
	  INNER JOIN personal.t_concepto_planilla cp ON nc.srl_id_concepto_planilla = cp.srl_id_concepto_planilla
	  INNER JOIN personal.t_nomina_anio_periodo_personal napp ON nc.srl_id_nomina_anio_periodo_personal = napp.srl_id_nomina_anio_periodo_personal
	  INNER JOIN personal.t_anio_periodo_planilla app ON app.srl_id_anio_periodo_planilla = napp.srl_id_anio_periodo_planilla
	  INNER JOIN personal.t_anio_planilla ap ON ap.srl_id_anio_planilla = app.srl_id_anio_planilla
	  INNER JOIN sernanp.personal ps ON napp.idpersonal = ps.idpersonal
	  INNER JOIN personal.t_afp af ON ps.srl_id_afp = af.srl_id_afp
	   
  WHERE 
	app.int_id_periodo_mes = #{int_id_periodo_mes} AND 
	ap.int_anio = #{int_anio} AND 
	napp.srl_id_regimen_contractual= #{srl_id_regimen_contractual} AND
	(cp.var_descrip_concepto = 'APORTE OBLIGATORIO'
	OR cp.var_descrip_concepto = 'SEGURO INVALIDEZ'
	OR cp.var_descrip_concepto = 'COMISION PORCENTUAL') AND
	napp.c_meta = #{c_meta} AND 
	napp.c_fte_fto = #{c_fte_fto} AND
	cp.int_id_tipo_concepto = 2 AND
        cp.int_id_sub_tipo_concepto <> 6		
	
GROUP BY 
	af.var_nombre_afp,
	cp.var_descrip_concepto
	
UNION 

SELECT 	
	 distinct on(cp.var_descrip_concepto,SUM(nc.dec_monto_calculado))
	 NULL,
         cp.var_descrip_concepto,
	 SUM(nc.dec_monto_calculado) as dec_monto_calculado
	
  FROM personal.t_nomina_concepto nc 
	  INNER JOIN personal.t_concepto_planilla cp ON nc.srl_id_concepto_planilla = cp.srl_id_concepto_planilla
	  INNER JOIN personal.t_nomina_anio_periodo_personal napp ON nc.srl_id_nomina_anio_periodo_personal = napp.srl_id_nomina_anio_periodo_personal
	  INNER JOIN personal.t_anio_periodo_planilla app ON app.srl_id_anio_periodo_planilla = napp.srl_id_anio_periodo_planilla
	  INNER JOIN personal.t_anio_planilla ap ON ap.srl_id_anio_planilla = app.srl_id_anio_planilla
	  INNER JOIN sernanp.personal ps ON napp.idpersonal = ps.idpersonal
	  INNER JOIN personal.t_afp af ON ps.srl_id_afp = af.srl_id_afp
	   
  WHERE 
	app.int_id_periodo_mes = #{int_id_periodo_mes} AND 
	ap.int_anio = #{int_anio} AND 
	napp.srl_id_regimen_contractual= #{srl_id_regimen_contractual} AND
	(cp.var_descrip_concepto != 'APORTE OBLIGATORIO'
	and cp.var_descrip_concepto != 'SEGURO INVALIDEZ'
	and cp.var_descrip_concepto != 'COMISION PORCENTUAL') AND
	napp.c_meta = #{c_meta} AND 
	napp.c_fte_fto = #{c_fte_fto} AND
	(cp.int_id_tipo_concepto = 2 OR
	cp.int_id_sub_tipo_concepto <> 6 OR
	cp.int_id_tipo_concepto = 3)
        

GROUP BY 
	cp.var_descrip_concepto


)x

 ORDER BY
	x.var_nombre_afp
]]>
</sql> 

<sql id="inputs"> 
<![CDATA[
 
				
]]>
</sql> 

<sql id="order"> 
<![CDATA[


]]>
</sql> 

<select id="getListQueryByCriteria" resultType="sernanp.app.dao.query.domain.ReporteResumenNominaPagoFFMP" parameterType="sernanp.app.dao.query.domain.ReporteResumenNominaPagoFFMPCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
 
</select> 

<select id="getListQueryByMap" resultType="sernanp.app.dao.query.domain.ReporteResumenNominaPagoFFMP" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 

</select> 

<select id="getListQueryPaginationByCriteria" resultType="sernanp.app.dao.query.domain.ReporteResumenNominaPagoFFMP" parameterType="sernanp.app.dao.query.domain.ReporteResumenNominaPagoFFMPCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
 
</select> 

<select id="getListQueryPaginationByMap" resultType="sernanp.app.dao.query.domain.ReporteResumenNominaPagoFFMP" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 

</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="sernanp.app.dao.query.domain.ReporteResumenNominaPagoFFMPCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 

</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
 
</select> 

</mapper> 
