<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.ReporteProyeccionPlanillasFFQueryMapper"> 

<sql id="outs"> 
<![CDATA[

	app.srl_id_anio_planilla,
	(COALESCE(pn.apepat,'')||' '||COALESCE(pn.apemat,'')||' '||COALESCE(pn.nombre,'')) as "nombre_completo",
	pn.apepat,
	pn.apemat,
	pn.nombre,
	pn.numerodoc,
	napp.srl_id_regimen_contractual,
	rc.var_descripcion_regimen_contractual,
	ff.srl_id_fuente_financiamiento,
	ff.var_descripcion_fuente_financiamiento, 
	ap.int_anio,
	ms.destablatipo as descrip_periodo,
	to_char((select MAX(x.dte_fec_inicio) from sernanp.t_personal_contrato x where x.idpersonal=napp.idpersonal),'DD/MM/YYYY') as dte_fec_inicio,
	idpa.int_id_tipo_concepto,
	UPPER(vtiidp.destablatipo) as descrip_tipo_concepto,
	nc.srl_id_concepto_planilla,
	idpa.var_descrip_corto_concepto,
	napp.c_fte_fto,
	napp.c_meta,
	nc.dec_monto_calculado,
	napp.dec_total_ingresos,
	napp.dec_total_descuentos,
	napp.dec_total_aportes,
	(napp.dec_total_ingresos + napp.dec_total_aportes) neto_pagar,
	c.var_nom_cargo,
	napp.var_ubicacion_fisica as "ubicacion"

]]>
</sql> 

<sql id="from"> 
<![CDATA[

personal.t_nomina_anio_periodo_personal napp
inner join personal.t_anio_periodo_planilla app on napp.srl_id_anio_periodo_planilla = app.srl_id_anio_periodo_planilla
inner join personal.t_anio_planilla ap on app.srl_id_anio_planilla = ap.srl_id_anio_planilla
inner join sernanp.vw_meses ms on ms.codinttablatipo = app.int_id_periodo_mes
inner join sernanp.t_regimen_contractual rc on napp.srl_id_regimen_contractual=rc.srl_id_regimen_contractual
inner join sernanp.personal ps on napp.idpersonal = ps.idpersonal
inner join sernanp.personanatural pn on ps.idpersonanatural=pn.idpersonanatural
left join sernanp.t_personal_contrato pc on napp.srl_id_contrato=pc.srl_id_contrato
left join personal.t_nomina_concepto nc ON napp.srl_id_nomina_anio_periodo_personal = nc.srl_id_nomina_anio_periodo_personal
left join personal.t_concepto_planilla idpa ON (idpa.srl_id_concepto_planilla = nc.srl_id_concepto_planilla)
left join sernanp.vw_concepto_planilla vtiidp ON (idpa.int_id_tipo_concepto = vtiidp.codinttablatipo)
left join mpp.t_fuente_financiamiento ff on napp.c_fte_fto = ff.var_rubro_fte_fto
LEFT JOIN sernanp.t_cargo c ON pc.srl_id_cargo = c.srl_id_cargo


]]>
</sql> 

<sql id="inputs"> 
<![CDATA[

COALESCE(napp.srl_id_regimen_contractual,0) = COALESCE(#{srl_id_regimen_contractual},COALESCE(napp.srl_id_regimen_contractual,0)) and
COALESCE(napp.c_fte_fto,'') = COALESCE(#{c_fte_fto},COALESCE(napp.c_fte_fto,'')) and
napp.c_meta IN (${c_meta}) and
ap.int_anio = COALESCE(#{int_anio},ap.int_anio) and
app.int_id_periodo_mes = COALESCE(#{int_id_periodo_mes},app.int_id_periodo_mes) and
napp.int_id_estado = COALESCE(1,napp.int_id_estado) and
idpa.int_id_tipo_concepto IN (1,3)


]]>
</sql> 

<sql id="order"> 
<![CDATA[

GROUP BY

napp.c_fte_fto,
napp.c_meta,
ps.idpersonal,
app.srl_id_anio_planilla,
pn.apepat,
pn.apemat,
pn.nombre,
pn.numerodoc,
napp.srl_id_regimen_contractual,
rc.var_descripcion_regimen_contractual,
ff.srl_id_fuente_financiamiento,
ap.int_anio,
ms.destablatipo,
napp.idpersonal,
idpa.int_id_tipo_concepto,
vtiidp.destablatipo,
nc.srl_id_concepto_planilla,
idpa.var_descrip_corto_concepto,
nc.dec_monto_calculado,
napp.dec_total_ingresos,
napp.dec_total_descuentos,
napp.dec_total_aportes,
c.var_nom_cargo,
napp.var_ubicacion_fisica
	
ORDER BY napp.c_fte_fto, napp.c_meta, pn.numerodoc DESC

]]>
</sql> 

<select id="getListQueryByCriteria" resultType="sernanp.app.dao.query.domain.ReporteProyeccionPlanillasFFQuery" parameterType="sernanp.app.dao.query.domain.ReporteProyeccionPlanillasFFQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="sernanp.app.dao.query.domain.ReporteProyeccionPlanillasFFQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="sernanp.app.dao.query.domain.ReporteProyeccionPlanillasFFQuery" parameterType="sernanp.app.dao.query.domain.ReporteProyeccionPlanillasFFQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="sernanp.app.dao.query.domain.ReporteProyeccionPlanillasFFQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="sernanp.app.dao.query.domain.ReporteProyeccionPlanillasFFQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
