<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="sernanp.app.dao.query.mapper.TablaTipoQueryMapper"> 

<select id="getListQuery" resultType="sernanp.app.dao.query.domain.TablaTipoQuery" parameterType="sernanp.app.dao.query.domain.TablaTipoQueryCriteria"> 
<![CDATA[

	      
				
				select  
					
					tt.idtablatipo ,
					tt.ordtablatipo ,
					tt.destablatipo,
					tt.abrtablatipo,
					tt.idtabla ,
					tt.codinttablatipo ,
					tt.mensajetablatipo,
					tt.clasetablatipo,
					tt.flagvisible,
					tt.int_cod_refer_tablatipo 
					
				 from sernanp.tablatipo tt
				  
				 where 
				 
				 tt.idtabla = (select t.idtabla from sernanp.tabla t where t.destabla = #{destabla});
				 
		  
	      
]]>
</select> 
</mapper> 
