<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="pgsql" providerName="Npgsql" connectionString="Server=149.56.98.55;Port=5432;Database=bd_acme;User Id=postgres;Password=postgres;"/>
  </connectionStrings>

  <appSettings>
    <add key="namePrint" value="BIXOLON SRP-F310" />
  </appSettings>
  
</configuration>