<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.acme.mybatis.query.mapper.VendedorQueryMapper"> 

<sql id="outs"> 
<![CDATA[


p.id_persona,
p.cod_persona,
concat(p.ape_pater,' ',p.ape_mater,', ',p.nombres_completos) nombres,
p.nombres_completos,
p.ape_pater,
p.ape_mater,
p.id_tipo_docu_iden,
td.valor_a descrip_tipo_docu_iden,
p.num_docu_iden,
p.correo,
p.direccion,
p.telefono,
p.sucursal,
p.usuario,
p.clave,

p.id_user,
concat(p1.ape_pater,' ',p1.ape_mater,', ',p1.nombres_completos) nom_user,
DATE_FORMAT(p.fec_reg, '%d/%m/%Y') fec_reg,
p.id_user_mod,
concat(p2.ape_pater,' ',p2.ape_mater,', ',p2.nombres_completos) nom_user_mod,
DATE_FORMAT(p.fec_mod, '%d/%m/%Y') fec_mod,

p.id_estado,
e.valor_a as descrip_estado


]]>
</sql> 

<sql id="from"> 
<![CDATA[


persona p
inner join (select ci.valor_a,ci.valor_b from catalogo_item ci inner join catalogo c on ci.id_catalogo = c.id_catalogo where c.nombre_catalogo = 'Estado_Generico') e on cast(e.valor_b as SIGNED) = p.id_estado
inner join (select ci.valor_a,ci.valor_b from catalogo_item ci inner join catalogo c on ci.id_catalogo = c.id_catalogo where c.nombre_catalogo = 'Doucmento_Identidad') td on cast(td.valor_b as SIGNED) = p.id_tipo_docu_iden
inner join persona p1 on p1.id_persona = p.id_user
inner join persona p2 on p2.id_persona = p.id_user_mod


]]>
</sql> 

<sql id="inputs"> 
<![CDATA[


p.id_persona = ifnull(#{id_persona},p.id_persona) AND
concat(p.ape_pater,' ',p.ape_mater,', ',p.nombres_completos) like ifnull(concat('%',#{nombres_completos},'%'),concat(p.ape_pater,' ',p.ape_mater,', ',p.nombres_completos)) and 
p.id_tipo_docu_iden = ifnull(#{id_tipo_docu_iden},p.id_tipo_docu_iden) and
p.num_docu_iden = ifnull(#{num_docu_iden},p.num_docu_iden) AND
p.id_sub_tipo_persona = 1 AND
p.id_estado = ifnull(#{id_estado},p.id_estado)

]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${order_column} ${order_direction}
]]>
</sql>

<select id="getListQueryByCriteria" resultType="com.acme.mybatis.query.model.VendedorQuery" parameterType="com.acme.mybatis.query.model.VendedorQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="com.acme.mybatis.query.model.VendedorQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="com.acme.mybatis.query.model.VendedorQuery" parameterType="com.acme.mybatis.query.model.VendedorQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="com.acme.mybatis.query.model.VendedorQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="com.acme.mybatis.query.model.VendedorQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
