/**
* Copyright «©» ${anho}, FOCUS CONSULTORES ASOCIADOS SAC. All rights reserved.
*
* This file is part of ${nameApp}.
*
* ${nameApp} is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* ${nameApp} is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with ${nameApp}.  If not, see <http://www.gnu.org/licenses/>.
*/	 

/**
* GENERATOR CRUD EXT JS 5            
* BY FOCUS CONSULTORES ASOCIADOS SAC  
* DATE CREATE : ${datetimeCreate}
* VERSION : 1.0 
*/

Ext.define('MyApp.controller.${name}.${nameModelAlter}Controller', {
    extend: 'Ext.app.Controller',

    stores: ['${name}.${nameModelAlter}Store'],

    models: ['${name}.${nameModelAlter}Model'],

    views: ['${name}.${nameModelAlter}Edit', '${name}.${nameModelAlter}List'],

    refs: [
    	{
            ref: '${nameModelAlter}Panel',
            selector: 'panel'
        },
        {
            ref: '${nameModelAlter}List',
            selector: '${nameModelAlter}List'
        }
    ],

    init: function() {
        this.control({
            '${nameModelAlter}List dataview': {
                itemdblclick: this.editRecord
            },
            '${nameModelAlter}List button[action=add]': {
            	click: this.editRecord
            },
            '${nameModelAlter}List button[action=delete]': {
                click: this.deleteRecord
            },
            '${nameModelAlter}Edit button[action=save]': {
                click: this.updateRecord
            }
        });
    },

    editRecord: function(grid, record) {
        var edit = Ext.create('MyApp.view.${name}.${nameModelAlter}Edit').show();
        if(record.data){
        	edit.down('form').loadRecord(record);
        	edit.setTitle('Editar');
        }else{
        	edit.setTitle('Agregar');
        }
    },
    
    updateRecord: function(button) {
    	
        var win = button.up('window');
        var form = win.down('form');
        var record = form.getRecord();
        var values = form.getValues();
        var store = Ext.getStore('${name}.${nameModelAlter}Store');
        
        ${descriptivos}
        if (form.isValid()) {
	        Ext.Msg.confirm('Confirmar','¿Estás seguro de GRABAR el registro?',function (btn) {
	            
	            if (btn == 'yes') {
                
                    if(win.title === 'Editar') {
                        record.set(values);
                    } else{
                        record = Ext.create('MyApp.model.${name}.${nameModelAlter}Model');
                        record.set(values);
                        store.add(record);
                    }

                    win.close();	
                    store.sync({
                        success: function (batch, eOpts) {
                            store.load({params: {${joinProperty}: null}});
                        }
                    });
	            }
	            
	     });
        
        }
    },
    deleteRecord: function(button) {
    	
    	var grid = this.get${nameModelAlter}List();
    	var record = grid.getSelectionModel().getSelection(); 
    	var store = Ext.getStore('${name}.${nameModelAlter}Store');
    	
    	if(record.length > 0){
	        Ext.Msg.confirm('Confirmar','¿Estás seguro de ELIMINAR el registro?',function (btn) {
	                if (btn == 'yes') {
	             	   store.remove(record);
						store.sync({
					        success: function (batch, eOpts) {
					            store.load({params: {${joinProperty}: null}});
					        }
					    });
	                }
	        });
    	}

    }
    
});