/**
* Copyright «©» ${anho}, FOCUS CONSULTORES ASOCIADOS SAC. All rights reserved.
*
* This file is part of ${nameApp}.
*
* ${nameApp} is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* ${nameApp} is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with ${nameApp}.  If not, see <http://www.gnu.org/licenses/>.
*/	 

/**
* GENERATOR CRUD EXT JS 5            
* BY FOCUS CONSULTORES ASOCIADOS SAC  
* DATE CREATE : ${datetimeCreate}
* VERSION : 1.0 
*/

Ext.define('MyApp.view.${name}.List' ,{
    extend: 'Ext.grid.Panel',
    alias : 'widget.${name}List',
    
    requires: ['MyApp.view.${name}.Filter'],

    glyph:'xf022@FontAwesome',

    title : '${titleCrud}',
    store: '${name}.MainStore',

    columns: [
#set($counter = 0)
#foreach( $e in $columns )
#if($counter==0)
		{
	    	header: "${e.header}",
			flex:${e.flex},
			dataIndex: '${e.fieldModel}',
			hidden:${e.hidden},
			sortable:true
		}
#else
		,{
			header: "${e.header}",
			flex:${e.flex},
			dataIndex: '${e.fieldModel}',
			hidden:${e.hidden},
			sortable:true
		}
#end
#set($counter = $counter + 1)
#end
	],
	
	initComponent: function() {
		
		this.dockedItems = [
		     {
		          xtype: '${name}Filter',
		     },
			 {
	            xtype: 'toolbar',
	            items: [
				            {
				            	glyph:'xf0b0@FontAwesome',
				                text: 'Filtrar',
				                action: 'filter'
				            },
				            '-',
				            {
				            	glyph:'xf12d@FontAwesome',
				                text: 'Limpiar',
				                action: 'clearFilter'
				            },
				            '-',
				            {
				            	glyph:'xf055@FontAwesome',
				                text: 'Agregar',
				                action: 'add'
				            },
				            '-',
				            {
				            	glyph:'xf056@FontAwesome',
				                text: 'Eliminar',
				                action: 'delete'
				            }
			           ]
	        },
	        {
	            xtype: 'pagingtoolbar',
	            dock:'top',
	            store: '${name}.MainStore',
	            displayInfo: true
	        }
        ];
		
		this.callParent(arguments);
        this.on('render', this.loadStore, this);
	},
    loadStore: function() {
        this.getStore().load();
    }
});
