<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.com.acme.domain.mybatis.mapper.GuiaSaldoMapper" >
  <resultMap id="BaseResultMap" type="pe.com.acme.domain.mybatis.model.GuiaSaldo" >
    <id column="id_guia_saldo" property="id_guia_saldo" jdbcType="INTEGER" />
    <result column="id_guia" property="id_guia" jdbcType="INTEGER" />
    <result column="id_moneda" property="id_moneda" jdbcType="INTEGER" />
    <result column="monto_amortizado" property="monto_amortizado" jdbcType="NUMERIC" />
    <result column="fecha_saldo" property="fecha_saldo" jdbcType="DATE" />
    <result column="id_estado" property="id_estado" jdbcType="INTEGER" />
    <result column="id_usuario_reg" property="id_usuario_reg" jdbcType="INTEGER" />
    <result column="fecha_registro" property="fecha_registro" jdbcType="TIMESTAMP" />
    <result column="id_usuario_mod" property="id_usuario_mod" jdbcType="INTEGER" />
    <result column="fecha_modificacion" property="fecha_modificacion" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id_guia_saldo, id_guia, id_moneda, monto_amortizado, fecha_saldo, id_estado, id_usuario_reg, 
    fecha_registro, id_usuario_mod, fecha_modificacion
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pe.com.acme.domain.mybatis.model.GuiaSaldoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from inavi.guia_saldo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="pe.com.acme.domain.mybatis.model.GuiaSaldoKey" >
    select 
    <include refid="Base_Column_List" />
    from inavi.guia_saldo
    where id_guia_saldo = #{id_guia_saldo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="pe.com.acme.domain.mybatis.model.GuiaSaldoKey" >
    delete from inavi.guia_saldo
    where id_guia_saldo = #{id_guia_saldo,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pe.com.acme.domain.mybatis.model.GuiaSaldoExample" >
    delete from inavi.guia_saldo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.com.acme.domain.mybatis.model.GuiaSaldo" useGeneratedKeys="true" keyProperty="id_guia_saldo" >
    insert into inavi.guia_saldo (id_guia, id_moneda, monto_amortizado, 
      fecha_saldo, id_estado, id_usuario_reg, 
      fecha_registro, id_usuario_mod, fecha_modificacion
      )
    values (#{id_guia,jdbcType=INTEGER}, #{id_moneda,jdbcType=INTEGER}, #{monto_amortizado,jdbcType=NUMERIC}, 
      #{fecha_saldo,jdbcType=DATE}, #{id_estado,jdbcType=INTEGER}, #{id_usuario_reg,jdbcType=INTEGER}, 
      #{fecha_registro,jdbcType=TIMESTAMP}, #{id_usuario_mod,jdbcType=INTEGER}, #{fecha_modificacion,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="pe.com.acme.domain.mybatis.model.GuiaSaldo" useGeneratedKeys="true" keyProperty="id_guia_saldo" >
    insert into inavi.guia_saldo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id_guia != null" >
        id_guia,
      </if>
      <if test="id_moneda != null" >
        id_moneda,
      </if>
      <if test="monto_amortizado != null" >
        monto_amortizado,
      </if>
      <if test="fecha_saldo != null" >
        fecha_saldo,
      </if>
      <if test="id_estado != null" >
        id_estado,
      </if>
      <if test="id_usuario_reg != null" >
        id_usuario_reg,
      </if>
      <if test="fecha_registro != null" >
        fecha_registro,
      </if>
      <if test="id_usuario_mod != null" >
        id_usuario_mod,
      </if>
      <if test="fecha_modificacion != null" >
        fecha_modificacion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id_guia != null" >
        #{id_guia,jdbcType=INTEGER},
      </if>
      <if test="id_moneda != null" >
        #{id_moneda,jdbcType=INTEGER},
      </if>
      <if test="monto_amortizado != null" >
        #{monto_amortizado,jdbcType=NUMERIC},
      </if>
      <if test="fecha_saldo != null" >
        #{fecha_saldo,jdbcType=DATE},
      </if>
      <if test="id_estado != null" >
        #{id_estado,jdbcType=INTEGER},
      </if>
      <if test="id_usuario_reg != null" >
        #{id_usuario_reg,jdbcType=INTEGER},
      </if>
      <if test="fecha_registro != null" >
        #{fecha_registro,jdbcType=TIMESTAMP},
      </if>
      <if test="id_usuario_mod != null" >
        #{id_usuario_mod,jdbcType=INTEGER},
      </if>
      <if test="fecha_modificacion != null" >
        #{fecha_modificacion,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.com.acme.domain.mybatis.model.GuiaSaldoExample" resultType="java.lang.Integer" >
    select count(*) from inavi.guia_saldo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update inavi.guia_saldo
    <set >
      <if test="record.id_guia_saldo != null" >
        id_guia_saldo = #{record.id_guia_saldo,jdbcType=INTEGER},
      </if>
      <if test="record.id_guia != null" >
        id_guia = #{record.id_guia,jdbcType=INTEGER},
      </if>
      <if test="record.id_moneda != null" >
        id_moneda = #{record.id_moneda,jdbcType=INTEGER},
      </if>
      <if test="record.monto_amortizado != null" >
        monto_amortizado = #{record.monto_amortizado,jdbcType=NUMERIC},
      </if>
      <if test="record.fecha_saldo != null" >
        fecha_saldo = #{record.fecha_saldo,jdbcType=DATE},
      </if>
      <if test="record.id_estado != null" >
        id_estado = #{record.id_estado,jdbcType=INTEGER},
      </if>
      <if test="record.id_usuario_reg != null" >
        id_usuario_reg = #{record.id_usuario_reg,jdbcType=INTEGER},
      </if>
      <if test="record.fecha_registro != null" >
        fecha_registro = #{record.fecha_registro,jdbcType=TIMESTAMP},
      </if>
      <if test="record.id_usuario_mod != null" >
        id_usuario_mod = #{record.id_usuario_mod,jdbcType=INTEGER},
      </if>
      <if test="record.fecha_modificacion != null" >
        fecha_modificacion = #{record.fecha_modificacion,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update inavi.guia_saldo
    set id_guia_saldo = #{record.id_guia_saldo,jdbcType=INTEGER},
      id_guia = #{record.id_guia,jdbcType=INTEGER},
      id_moneda = #{record.id_moneda,jdbcType=INTEGER},
      monto_amortizado = #{record.monto_amortizado,jdbcType=NUMERIC},
      fecha_saldo = #{record.fecha_saldo,jdbcType=DATE},
      id_estado = #{record.id_estado,jdbcType=INTEGER},
      id_usuario_reg = #{record.id_usuario_reg,jdbcType=INTEGER},
      fecha_registro = #{record.fecha_registro,jdbcType=TIMESTAMP},
      id_usuario_mod = #{record.id_usuario_mod,jdbcType=INTEGER},
      fecha_modificacion = #{record.fecha_modificacion,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.com.acme.domain.mybatis.model.GuiaSaldo" >
    update inavi.guia_saldo
    <set >
      <if test="id_guia != null" >
        id_guia = #{id_guia,jdbcType=INTEGER},
      </if>
      <if test="id_moneda != null" >
        id_moneda = #{id_moneda,jdbcType=INTEGER},
      </if>
      <if test="monto_amortizado != null" >
        monto_amortizado = #{monto_amortizado,jdbcType=NUMERIC},
      </if>
      <if test="fecha_saldo != null" >
        fecha_saldo = #{fecha_saldo,jdbcType=DATE},
      </if>
      <if test="id_estado != null" >
        id_estado = #{id_estado,jdbcType=INTEGER},
      </if>
      <if test="id_usuario_reg != null" >
        id_usuario_reg = #{id_usuario_reg,jdbcType=INTEGER},
      </if>
      <if test="fecha_registro != null" >
        fecha_registro = #{fecha_registro,jdbcType=TIMESTAMP},
      </if>
      <if test="id_usuario_mod != null" >
        id_usuario_mod = #{id_usuario_mod,jdbcType=INTEGER},
      </if>
      <if test="fecha_modificacion != null" >
        fecha_modificacion = #{fecha_modificacion,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id_guia_saldo = #{id_guia_saldo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.com.acme.domain.mybatis.model.GuiaSaldo" >
    update inavi.guia_saldo
    set id_guia = #{id_guia,jdbcType=INTEGER},
      id_moneda = #{id_moneda,jdbcType=INTEGER},
      monto_amortizado = #{monto_amortizado,jdbcType=NUMERIC},
      fecha_saldo = #{fecha_saldo,jdbcType=DATE},
      id_estado = #{id_estado,jdbcType=INTEGER},
      id_usuario_reg = #{id_usuario_reg,jdbcType=INTEGER},
      fecha_registro = #{fecha_registro,jdbcType=TIMESTAMP},
      id_usuario_mod = #{id_usuario_mod,jdbcType=INTEGER},
      fecha_modificacion = #{fecha_modificacion,jdbcType=TIMESTAMP}
    where id_guia_saldo = #{id_guia_saldo,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="pe.com.acme.domain.mybatis.model.GuiaSaldoExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from inavi.guia_saldo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>