/* undefined:1003 */
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-small-tl,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-small-bl,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-small-tr,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-small-br,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-small-tc,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-small-bc,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-small-tl,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-small-bl,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-small-tr,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-small-br,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-small-tc,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-small-bc {
    background-image: url(images/btn/btn-plain-toolbar-small-pressed-corners.gif);
}
/* undefined:1011 */
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-small-ml,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-small-mr,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-small-ml,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-small-mr {
    background-image: url(images/btn/btn-plain-toolbar-small-pressed-sides.gif);
}
/* undefined:1015 */
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-small-mc,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-small-mc {
    background-color: #e2e2e2;
}
/* undefined:1028 */
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-small-tl,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-small-bl,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-small-tr,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-small-br,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-small-tc,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-small-bc,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-small-tl,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-small-bl,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-small-tr,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-small-br,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-small-tc,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-small-bc {
    background-image: url(images/btn/btn-plain-toolbar-small-focus-pressed-corners.gif);
}
/* undefined:1036 */
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-small-ml,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-small-mr,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-small-ml,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-small-mr {
    background-image: url(images/btn/btn-plain-toolbar-small-focus-pressed-sides.gif);
}
/* undefined:1040 */
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-small-mc,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-small-mc {
    background-color: #e2e2e2;
}
/* undefined:1053 */
.x-btn.x-btn-disabled .x-btn-plain-toolbar-small-tl,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-small-bl,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-small-tr,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-small-br,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-small-tc,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-small-bc {
    background-image: url(images/btn/btn-plain-toolbar-small-disabled-corners.gif);
}
/* undefined:1061 */
.x-btn.x-btn-disabled .x-btn-plain-toolbar-small-ml,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-small-mr {
    background-image: url(images/btn/btn-plain-toolbar-small-disabled-sides.gif);
}
/* undefined:1065 */
.x-btn.x-btn-disabled .x-btn-plain-toolbar-small-mc {
    background-color: transparent;
}
/* undefined:1075 */
.x-nbr .x-btn-plain-toolbar-small {
    background-image: none;
}
/* undefined:1081 */
.x-btn-disabled.x-btn-plain-toolbar-small {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: 0.5;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-focus.x-btn-plain-toolbar-small:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-small-focus-corners.gif), sides:url(images/btn/btn-plain-toolbar-small-focus-sides.gif)" !important;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-over.x-btn-plain-toolbar-small:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-small-over-corners.gif), sides:url(images/btn/btn-plain-toolbar-small-over-sides.gif)" !important;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-focus.x-btn-over.x-btn-plain-toolbar-small:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-small-focus-over-corners.gif), sides:url(images/btn/btn-plain-toolbar-small-focus-over-sides.gif)" !important;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-pressed.x-btn-plain-toolbar-small:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-small-pressed-corners.gif), sides:url(images/btn/btn-plain-toolbar-small-pressed-sides.gif)" !important;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-focus.x-btn-pressed.x-btn-plain-toolbar-small:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-small-focus-pressed-corners.gif), sides:url(images/btn/btn-plain-toolbar-small-focus-pressed-sides.gif)" !important;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-disabled.x-btn-plain-toolbar-small:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-small-disabled-corners.gif), sides:url(images/btn/btn-plain-toolbar-small-disabled-sides.gif)" !important;
}
/* undefined:187 */
.x-btn-plain-toolbar-medium {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
}
/* undefined:237 */
.x-btn-plain-toolbar-medium-mc {
    background-color: transparent;
}
/* undefined:264 */
.x-nbr .x-btn-plain-toolbar-medium {
    padding: 0 !important;
    border-width: 0 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: transparent !important;
    box-shadow: none !important;
}
/* undefined:281 */
.x-btn-plain-toolbar-medium-frameInfo {
    font-family: th-3-3-3-3-1-1-1-1-3-3-3-3;
}
/* undefined:347 */
.x-btn-plain-toolbar-medium-tl {
    background-position: 0 -6px;
}
/* undefined:351 */
.x-btn-plain-toolbar-medium-tr {
    background-position: right -9px;
}
/* undefined:355 */
.x-btn-plain-toolbar-medium-bl {
    background-position: 0 -12px;
}
/* undefined:359 */
.x-btn-plain-toolbar-medium-br {
    background-position: right -15px;
}
/* undefined:363 */
.x-btn-plain-toolbar-medium-ml {
    background-position: 0 top;
}
/* undefined:371 */
.x-btn-plain-toolbar-medium-mr {
    background-position: right top;
}
/* undefined:379 */
.x-btn-plain-toolbar-medium-tc {
    background-position: 0 0;
}
/* undefined:383 */
.x-btn-plain-toolbar-medium-bc {
    background-position: 0 -3px;
}
/* undefined:388 */
.x-btn-plain-toolbar-medium-tr,
.x-btn-plain-toolbar-medium-br,
.x-btn-plain-toolbar-medium-mr {
    padding-right: 3px;
}
/* undefined:394 */
.x-btn-plain-toolbar-medium-tl,
.x-btn-plain-toolbar-medium-bl,
.x-btn-plain-toolbar-medium-ml {
    padding-left: 3px;
}
/* undefined:400 */
.x-btn-plain-toolbar-medium-tc {
    height: 3px;
}
/* undefined:403 */
.x-btn-plain-toolbar-medium-bc {
    height: 3px;
}
/* undefined:464 */
.x-btn-plain-toolbar-medium-mc {
    padding: 1px 1px 1px 1px;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-plain-toolbar-medium:before {
    display: none;
    content: "x-slicer:, frame:3px 3px 3px 3px" !important;
}
/* undefined:445 */
.x-btn-plain-toolbar-medium {
    border-color: transparent;
}
/* undefined:452 */
.x-btn-button-plain-toolbar-medium {
    min-height: 24px;
}
/* undefined:457 */
.x-ie9m .x-btn-button-plain-toolbar-medium {
    min-height: auto;
    height: 24px;
}
/* undefined:464 */
.x-btn-inner-plain-toolbar-medium {
    font: 300 14px/18px helvetica, arial, verdana, sans-serif;
    color: #666;
    padding: 0 8px;
    max-width: 100%;
}
/* undefined:479 */
.x-btn-icon-right > .x-btn-inner-plain-toolbar-medium,
.x-btn-icon-left > .x-btn-inner-plain-toolbar-medium {
    max-width: calc(100% - 24px);
}
/* undefined:487 */
.x-ie10p .x-btn-inner-plain-toolbar-medium {
    max-width: none;
}
/* undefined:492 */
.x-btn-icon-el-plain-toolbar-medium {
    font-size: 24px;
    height: 24px;
    color: #666;
    line-height: 24px;
}
/* undefined:498 */
.x-btn-icon-left > .x-btn-icon-el-plain-toolbar-medium,
.x-btn-icon-right > .x-btn-icon-el-plain-toolbar-medium {
    width: 24px;
}
/* undefined:503 */
.x-btn-icon-top > .x-btn-icon-el-plain-toolbar-medium,
.x-btn-icon-bottom > .x-btn-icon-el-plain-toolbar-medium {
    min-width: 24px;
}
/* undefined:508 */
.x-btn-icon-el-plain-toolbar-medium.x-btn-glyph {
    opacity: 0.5;
}
/* undefined:525 */
.x-ie8 .x-btn-icon-el-plain-toolbar-medium.x-btn-glyph {
    color: #b3b3b3;
}
/* undefined:532 */
.x-btn-text.x-btn-icon-left > .x-btn-icon-el-plain-toolbar-medium {
    margin-right: 0;
}
/* undefined:543 */
.x-btn-text.x-btn-icon-right > .x-btn-icon-el-plain-toolbar-medium {
    margin-left: 0;
}
/* undefined:554 */
.x-btn-text.x-btn-icon-top > .x-btn-icon-el-plain-toolbar-medium {
    margin-bottom: 5px;
}
/* undefined:558 */
.x-btn-text.x-btn-icon-bottom > .x-btn-icon-el-plain-toolbar-medium {
    margin-top: 5px;
}
/* undefined:564 */
.x-btn-arrow-right > .x-btn-icon.x-btn-no-text.x-btn-button-plain-toolbar-medium {
    padding-right: 8px;
}
/* undefined:567 */
.x-btn-arrow-right > .x-btn-text.x-btn-icon-right > .x-btn-icon-el-plain-toolbar-medium {
    margin-right: 8px;
}
/* undefined:574 */
.x-btn-arrow-bottom > .x-btn-button-plain-toolbar-medium,
.x-btn-split-bottom > .x-btn-button-plain-toolbar-medium {
    padding-bottom: 3px;
}
/* undefined:580 */
.x-btn-wrap-plain-toolbar-medium.x-btn-arrow-right:after {
    width: 24px;
    background-image: url(images/button/plain-toolbar-medium-arrow.png);
    padding-right: 24px;
}
/* undefined:607 */
.x-btn-wrap-plain-toolbar-medium.x-btn-arrow-bottom:after {
    height: 18px;
    background-image: url(images/button/plain-toolbar-medium-arrow.png);
}
/* undefined:647 */
.x-btn-wrap-plain-toolbar-medium.x-btn-split-right:after {
    width: 28px;
    background-image: url(images/button/plain-toolbar-medium-s-arrow.png);
    padding-right: 28px;
}
/* undefined:686 */
.x-btn-wrap-plain-toolbar-medium.x-btn-split-bottom:after {
    height: 24px;
    background-image: url(images/button/plain-toolbar-medium-s-arrow-b.png);
}
/* undefined:719 */
.x-btn-split-right > .x-btn-icon.x-btn-no-text.x-btn-button-plain-toolbar-medium {
    padding-right: 8px;
}
/* undefined:722 */
.x-btn-split-right > .x-btn-text.x-btn-icon-right > .x-btn-icon-el-plain-toolbar-medium {
    margin-right: 8px;
}
/* undefined:727 */
.x-btn-focus.x-btn-plain-toolbar-medium {
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
    -moz-box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
    box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
}
/* undefined:762 */
.x-btn-plain-toolbar-medium .x-btn-arrow-el {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 31px;
    pointer-events: none;
}
/* undefined:778 */
.x-btn-plain-toolbar-medium.x-arrow-focus .x-btn-arrow-el {
    border: 1px solid #4297d4;
}
/* undefined:785 */
.x-btn-over.x-btn-plain-toolbar-medium {
    border-color: #cfcfcf;
    background-image: none;
    background-color: #ececec;
}
/* undefined:812 */
.x-btn-focus.x-btn-over.x-btn-plain-toolbar-medium {
    -webkit-box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
    -moz-box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
    box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
}
/* undefined:840 */
.x-btn.x-btn-menu-active.x-btn-plain-toolbar-medium,
.x-btn.x-btn-pressed.x-btn-plain-toolbar-medium {
    border-color: #c7c7c7;
    background-image: none;
    background-color: #e2e2e2;
}
/* undefined:868 */
.x-btn-focus.x-btn-menu-active.x-btn-plain-toolbar-medium,
.x-btn-focus.x-btn-pressed.x-btn-plain-toolbar-medium {
    -webkit-box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
    -moz-box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
    box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
}
/* undefined:897 */
.x-btn.x-btn-disabled.x-btn-plain-toolbar-medium {
    background-image: none;
    background-color: transparent;
}
/* undefined:929 */
.x-btn-focus .x-btn-plain-toolbar-medium-tl,
.x-btn-focus .x-btn-plain-toolbar-medium-bl,
.x-btn-focus .x-btn-plain-toolbar-medium-tr,
.x-btn-focus .x-btn-plain-toolbar-medium-br,
.x-btn-focus .x-btn-plain-toolbar-medium-tc,
.x-btn-focus .x-btn-plain-toolbar-medium-bc {
    background-image: url(images/btn/btn-plain-toolbar-medium-focus-corners.gif);
}
/* undefined:937 */
.x-btn-focus .x-btn-plain-toolbar-medium-ml,
.x-btn-focus .x-btn-plain-toolbar-medium-mr {
    background-image: url(images/btn/btn-plain-toolbar-medium-focus-sides.gif);
}
/* undefined:941 */
.x-btn-focus .x-btn-plain-toolbar-medium-mc {
    background-color: transparent;
}
/* undefined:953 */
.x-btn-over .x-btn-plain-toolbar-medium-tl,
.x-btn-over .x-btn-plain-toolbar-medium-bl,
.x-btn-over .x-btn-plain-toolbar-medium-tr,
.x-btn-over .x-btn-plain-toolbar-medium-br,
.x-btn-over .x-btn-plain-toolbar-medium-tc,
.x-btn-over .x-btn-plain-toolbar-medium-bc {
    background-image: url(images/btn/btn-plain-toolbar-medium-over-corners.gif);
}
/* undefined:961 */
.x-btn-over .x-btn-plain-toolbar-medium-ml,
.x-btn-over .x-btn-plain-toolbar-medium-mr {
    background-image: url(images/btn/btn-plain-toolbar-medium-over-sides.gif);
}
/* undefined:965 */
.x-btn-over .x-btn-plain-toolbar-medium-mc {
    background-color: #ececec;
}
/* undefined:977 */
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-medium-tl,
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-medium-bl,
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-medium-tr,
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-medium-br,
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-medium-tc,
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-medium-bc {
    background-image: url(images/btn/btn-plain-toolbar-medium-focus-over-corners.gif);
}
/* undefined:985 */
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-medium-ml,
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-medium-mr {
    background-image: url(images/btn/btn-plain-toolbar-medium-focus-over-sides.gif);
}
/* undefined:989 */
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-medium-mc {
    background-color: #ececec;
}
/* undefined:1003 */
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-medium-tl,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-medium-bl,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-medium-tr,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-medium-br,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-medium-tc,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-medium-bc,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-medium-tl,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-medium-bl,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-medium-tr,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-medium-br,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-medium-tc,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-medium-bc {
    background-image: url(images/btn/btn-plain-toolbar-medium-pressed-corners.gif);
}
/* undefined:1011 */
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-medium-ml,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-medium-mr,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-medium-ml,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-medium-mr {
    background-image: url(images/btn/btn-plain-toolbar-medium-pressed-sides.gif);
}
/* undefined:1015 */
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-medium-mc,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-medium-mc {
    background-color: #e2e2e2;
}
/* undefined:1028 */
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-medium-tl,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-medium-bl,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-medium-tr,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-medium-br,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-medium-tc,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-medium-bc,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-medium-tl,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-medium-bl,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-medium-tr,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-medium-br,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-medium-tc,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-medium-bc {
    background-image: url(images/btn/btn-plain-toolbar-medium-focus-pressed-corners.gif);
}
/* undefined:1036 */
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-medium-ml,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-medium-mr,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-medium-ml,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-medium-mr {
    background-image: url(images/btn/btn-plain-toolbar-medium-focus-pressed-sides.gif);
}
/* undefined:1040 */
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-medium-mc,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-medium-mc {
    background-color: #e2e2e2;
}
/* undefined:1053 */
.x-btn.x-btn-disabled .x-btn-plain-toolbar-medium-tl,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-medium-bl,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-medium-tr,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-medium-br,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-medium-tc,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-medium-bc {
    background-image: url(images/btn/btn-plain-toolbar-medium-disabled-corners.gif);
}
/* undefined:1061 */
.x-btn.x-btn-disabled .x-btn-plain-toolbar-medium-ml,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-medium-mr {
    background-image: url(images/btn/btn-plain-toolbar-medium-disabled-sides.gif);
}
/* undefined:1065 */
.x-btn.x-btn-disabled .x-btn-plain-toolbar-medium-mc {
    background-color: transparent;
}
/* undefined:1075 */
.x-nbr .x-btn-plain-toolbar-medium {
    background-image: none;
}
/* undefined:1081 */
.x-btn-disabled.x-btn-plain-toolbar-medium {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: 0.5;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-focus.x-btn-plain-toolbar-medium:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-medium-focus-corners.gif), sides:url(images/btn/btn-plain-toolbar-medium-focus-sides.gif)" !important;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-over.x-btn-plain-toolbar-medium:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-medium-over-corners.gif), sides:url(images/btn/btn-plain-toolbar-medium-over-sides.gif)" !important;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-focus.x-btn-over.x-btn-plain-toolbar-medium:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-medium-focus-over-corners.gif), sides:url(images/btn/btn-plain-toolbar-medium-focus-over-sides.gif)" !important;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-pressed.x-btn-plain-toolbar-medium:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-medium-pressed-corners.gif), sides:url(images/btn/btn-plain-toolbar-medium-pressed-sides.gif)" !important;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-focus.x-btn-pressed.x-btn-plain-toolbar-medium:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-medium-focus-pressed-corners.gif), sides:url(images/btn/btn-plain-toolbar-medium-focus-pressed-sides.gif)" !important;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-disabled.x-btn-plain-toolbar-medium:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-medium-disabled-corners.gif), sides:url(images/btn/btn-plain-toolbar-medium-disabled-sides.gif)" !important;
}
/* undefined:187 */
.x-btn-plain-toolbar-large {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
}
/* undefined:237 */
.x-btn-plain-toolbar-large-mc {
    background-color: transparent;
}
/* undefined:264 */
.x-nbr .x-btn-plain-toolbar-large {
    padding: 0 !important;
    border-width: 0 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: transparent !important;
    box-shadow: none !important;
}
/* undefined:281 */
.x-btn-plain-toolbar-large-frameInfo {
    font-family: th-3-3-3-3-1-1-1-1-3-3-3-3;
}
/* undefined:347 */
.x-btn-plain-toolbar-large-tl {
    background-position: 0 -6px;
}
/* undefined:351 */
.x-btn-plain-toolbar-large-tr {
    background-position: right -9px;
}
/* undefined:355 */
.x-btn-plain-toolbar-large-bl {
    background-position: 0 -12px;
}
/* undefined:359 */
.x-btn-plain-toolbar-large-br {
    background-position: right -15px;
}
/* undefined:363 */
.x-btn-plain-toolbar-large-ml {
    background-position: 0 top;
}
/* undefined:371 */
.x-btn-plain-toolbar-large-mr {
    background-position: right top;
}
/* undefined:379 */
.x-btn-plain-toolbar-large-tc {
    background-position: 0 0;
}
/* undefined:383 */
.x-btn-plain-toolbar-large-bc {
    background-position: 0 -3px;
}
/* undefined:388 */
.x-btn-plain-toolbar-large-tr,
.x-btn-plain-toolbar-large-br,
.x-btn-plain-toolbar-large-mr {
    padding-right: 3px;
}
/* undefined:394 */
.x-btn-plain-toolbar-large-tl,
.x-btn-plain-toolbar-large-bl,
.x-btn-plain-toolbar-large-ml {
    padding-left: 3px;
}
/* undefined:400 */
.x-btn-plain-toolbar-large-tc {
    height: 3px;
}
/* undefined:403 */
.x-btn-plain-toolbar-large-bc {
    height: 3px;
}
/* undefined:464 */
.x-btn-plain-toolbar-large-mc {
    padding: 1px 1px 1px 1px;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-plain-toolbar-large:before {
    display: none;
    content: "x-slicer:, frame:3px 3px 3px 3px" !important;
}
/* undefined:445 */
.x-btn-plain-toolbar-large {
    border-color: transparent;
}
/* undefined:452 */
.x-btn-button-plain-toolbar-large {
    min-height: 32px;
}
/* undefined:457 */
.x-ie9m .x-btn-button-plain-toolbar-large {
    min-height: auto;
    height: 32px;
}
/* undefined:464 */
.x-btn-inner-plain-toolbar-large {
    font: 300 16px/20px helvetica, arial, verdana, sans-serif;
    color: #666;
    padding: 0 10px;
    max-width: 100%;
}
/* undefined:479 */
.x-btn-icon-right > .x-btn-inner-plain-toolbar-large,
.x-btn-icon-left > .x-btn-inner-plain-toolbar-large {
    max-width: calc(100% - 32px);
}
/* undefined:487 */
.x-ie10p .x-btn-inner-plain-toolbar-large {
    max-width: none;
}
/* undefined:492 */
.x-btn-icon-el-plain-toolbar-large {
    font-size: 32px;
    height: 32px;
    color: #666;
    line-height: 32px;
}
/* undefined:498 */
.x-btn-icon-left > .x-btn-icon-el-plain-toolbar-large,
.x-btn-icon-right > .x-btn-icon-el-plain-toolbar-large {
    width: 32px;
}
/* undefined:503 */
.x-btn-icon-top > .x-btn-icon-el-plain-toolbar-large,
.x-btn-icon-bottom > .x-btn-icon-el-plain-toolbar-large {
    min-width: 32px;
}
/* undefined:508 */
.x-btn-icon-el-plain-toolbar-large.x-btn-glyph {
    opacity: 0.5;
}
/* undefined:525 */
.x-ie8 .x-btn-icon-el-plain-toolbar-large.x-btn-glyph {
    color: #b3b3b3;
}
/* undefined:532 */
.x-btn-text.x-btn-icon-left > .x-btn-icon-el-plain-toolbar-large {
    margin-right: 0;
}
/* undefined:543 */
.x-btn-text.x-btn-icon-right > .x-btn-icon-el-plain-toolbar-large {
    margin-left: 0;
}
/* undefined:554 */
.x-btn-text.x-btn-icon-top > .x-btn-icon-el-plain-toolbar-large {
    margin-bottom: 5px;
}
/* undefined:558 */
.x-btn-text.x-btn-icon-bottom > .x-btn-icon-el-plain-toolbar-large {
    margin-top: 5px;
}
/* undefined:564 */
.x-btn-arrow-right > .x-btn-icon.x-btn-no-text.x-btn-button-plain-toolbar-large {
    padding-right: 10px;
}
/* undefined:567 */
.x-btn-arrow-right > .x-btn-text.x-btn-icon-right > .x-btn-icon-el-plain-toolbar-large {
    margin-right: 10px;
}
/* undefined:574 */
.x-btn-arrow-bottom > .x-btn-button-plain-toolbar-large,
.x-btn-split-bottom > .x-btn-button-plain-toolbar-large {
    padding-bottom: 3px;
}
/* undefined:580 */
.x-btn-wrap-plain-toolbar-large.x-btn-arrow-right:after {
    width: 28px;
    background-image: url(images/button/plain-toolbar-large-arrow.png);
    padding-right: 28px;
}
/* undefined:607 */
.x-btn-wrap-plain-toolbar-large.x-btn-arrow-bottom:after {
    height: 20px;
    background-image: url(images/button/plain-toolbar-large-arrow.png);
}
/* undefined:647 */
.x-btn-wrap-plain-toolbar-large.x-btn-split-right:after {
    width: 35px;
    background-image: url(images/button/plain-toolbar-large-s-arrow.png);
    padding-right: 35px;
}
/* undefined:686 */
.x-btn-wrap-plain-toolbar-large.x-btn-split-bottom:after {
    height: 29px;
    background-image: url(images/button/plain-toolbar-large-s-arrow-b.png);
}
/* undefined:719 */
.x-btn-split-right > .x-btn-icon.x-btn-no-text.x-btn-button-plain-toolbar-large {
    padding-right: 10px;
}
/* undefined:722 */
.x-btn-split-right > .x-btn-text.x-btn-icon-right > .x-btn-icon-el-plain-toolbar-large {
    margin-right: 10px;
}
/* undefined:727 */
.x-btn-focus.x-btn-plain-toolbar-large {
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
    -moz-box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
    box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
}
/* undefined:762 */
.x-btn-plain-toolbar-large .x-btn-arrow-el {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 38px;
    pointer-events: none;
}
/* undefined:778 */
.x-btn-plain-toolbar-large.x-arrow-focus .x-btn-arrow-el {
    border: 1px solid #4297d4;
}
/* undefined:785 */
.x-btn-over.x-btn-plain-toolbar-large {
    border-color: #cfcfcf;
    background-image: none;
    background-color: #ececec;
}
/* undefined:812 */
.x-btn-focus.x-btn-over.x-btn-plain-toolbar-large {
    -webkit-box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
    -moz-box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
    box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
}
/* undefined:840 */
.x-btn.x-btn-menu-active.x-btn-plain-toolbar-large,
.x-btn.x-btn-pressed.x-btn-plain-toolbar-large {
    border-color: #c7c7c7;
    background-image: none;
    background-color: #e2e2e2;
}
/* undefined:868 */
.x-btn-focus.x-btn-menu-active.x-btn-plain-toolbar-large,
.x-btn-focus.x-btn-pressed.x-btn-plain-toolbar-large {
    -webkit-box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
    -moz-box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
    box-shadow: #4297d4 0 1px 0px 0 inset, #4297d4 0 -1px 0px 0 inset, #4297d4 -1px 0 0px 0 inset, #4297d4 1px 0 0px 0 inset;
}
/* undefined:897 */
.x-btn.x-btn-disabled.x-btn-plain-toolbar-large {
    background-image: none;
    background-color: transparent;
}
/* undefined:929 */
.x-btn-focus .x-btn-plain-toolbar-large-tl,
.x-btn-focus .x-btn-plain-toolbar-large-bl,
.x-btn-focus .x-btn-plain-toolbar-large-tr,
.x-btn-focus .x-btn-plain-toolbar-large-br,
.x-btn-focus .x-btn-plain-toolbar-large-tc,
.x-btn-focus .x-btn-plain-toolbar-large-bc {
    background-image: url(images/btn/btn-plain-toolbar-large-focus-corners.gif);
}
/* undefined:937 */
.x-btn-focus .x-btn-plain-toolbar-large-ml,
.x-btn-focus .x-btn-plain-toolbar-large-mr {
    background-image: url(images/btn/btn-plain-toolbar-large-focus-sides.gif);
}
/* undefined:941 */
.x-btn-focus .x-btn-plain-toolbar-large-mc {
    background-color: transparent;
}
/* undefined:953 */
.x-btn-over .x-btn-plain-toolbar-large-tl,
.x-btn-over .x-btn-plain-toolbar-large-bl,
.x-btn-over .x-btn-plain-toolbar-large-tr,
.x-btn-over .x-btn-plain-toolbar-large-br,
.x-btn-over .x-btn-plain-toolbar-large-tc,
.x-btn-over .x-btn-plain-toolbar-large-bc {
    background-image: url(images/btn/btn-plain-toolbar-large-over-corners.gif);
}
/* undefined:961 */
.x-btn-over .x-btn-plain-toolbar-large-ml,
.x-btn-over .x-btn-plain-toolbar-large-mr {
    background-image: url(images/btn/btn-plain-toolbar-large-over-sides.gif);
}
/* undefined:965 */
.x-btn-over .x-btn-plain-toolbar-large-mc {
    background-color: #ececec;
}
/* undefined:977 */
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-large-tl,
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-large-bl,
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-large-tr,
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-large-br,
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-large-tc,
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-large-bc {
    background-image: url(images/btn/btn-plain-toolbar-large-focus-over-corners.gif);
}
/* undefined:985 */
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-large-ml,
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-large-mr {
    background-image: url(images/btn/btn-plain-toolbar-large-focus-over-sides.gif);
}
/* undefined:989 */
.x-btn-focus.x-btn-over .x-btn-plain-toolbar-large-mc {
    background-color: #ececec;
}
/* undefined:1003 */
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-large-tl,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-large-bl,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-large-tr,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-large-br,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-large-tc,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-large-bc,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-large-tl,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-large-bl,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-large-tr,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-large-br,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-large-tc,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-large-bc {
    background-image: url(images/btn/btn-plain-toolbar-large-pressed-corners.gif);
}
/* undefined:1011 */
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-large-ml,
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-large-mr,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-large-ml,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-large-mr {
    background-image: url(images/btn/btn-plain-toolbar-large-pressed-sides.gif);
}
/* undefined:1015 */
.x-btn.x-btn-menu-active .x-btn-plain-toolbar-large-mc,
.x-btn.x-btn-pressed .x-btn-plain-toolbar-large-mc {
    background-color: #e2e2e2;
}
/* undefined:1028 */
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-large-tl,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-large-bl,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-large-tr,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-large-br,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-large-tc,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-large-bc,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-large-tl,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-large-bl,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-large-tr,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-large-br,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-large-tc,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-large-bc {
    background-image: url(images/btn/btn-plain-toolbar-large-focus-pressed-corners.gif);
}
/* undefined:1036 */
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-large-ml,
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-large-mr,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-large-ml,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-large-mr {
    background-image: url(images/btn/btn-plain-toolbar-large-focus-pressed-sides.gif);
}
/* undefined:1040 */
.x-btn-focus.x-btn-menu-active .x-btn-plain-toolbar-large-mc,
.x-btn-focus.x-btn-pressed .x-btn-plain-toolbar-large-mc {
    background-color: #e2e2e2;
}
/* undefined:1053 */
.x-btn.x-btn-disabled .x-btn-plain-toolbar-large-tl,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-large-bl,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-large-tr,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-large-br,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-large-tc,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-large-bc {
    background-image: url(images/btn/btn-plain-toolbar-large-disabled-corners.gif);
}
/* undefined:1061 */
.x-btn.x-btn-disabled .x-btn-plain-toolbar-large-ml,
.x-btn.x-btn-disabled .x-btn-plain-toolbar-large-mr {
    background-image: url(images/btn/btn-plain-toolbar-large-disabled-sides.gif);
}
/* undefined:1065 */
.x-btn.x-btn-disabled .x-btn-plain-toolbar-large-mc {
    background-color: transparent;
}
/* undefined:1075 */
.x-nbr .x-btn-plain-toolbar-large {
    background-image: none;
}
/* undefined:1081 */
.x-btn-disabled.x-btn-plain-toolbar-large {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: 0.5;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-focus.x-btn-plain-toolbar-large:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-large-focus-corners.gif), sides:url(images/btn/btn-plain-toolbar-large-focus-sides.gif)" !important;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-over.x-btn-plain-toolbar-large:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-large-over-corners.gif), sides:url(images/btn/btn-plain-toolbar-large-over-sides.gif)" !important;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-focus.x-btn-over.x-btn-plain-toolbar-large:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-large-focus-over-corners.gif), sides:url(images/btn/btn-plain-toolbar-large-focus-over-sides.gif)" !important;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-pressed.x-btn-plain-toolbar-large:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-large-pressed-corners.gif), sides:url(images/btn/btn-plain-toolbar-large-pressed-sides.gif)" !important;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-focus.x-btn-pressed.x-btn-plain-toolbar-large:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-large-focus-pressed-corners.gif), sides:url(images/btn/btn-plain-toolbar-large-focus-pressed-sides.gif)" !important;
}
/* undefined:83 */
.x-cmd-slicer.x-btn-disabled.x-btn-plain-toolbar-large:before {
    display: none;
    content: "x-slicer:, stretch:bottom, frame:3px 3px 3px 3px, corners:url(images/btn/btn-plain-toolbar-large-disabled-corners.gif), sides:url(images/btn/btn-plain-toolbar-large-disabled-sides.gif)" !important;
}
/* undefined:220 */
.x-btn-plain-toolbar-small-disabled .x-btn-icon-el,
.x-btn-plain-toolbar-medium-disabled .x-btn-icon-el,
.x-btn-plain-toolbar-large-disabled .x-btn-icon-el {
    background-color: #fff;
}
/* undefined:223 */
.x-ie8 .x-btn-plain-toolbar-small-disabled .x-btn-icon-el,
.x-ie8 .x-btn-plain-toolbar-medium-disabled .x-btn-icon-el,
.x-ie8 .x-btn-plain-toolbar-large-disabled .x-btn-icon-el {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: 0.5;
}
/* undefined:1 */
.x-html-editor-container {
    border: 1px solid;
    border-color: #cfcfcf;
}
/* undefined:1 */
.x-grid-header-ct {
    border: 1px solid #cfcfcf;
}
/* undefined:6 */
.x-column-header-trigger {
    background-color: #eff6fb;
    border-left: 1px solid #cfcfcf;
}
/* undefined:18 */
.x-column-header-last {
    border-right-width: 0;
}
/* undefined:20 */
.x-column-header-last .x-column-header-over .x-column-header-trigger {
    border-right: 1px solid #cfcfcf;
}
/* undefined:1 */
.x-resizable-handle {
    background-color: #cfcfcf;
    background-repeat: no-repeat;
}
/* undefined:7 */
.x-resizable-handle-east-over,
.x-resizable-handle-west-over {
    background-position: center;
}
/* undefined:12 */
.x-resizable-handle-south-over,
.x-resizable-handle-north-over {
    background-position: center;
}
/* undefined:17 */
.x-resizable-handle-southeast-over {
    background-position: -2px -2px;
}
/* undefined:21 */
.x-resizable-handle-northwest-over {
    background-position: 2px 2px;
}
/* undefined:25 */
.x-resizable-handle-northeast-over {
    background-position: -2px 2px;
}
/* undefined:29 */
.x-resizable-handle-southwest-over {
    background-position: 2px -2px;
}
/* undefined:34 */
.x-resizable-pinned .x-resizable-handle-east,
.x-resizable-pinned .x-resizable-handle-west {
    background-position: center;
}
/* undefined:39 */
.x-resizable-pinned .x-resizable-handle-south,
.x-resizable-pinned .x-resizable-handle-north {
    background-position: center;
}
/* undefined:44 */
.x-resizable-pinned .x-resizable-handle-southeast {
    background-position: -2px -2px;
}
/* undefined:48 */
.x-resizable-pinned .x-resizable-handle-northwest {
    background-position: 2px 2px;
}
/* undefined:52 */
.x-resizable-pinned .x-resizable-handle-northeast {
    background-position: -2px 2px;
}
/* undefined:56 */
.x-resizable-pinned .x-resizable-handle-southwest {
    background-position: 2px -2px;
}