<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="pe.com.acme.query.mybatis.mapper.AplicacionPorUsuarioQueryMapper">

<sql id="outs"> 
<![CDATA[

a.id_aplicacion,a.nombre_aplicacion

]]>
</sql> 

<sql id="from"> 
<![CDATA[

seguridad.aplicacion a 
inner join seguridad.perfil_aplicacion p on a.id_aplicacion = p.id_aplicacion
inner join seguridad.usuario_perfil u on p.id_perfil = u.id_perfil

]]>
</sql> 

<sql id="inputs"> 
<![CDATA[

--u.id_usuario in (select ur.id_usuario from seguridad.usuario_rol ur where ur.id_aplicacion = a.id_aplicacion and ur.id_usuario = u.id_usuario)
--and
u.id_usuario = #{id_usuario}
and upper(a.nombre_aplicacion) like coalesce('%' || upper(#{nombre_aplicacion}) || '%',upper(a.nombre_aplicacion))

]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${order_column} ${order_direction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="pe.com.acme.query.mybatis.model.AplicacionPorUsuarioQuery" parameterType="pe.com.acme.query.mybatis.model.AplicacionPorUsuarioQueryCriteria">
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="pe.com.acme.query.mybatis.model.AplicacionPorUsuarioQuery" parameterType="java.util.Map">
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="pe.com.acme.query.mybatis.model.AplicacionPorUsuarioQuery" parameterType="pe.com.acme.query.mybatis.model.AplicacionPorUsuarioQueryCriteria">
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="pe.com.acme.query.mybatis.model.AplicacionPorUsuarioQuery" parameterType="java.util.Map">
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="pe.com.acme.query.mybatis.model.AplicacionPorUsuarioQueryCriteria">
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
