<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="pe.com.focus.sakerk.repository.custom.mapper.EstudioQueryMapper"> 

<sql id="outs"> 
<![CDATA[

et.id_estudio ,
et.id_categoria_estudio ,
cet.descrip_categoria_estudio,
et.nombre_estudio,
et.id_estado ,
eg.descrip_estado_generico as "descrip_estado",
to_char(et.fecha_registro, 'DD/MM/YYYY HH24:MI:ss') as "fecha_registro"

]]>
</sql> 

<sql id="from"> 
<![CDATA[

sakerk.estudio et
inner join vw_categoria_estudio cet
on et.id_categoria_estudio = cet.id_categoria_estudio
inner join 
vw_estado_generico eg
on et.id_estado = eg.id_estado_generico

]]>
</sql> 

<sql id="inputs"> 
<![CDATA[
	
et.id_estudio = COALESCE(#{id_estudio},et.id_estudio) and
et.id_categoria_estudio = COALESCE(#{id_categoria_estudio},et.id_categoria_estudio) and
et.nombre_estudio like COALESCE(('%' || #{nombre_estudio} || '%'),et.nombre_estudio) and
et.id_estado = COALESCE(#{id_estado},et.id_estado)

]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${orderColumn} ${orderDirecction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="pe.com.focus.sakerk.repository.custom.model.EstudioQuery" parameterType="pe.com.focus.sakerk.repository.custom.model.EstudioQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="pe.com.focus.sakerk.repository.custom.model.EstudioQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="pe.com.focus.sakerk.repository.custom.model.EstudioQuery" parameterType="pe.com.focus.sakerk.repository.custom.model.EstudioQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="pe.com.focus.sakerk.repository.custom.model.EstudioQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="pe.com.focus.sakerk.repository.custom.model.EstudioQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
