<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="pe.com.focus.sakerk.repository.custom.mapper.RegistroPersonaJuridicaQueryMapper"> 

<sql id="outs"> 
<![CDATA[

				pj.id_persona_juridica ,
				pj.id_tipo_persona_juridica ,
				pj.razon_social 
			
]]>
</sql> 

<sql id="from"> 
<![CDATA[

			general.persona p
			inner join general.persona_juridica pj
			on p.id_persona = pj.id_persona_juridica
			
]]>
</sql> 

<sql id="inputs"> 
<![CDATA[

				p.id_persona = COALESCE(#{id_persona  },p.id_persona) and
				pj.id_persona_juridica = COALESCE(#{id_persona_juridica  },pj.id_persona_juridica) and
				pj.id_tipo_persona_juridica = COALESCE(#{id_tipo_persona_juridica  },pj.id_tipo_persona_juridica)	
			
]]>
</sql> 

<sql id="order"> 
<![CDATA[
ORDER BY ${orderColumn} ${orderDirecction}
]]>
</sql> 

<select id="getListQueryByCriteria" resultType="pe.com.focus.sakerk.repository.custom.model.RegistroPersonaJuridicaQuery" parameterType="pe.com.focus.sakerk.repository.custom.model.RegistroPersonaJuridicaQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryByMap" resultType="pe.com.focus.sakerk.repository.custom.model.RegistroPersonaJuridicaQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByCriteria" resultType="pe.com.focus.sakerk.repository.custom.model.RegistroPersonaJuridicaQuery" parameterType="pe.com.focus.sakerk.repository.custom.model.RegistroPersonaJuridicaQueryCriteria"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getListQueryPaginationByMap" resultType="pe.com.focus.sakerk.repository.custom.model.RegistroPersonaJuridicaQuery" parameterType="java.util.Map"> 
select 
<include refid="outs" /> 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
<include refid="order" /> 
</select> 

<select id="getCountRowsByCriteria" resultType="java.lang.Integer" parameterType="pe.com.focus.sakerk.repository.custom.model.RegistroPersonaJuridicaQueryCriteria"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

<select id="getCountRowsByMap" resultType="java.lang.Integer" parameterType="java.util.Map"> 
select 
count(*) 
from 
<include refid="from" /> 
where 
<include refid="inputs" /> 
</select> 

</mapper> 
